.gap {
  &-0 {
    gap: 0 !important;
  }

  &-1 {
    gap: rem(1);
  }

  &-2 {
    gap: rem(2);
  }

  &-3 {
    gap: rem(3);
  }

  &-4 {
    gap: rem(4);
  }

  &-5 {
    gap: rem(5);
  }

  &-6 {
    gap: rem(6);
  }

  &-7 {
    gap: rem(7);
  }

  &-8 {
    gap: rem(8);
  }

  &-9 {
    gap: rem(9);
  }

  &-10 {
    gap: rem(10);
  }

  &-15 {
    gap: rem(15);
  }

  &-20 {
    gap: rem(20);
  }

  &-25 {
    gap: rem(25);
  }

  &-30 {
    gap: rem(30);
  }

  &-35 {
    gap: rem(35);
  }

  &-40 {
    gap: rem(40);
  }

  &-45 {
    gap: rem(45);
  }

  &-50 {
    gap: rem(50);
  }

  &-55 {
    gap: rem(55);
  }

  &-60 {
    gap: rem(60);
  }

  &-65 {
    gap: rem(65);
  }

  &-70 {
    gap: rem(70);
  }

  &-75 {
    gap: rem(75);
  }

  &-80 {
    gap: rem(80);
  }

  &-85 {
    gap: rem(85);
  }

  &-90 {
    gap: rem(90);
  }

  &-95 {
    gap: rem(95);
  }

  &-100 {
    gap: rem(100);
  }

  &-120 {
    gap: rem(120);
  }

  &-300 {
    gap: rem(300);
  }
}

.gap--mob {
  &-0 {
    @include r(767) {
      gap: rem(0);
    }
  }

  &-1 {
    @include r(767) {
      gap: rem(1);
    }
  }

  &-2 {
    @include r(767) {
      gap: rem(2);
    }
  }

  &-3 {
    @include r(767) {
      gap: rem(3);
    }
  }

  &-4 {
    @include r(767) {
      gap: rem(4);
    }
  }

  &-5 {
    @include r(767) {
      gap: rem(5);
    }
  }

  &-6 {
    @include r(767) {
      gap: rem(6);
    }
  }

  &-7 {
    @include r(767) {
      gap: rem(7);
    }
  }

  &-8 {
    @include r(767) {
      gap: rem(8);
    }
  }

  &-9 {
    @include r(767) {
      gap: rem(9);
    }
  }

  &-10 {
    @include r(767) {
      gap: rem(10);
    }
  }

  &-15 {
    @include r(767) {
      gap: rem(15);
    }
  }

  &-20 {
    @include r(767) {
      gap: rem(20);
    }
  }

  &-25 {
    @include r(767) {
      gap: rem(25);
    }
  }

  &-30 {
    @include r(767) {
      gap: rem(30);
    }
  }

  &-35 {
    @include r(767) {
      gap: rem(35);
    }
  }

  &-35 {
    @include r(767) {
      gap: rem(35);
    }
  }

  &-40 {
    @include r(767) {
      gap: rem(40);
    }
  }

  &-45 {
    @include r(767) {
      gap: rem(45);
    }
  }

  &-50 {
    @include r(767) {
      gap: rem(50);
    }
  }

  &-55 {
    @include r(767) {
      gap: rem(55);
    }
  }

  &-60 {
    @include r(767) {
      gap: rem(60);
    }
  }

  &-65 {
    @include r(767) {
      gap: rem(65);
    }
  }

  &-70 {
    @include r(767) {
      gap: rem(70);
    }
  }

  &-75 {
    @include r(767) {
      gap: rem(75);
    }
  }

  &-80 {
    @include r(767) {
      gap: rem(80);
    }
  }

  &-85 {
    @include r(767) {
      gap: rem(85);
    }
  }

  &-90 {
    @include r(767) {
      gap: rem(90);
    }
  }

  &-95 {
    @include r(767) {
      gap: rem(95);
    }
  }

  &-100 {
    @include r(767) {
      gap: rem(100);
    }
  }
}
