.main-container {
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  min-width: rem(360);
  min-height: 100%;
  @include r(767) {
    overflow-x: hidden;
  }
}