.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: rem(565);
  max-width: rem(660);
  margin: 0 auto;
  position: relative;
  text-align: center;
  @include r(767) {
    min-height: auto;
  }
  &__title {
    font-size: calc(156px + 164 * ((100vw - 320px) / (1920 - 320)));
    font-weight: 700;
    line-height: 1;
    @include r(767) {
      margin-bottom: rem(45);
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: rem(80);
    z-index: 1;
  }
  &__picture {
    position: absolute;
    width: 100%;
    max-height: rem(390);
    margin: 0 auto;
    top: rem(-50);
    z-index: 0;
    @include r(767) {
      max-height: rem(220);
      width: rem(300);
      top: rem(30);
    }
    img {
      opacity: .6;
    }
  }
}