.search-page {
  padding: rem(50);
  background-color: #F2F4F6;
  border-radius: rem(10);

  label {
    max-width: rem(855);
  }
  input {
    font-weight: 500;
  }

  input:focus {
    outline: 1px solid #178699;
  }

  button[type="submit"] {
    width: 100%;
    max-width: rem(185);
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}