.mob-menu {
  display: none;
  visibility: hidden;
  @include r(1200) {
    display: block;
    visibility: visible;
    margin-left: rem(40);
  }

  &__burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: rem(32);
    height: rem(32);
    padding: rem(8) rem(3.5);

    span {
      display: block;
      position: relative;
      width: rem(25);
      height: 2px;
      background-color: #2E3A59;
      transition: all .3s ease-in-out;

      &:first-child {
        width: 50%;
        transition: right .4s ease-in-out;
      }
    }
  }

  &__burger.active {
    span:first-child {
      right: -100%;
      visibility: hidden;
      display: none;
    }

    span:nth-child(2) {
      transform: rotate(45deg);
      top: rem(7);
    }

    span:nth-child(3) {
      transform: rotate(-45deg);
      bottom: rem(7);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    max-width: rem(330);
    min-height: rem(567);
    top: rem(54);
    right: rem(-400);
    background-color: #FFFFFF;
    padding: rem(60) rem(20) rem(35);
    border-radius: rem(10);
    -webkit-box-shadow: -4px 8px 11px -2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: -4px 8px 11px -2px rgba(0, 0, 0, 0.2);
    box-shadow: -4px 8px 11px -2px rgba(0, 0, 0, 0.2);
    transition: right 1s ease-in-out;
    @include r(767) {
      top: rem(72);
    }
  }

  &__content.active {
    right: 0;
  }

  &__list {
  }

  &__item {
  }

  &__link {
    display: flex;
    align-items: center;
    border-radius: rem(10);
    padding: rem(12) rem(15);
    transition: all .3s ease-in-out;

    &:hover {
      background-color: $green;
      color: #FFFFFF;
     svg {
        fill: #FFFFFF;
      }
    }
  }

  &__link-icon {
    width: rem(16);
    height: rem(16);
    fill: $darkGreen;
    margin-right: rem(15);
  }

  &__link-leave {
    display: flex;
    align-items: center;
    margin-top: auto;
    color: #BDBDBD;

    svg {
      width: rem(16);
      height: rem(16);
      fill: #BDBDBD;
      margin-right: rem(14);
    }
  }

}