.block-scroll {
  @include r(767) {
    overflow-x: scroll;
    scroll-snap-type: both mandatory;
  }

  &__inner {
    @include r(767) {
      width: 200vw;
      scroll-snap-align: center;
    }
  }
}