.calendar {
 padding: rem(30);
  form {

  }

  &__body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: rem(60);
    background-color: #FFFFFF;
    padding: rem(45) rem(100);
    border-radius: 10px;
    margin-bottom: rem(50);
  }

  &__part {
    width: 45%;
    max-width: rem(370);
    padding-bottom: rem(50);
  }

  &__part-title {
    text-align: center;
    font-size: rem(18);
    color: #0E3449;
    padding-bottom: rem(10);
    margin-bottom: rem(35);
    border-bottom: 1px solid #D0DFE4;
  }

  &__week {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: rem(-30);
    left: 0;
    width: 100%;

    span {
      width: rem(30);
      height: rem(30);
      text-align: center;
    }
  }

  &__day {
    position: relative;
    column-count: 7;
    column-gap: rem(19);
  }

  &__hour {
    padding: rem(27) rem(40);
    background-color: #F5F9FA;
    border-radius: 5px;
    overflow: hidden;
    column-count: 4;
    column-gap: rem(10);
  }

  &__day-header {
    text-align: center;
    margin-bottom: rem(65);
  }

  &__day-current {
    font-weight: 500;
    font-size: rem(18);
    color: #007C8E;
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__nav-icon {
    width: rem(9);
    height: rem(15);
    fill: #7CBBC5;
  }

  &__nav-btn {
    cursor: pointer;
    width: rem(30);
    height: rem(30);
  }

  &__nav-btn--prev {
    svg {
      transform: rotate(180deg);
      transform-origin: center;
    }
  }

  &__label {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    border-radius: 5px;
    overflow: hidden;
    user-select: none;
    z-index: 2;
  }

  &__day-label {
    width: rem(35);
    height: rem(35);
    margin-bottom: rem(16);
  }

  &__hour-label {
    width: rem(65);
    height: rem(35);
    margin-bottom: rem(10);
  }

  &__input {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #EDF5F6;
    color: #007C8E;
    font-size: rem(12);
    z-index: -1;
  }

  input:checked + .calendar__input {
    background-color: #007C8E;
    color: #FFFFFF;
  }


  input:disabled + .calendar__input {
    background-color: transparent;
  }

  input:disabled {
    .calendar__day-label {
      color: #98BACD;
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    width: 100%;
    border-top: 1px solid #D0DFE4;
    padding-top: rem(30);

    svg {
      width: rem(13);
      height: rem(15);
      margin-right: rem(10);
    }
  }

  &__bottom-text {
    display: flex;
    align-items: center;
    color: #98BACD;
    margin-right: rem(42);
  }

  &__bottom-result {
    color: $darkGreen;
  }

  &__submit {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__submit-btn {
    svg {
      width: rem(20);
      height: rem(8);
      fill: #FFFFFF;
      margin-left: rem(20);
    }
  }

  &__get-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    a {
      display: flex;
      width: 100%;
      color: $green;
      font-size: rem(14);
      text-decoration: underline;
      text-underline-offset: 4px;
    }
  }

  &__get-info-top {
    display: flex;
    align-items: center;
    margin: 0 0 rem(10) rem(-35);

    span {
      font-size: rem(18);
    }

    svg {
      max-width: rem(22);
      height: rem(22);
      margin-right: rem(13);
    }
  }

}