.about {
  &__feature {
    margin-bottom: rem(55);
    @include r(1200) {
      margin-bottom: rem(60);
    }
  }

  &__feature-item {
    display: flex;
    align-items: center;
  }

  &__feature-pic {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: rem(60);
    height: rem(60);
    margin-right: rem(15);

    &:before {
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: #F2F4F6;
      z-index: -1;
    }
  }

  &__feature-icon {
    width: auto;
    max-width: rem(30);
    height: rem(30);
  }

  &__feature-title {
    font-weight: 600;
    font-size: rem(32);
    margin-bottom: rem(5);
  }

  &__feature-text {
    font-weight: 300;
    font-size: rem(16);
  }

}