.review {
  display: flex;
  position: relative;
  background-color: #E0ECF9;
  border-radius: rem(10);
  width: 100%;
  max-height: rem(350);
  overflow: hidden;
  @include r(767) {
    max-height: none;
    height: rem(454);
  }
  &__mob-greed {
    @include r(767) {
      display: flex;
      flex-direction: column;
      gap: rem(20);
    }
  }

  &__content {
    position: relative;
    padding: rem(60) 0 rem(66) rem(60);
    max-width: rem(520);
    line-height: 1.2;
    z-index: 1;
    @include r(767) {
      display: flex;
      flex-direction: column;
      height: 100%;
      max-width: none;
      padding: rem(30) rem(63) rem(30) rem(23);
    }
  }

  &__picture {
    position: relative;
    height: 100%;
    @include r(767) {
      position: absolute;
      width: 100%;
      top: rem(98);
      left: rem(66);
      z-index: 0;
    }

    img {
      position: relative;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: right;
      scale: 1.25;
      z-index: 1;

    }

    &::after {
      content: '';
      position: absolute;
      width: rem(604);
      height: rem(626);
      top: rem(-43);
      right: 0;
      border-radius: 50%;
      background-color: #D1E2F4;
      z-index: 0;
      @include r(767) {
        width: rem(323);
        height: rem(323);
        top: rem(65);
        right: rem(10);
      }
    }
  }

  &__title {
    margin-bottom: rem(25);
    @include r(767) {
      font-size: rem(30);
    }
  }

  &__text {
    margin-bottom: rem(55);
    font-size: rem(20);
    @include r(767) {
      font-size: rem(16);
      max-width: rem(218);
    }
  }

  &__btn {
    width: rem(180) !important;
    @include r(767) {
      margin-top: auto;
    }
  }
  &__form-btn {
    width: rem(270) !important;
    height: rem(60) !important;
    @include r(767) {
      width: rem(187) !important;
      height: rem(50) !important;
    }
  }
}