.video-content {
  position: relative;
  border: 5px solid #8DA7B6;
  border-radius: 5px;
  overflow: hidden;
  min-height: rem(320);
  &:hover {
    &:before {
      content: none;
    }
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(14, 52, 73, 0.4);
  }
  video,
  iframe {
    width: 100%;
    height: 100%;
    min-height: rem(320);
    object-position: center;
    object-fit: contain;
  }
}