<!DOCTYPE html>
<html lang="ru">
<head>
  <%= htmlWebpackPlugin.options.head %>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body class="body">
<%= htmlWebpackPlugin.options.sectionHeader %>
<main class="main">
  <section class="section">
    <div class="container">
      <div class="breadcrumbs">
        <a class="breadcrumbs__link" href="./">Главная</a>
        <a class="breadcrumbs__link" href="./">О компании</a>
        <span class="breadcrumbs__curr-page">Лицензии</span>
      </div>
    </div>
  </section>
  <section class="section license mb-90">
    <div class="container">
      <h1 class="title title--page mb-50">Лицензии</h1>
      <div class="collapse collapse--simple" data-collapse data-duration="700">
        <div class="collapse__wrapper collapse--simple__wrapper">
          <div class="collapse__item" data-collapse-item>
            <div class="collapse__trigger collapse--simple__trigger collapse__trigger--pad-l" data-collapse-trigger>
              <div>
                <p>Медэксперт на Иванникова</p>
                <span>ООО "МЦ "Медэксперт"</span>
              </div>
              <svg class="collapse__icon collapse__icon--arrow" data-collapse-icon>
                <use xlink:href="assets/sprite/sprite.svg#icon-arrow-min"></use>
              </svg>
            </div>
            <div class="collapse__content" data-collapse-content>
              <div class="collapse__inner collapse__inner-min-padding">
                <p class="fw--300">Ознакомиться с лицензиями на осуществление медицинской деятельности вы можете на
                  официальном сайте
                  <br>Росздравнадзор по ссылке: <a class="link link--underline"
                                                   href="https://roszdravnadzor.gov.ru/services/licenses">https://roszdravnadzor.gov.ru/services/licenses</a>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="collapse__wrapper collapse--simple__wrapper">
          <div class="collapse__item" data-collapse-item>
            <div class="collapse__trigger collapse--simple__trigger collapse__trigger--pad-l" data-collapse-trigger>
              <div>
                <p>Медэксперт на Космической</p>
                <span>ООО "Медицинский центр Медэксперт Л.Д."</span>
              </div>
              <svg class="collapse__icon collapse__icon--arrow" data-collapse-icon>
                <use xlink:href="assets/sprite/sprite.svg#icon-arrow-min"></use>
              </svg>
            </div>
            <div class="collapse__content" data-collapse-content>
              <div class="collapse__inner collapse__inner-min-padding">
                <p class="fw--300">Ознакомиться с лицензиями на осуществление медицинской деятельности вы можете на
                  официальном сайте
                  <br>Росздравнадзор по ссылке: <a class="link link--underline"
                                                   href="https://roszdravnadzor.gov.ru/services/licenses">https://roszdravnadzor.gov.ru/services/licenses</a>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="collapse__wrapper collapse--simple__wrapper">
          <div class="collapse__item" data-collapse-item>
            <div class="collapse__trigger collapse--simple__trigger collapse__trigger--pad-l" data-collapse-trigger>
              <div>
                <p>Лаборатория Медэксперт</p>
                <span>ООО "МедЭксперт лаб"</span>
              </div>
              <svg class="collapse__icon collapse__icon--arrow" data-collapse-icon>
                <use xlink:href="assets/sprite/sprite.svg#icon-arrow-min"></use>
              </svg>
            </div>
            <div class="collapse__content" data-collapse-content>
              <div class="collapse__inner collapse__inner-min-padding">
                <p class="fw--300">Ознакомиться с лицензиями на осуществление медицинской деятельности вы можете на
                  официальном сайте
                  <br>Росздравнадзор по ссылке: <a class="link link--underline"
                                                   href="https://roszdravnadzor.gov.ru/services/licenses">https://roszdravnadzor.gov.ru/services/licenses</a>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="collapse__wrapper collapse--simple__wrapper">
          <div class="collapse__item" data-collapse-item>
            <div class="collapse__trigger collapse--simple__trigger collapse__trigger--pad-l" data-collapse-trigger>
              <div>
                <p>Медэксперт на Московском</p>
                <span>ООО "Медицинский центр "Медэксперт"</span>
              </div>
              <svg class="collapse__icon collapse__icon--arrow" data-collapse-icon>
                <use xlink:href="assets/sprite/sprite.svg#icon-arrow-min"></use>
              </svg>
            </div>
            <div class="collapse__content" data-collapse-content>
              <div class="collapse__inner collapse__inner-min-padding">
                <p class="fw--300">Ознакомиться с лицензиями на осуществление медицинской деятельности вы можете на
                  официальном сайте
                  <br>Росздравнадзор по ссылке: <a class="link link--underline"
                                                   href="https://roszdravnadzor.gov.ru/services/licenses">https://roszdravnadzor.gov.ru/services/licenses</a>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="collapse__wrapper collapse--simple__wrapper">
          <div class="collapse__item" data-collapse-item>
            <div class="collapse__trigger collapse--simple__trigger collapse__trigger--pad-l" data-collapse-trigger>
              <div>
                <p>Медэксперт на Леонова</p>
                <span>ООО "МедЭксперт Плюс"</span>
              </div>
              <svg class="collapse__icon collapse__icon--arrow" data-collapse-icon>
                <use xlink:href="assets/sprite/sprite.svg#icon-arrow-min"></use>
              </svg>
            </div>
            <div class="collapse__content" data-collapse-content>
              <div class="collapse__inner collapse__inner-min-padding">
                <p class="fw--300">Ознакомиться с лицензиями на осуществление медицинской деятельности вы можете на
                  официальном сайте
                  <br>Росздравнадзор по ссылке: <a class="link link--underline"
                                                   href="https://roszdravnadzor.gov.ru/services/licenses">https://roszdravnadzor.gov.ru/services/licenses</a>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="collapse__wrapper collapse--simple__wrapper">
          <div class="collapse__item" data-collapse-item>
            <div class="collapse__trigger collapse--simple__trigger collapse__trigger--pad-l" data-collapse-trigger>
              <div>
                <p>Медэксперт на Интернациональной, Медэксперт на 9 Апреля</p>
                <span>ООО "Медицинский центр "Медэксперт-5"</span>
              </div>
              <svg class="collapse__icon collapse__icon--arrow" data-collapse-icon>
                <use xlink:href="assets/sprite/sprite.svg#icon-arrow-min"></use>
              </svg>
            </div>
            <div class="collapse__content" data-collapse-content>
              <div class="collapse__inner collapse__inner-min-padding">
                <p class="fw--300">Ознакомиться с лицензиями на осуществление медицинской деятельности вы можете на
                  официальном сайте
                  <br>Росздравнадзор по ссылке: <a class="link link--underline"
                                                   href="https://roszdravnadzor.gov.ru/services/licenses">https://roszdravnadzor.gov.ru/services/licenses</a>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="collapse__wrapper collapse--simple__wrapper">
          <div class="collapse__item" data-collapse-item>
            <div class="collapse__trigger collapse--simple__trigger collapse__trigger--pad-l" data-collapse-trigger>
              <div>
                <p>Медэксперт Орто</p>
                <span>ООО "Медицинский центр Медэксперт-Орто"</span>
              </div>
              <svg class="collapse__icon collapse__icon--arrow" data-collapse-icon>
                <use xlink:href="assets/sprite/sprite.svg#icon-arrow-min"></use>
              </svg>
            </div>
            <div class="collapse__content" data-collapse-content>
              <div class="collapse__inner collapse__inner-min-padding">
                <p class="fw--300">Ознакомиться с лицензиями на осуществление медицинской деятельности вы можете на
                  официальном сайте
                  <br>Росздравнадзор по ссылке: <a class="link link--underline"
                                                   href="https://roszdravnadzor.gov.ru/services/licenses">https://roszdravnadzor.gov.ru/services/licenses</a>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="collapse__wrapper collapse--simple__wrapper">
          <div class="collapse__item" data-collapse-item>
            <div class="collapse__trigger collapse--simple__trigger collapse__trigger--pad-l" data-collapse-trigger>
              <div>
                <p>Медэксперт на Победе</p>
                <span>ООО "Медицинский центр Медэксперт Д"</span>
              </div>
              <svg class="collapse__icon collapse__icon--arrow" data-collapse-icon>
                <use xlink:href="assets/sprite/sprite.svg#icon-arrow-min"></use>
              </svg>
            </div>
            <div class="collapse__content" data-collapse-content>
              <div class="collapse__inner collapse__inner-min-padding">
                <p class="fw--300">Ознакомиться с лицензиями на осуществление медицинской деятельности вы можете на
                  официальном сайте
                  <br>Росздравнадзор по ссылке: <a class="link link--underline"
                                                   href="https://roszdravnadzor.gov.ru/services/licenses">https://roszdravnadzor.gov.ru/services/licenses</a>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="collapse__wrapper collapse--simple__wrapper">
          <div class="collapse__item" data-collapse-item>
            <div class="collapse__trigger collapse--simple__trigger collapse__trigger--pad-l" data-collapse-trigger>
              <div>
                <p>Медэксперт на Пражской</p>
                <span>ООО "Медицинский центр Медэксперт-4"</span>
              </div>
              <svg class="collapse__icon collapse__icon--arrow" data-collapse-icon>
                <use xlink:href="assets/sprite/sprite.svg#icon-arrow-min"></use>
              </svg>
            </div>
            <div class="collapse__content" data-collapse-content>
              <div class="collapse__inner collapse__inner-min-padding">
                <p class="fw--300">Ознакомиться с лицензиями на осуществление медицинской деятельности вы можете на
                  официальном сайте
                  <br>Росздравнадзор по ссылке: <a class="link link--underline"
                                                   href="https://roszdravnadzor.gov.ru/services/licenses">https://roszdravnadzor.gov.ru/services/licenses</a>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="collapse__wrapper collapse--simple__wrapper">
          <div class="collapse__item" data-collapse-item>
            <div class="collapse__trigger collapse--simple__trigger collapse__trigger--pad-l" data-collapse-trigger>
              <div>
                <p>Медэксперт на Лефорта, Медэксперт на Челнокова</p>
                <span>ООО "Медицинский центр Медэксперт С"</span>
              </div>
              <svg class="collapse__icon collapse__icon--arrow" data-collapse-icon>
                <use xlink:href="assets/sprite/sprite.svg#icon-arrow-min"></use>
              </svg>
            </div>
            <div class="collapse__content" data-collapse-content>
              <div class="collapse__inner collapse__inner-min-padding">
                <p class="fw--300">Ознакомиться с лицензиями на осуществление медицинской деятельности вы можете на
                  официальном сайте
                  <br>Росздравнадзор по ссылке: <a class="link link--underline"
                                                   href="https://roszdravnadzor.gov.ru/services/licenses">https://roszdravnadzor.gov.ru/services/licenses</a>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="collapse__wrapper collapse--simple__wrapper">
          <div class="collapse__item" data-collapse-item>
            <div class="collapse__trigger collapse--simple__trigger collapse__trigger--pad-l" data-collapse-trigger>
              <div>
                <p>Медэксперт в Советске</p>
                <span>ООО "Медицинский центр Медэксперт-Восток"</span>
              </div>
              <svg class="collapse__icon collapse__icon--arrow" data-collapse-icon>
                <use xlink:href="assets/sprite/sprite.svg#icon-arrow-min"></use>
              </svg>
            </div>
            <div class="collapse__content" data-collapse-content>
              <div class="collapse__inner collapse__inner-min-padding">
                <p class="fw--300">Ознакомиться с лицензиями на осуществление медицинской деятельности вы можете на
                  официальном сайте
                  <br>Росздравнадзор по ссылке: <a class="link link--underline"
                                                   href="https://roszdravnadzor.gov.ru/services/licenses">https://roszdravnadzor.gov.ru/services/licenses</a>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="collapse__wrapper collapse--simple__wrapper">
          <div class="collapse__item" data-collapse-item>
            <div class="collapse__trigger collapse--simple__trigger collapse__trigger--pad-l" data-collapse-trigger>
              <div>
                <p>Доктор ЛОР</p>
                <span>ООО "Доктор ЛОР"</span>
              </div>
              <svg class="collapse__icon collapse__icon--arrow" data-collapse-icon>
                <use xlink:href="assets/sprite/sprite.svg#icon-arrow-min"></use>
              </svg>
            </div>
            <div class="collapse__content" data-collapse-content>
              <div class="collapse__inner collapse__inner-min-padding">
                <p class="fw--300">Ознакомиться с лицензиями на осуществление медицинской деятельности вы можете на
                  официальном сайте
                  <br>Росздравнадзор по ссылке: <a class="link link--underline"
                                                   href="https://roszdravnadzor.gov.ru/services/licenses">https://roszdravnadzor.gov.ru/services/licenses</a>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="collapse__wrapper collapse--simple__wrapper">
          <div class="collapse__item" data-collapse-item>
            <div class="collapse__trigger collapse--simple__trigger collapse__trigger--pad-l" data-collapse-trigger>
              <div>
                <p>Медицинский центр "Чивит"</p>
                <span>ООО "Медицинский центр "Чивит"</span>
              </div>
              <svg class="collapse__icon collapse__icon--arrow" data-collapse-icon>
                <use xlink:href="assets/sprite/sprite.svg#icon-arrow-min"></use>
              </svg>
            </div>
            <div class="collapse__content" data-collapse-content>
              <div class="collapse__inner collapse__inner-min-padding">
                <p class="fw--300">Ознакомиться с лицензиями на осуществление медицинской деятельности вы можете на
                  официальном сайте
                  <br>Росздравнадзор по ссылке: <a class="link link--underline"
                                                   href="https://roszdravnadzor.gov.ru/services/licenses">https://roszdravnadzor.gov.ru/services/licenses</a>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="collapse__wrapper collapse--simple__wrapper">
          <div class="collapse__item" data-collapse-item>
            <div class="collapse__trigger collapse--simple__trigger collapse__trigger--pad-l" data-collapse-trigger>
              <div>
                <p>Клиника Здоровый Ребенок</p>
                <span>ООО "МПЦ Здоровый Ребенок"</span>
              </div>
              <svg class="collapse__icon collapse__icon--arrow" data-collapse-icon>
                <use xlink:href="assets/sprite/sprite.svg#icon-arrow-min"></use>
              </svg>
            </div>
            <div class="collapse__content" data-collapse-content>
              <div class="collapse__inner collapse__inner-min-padding">
                <p class="fw--300">Ознакомиться с лицензиями на осуществление медицинской деятельности вы можете на
                  официальном сайте
                  <br>Росздравнадзор по ссылке: <a class="link link--underline"
                                                   href="https://roszdravnadzor.gov.ru/services/licenses">https://roszdravnadzor.gov.ru/services/licenses</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<%= htmlWebpackPlugin.options.sectionFooter %>
<%= htmlWebpackPlugin.options.temp %>
</body>
</html>