<!DOCTYPE html>
<html lang="ru">
<head>
  <%= htmlWebpackPlugin.options.head %>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body class="body">
<%= htmlWebpackPlugin.options.sectionHeader %>
<main class="main main--has-intro">
  <section class="section page-intro mb-80">
    <div class="container">
      <div class="columns">
        <div class="columns__col--6">
          <div class="page-intro__content mb-20">
            <section class="section mb-120">
              <div class="breadcrumbs">
                <a class="breadcrumbs__link" href="./">Главная</a>
                <a class="breadcrumbs__link" href="./">О компании</a>
                <span class="breadcrumbs__curr-page">Миссия компании</span>
              </div>
            </section>
            <h1 class="title title--page mb-15">Миссия компании</h1>
            <div class="page-intro__text">
              <p>Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское обеспечение
                нашей деятельности позволяет выполнять важные задания по разработке дальнейших направлений развития.
                Идейные соображения высшего порядка,</p>
            </div>
          </div>
        </div>
        <div class="columns__col--6">
          <picture class="page-intro__picture page-intro__picture--about">
            <img src="./assets/images/about-pic.svg" alt="">
          </picture>
        </div>
      </div>
    </div>
    </div>
  </section>
  <section class="section mb-70">
    <div class="container">
      <h2 class="title mb-20">Наши главные цели</h2>
      <div class="editor editor--16 fw--300 mb-90">
        <q>Наш девиз — качество, цена, доступность</q>
        <p>Повседневная практика показывает, что реализация намеченных плановых заданий влечет за собой процесс
          внедрения и модернизации систем массового участия. Разнообразный и богатый опыт новая модель организационной
          деятельности обеспечивает широкому кругу (специалистов) участие в формировании модели развития. Разнообразный
          и богатый опыт дальнейшее развитие различных форм деятельности позволяет оценить значение соответствующий
          условий активизации. С другой стороны укрепление и развитие структуры требуют определения и уточнения систем
          массового участия</p>
      </div>
      <div class="columns">
        <div class="columns__col--4 columns__col-tab--4 columns__col-mob--12">
          <article class="article article--big">
            <div class="article__header--pic">
              <picture class="article__icon">
                <svg>
                  <use xlink:href="assets/sprite/sprite.svg#icon-med-4"></use>
                </svg>
              </picture>
              <div class="article__title">Комфортное обслуживание</div>
            </div>
            <div class="article__content">
              <div class="article__text">
                <p>
                Обеспечить максимально комфортные условия обслуживания пациентов.
              </p>
              </div>
            </div>
          </article>
        </div>
        <div class="columns__col--4 columns__col-tab--4 columns__col-mob--12">
          <article class="article article--big">
            <div class="article__header--pic">
              <picture class="article__icon">
                <svg>
                  <use xlink:href="assets/sprite/sprite.svg#icon-med-4"></use>
                </svg>
              </picture>
              <div class="article__title">Комфортное обслуживание</div>
            </div>
            <div class="article__content">
              <div class="article__text">
                <p>
                  Обеспечить максимально комфортные условия обслуживания пациентов.
                </p>
              </div>
            </div>
          </article>
        </div>
        <div class="columns__col--4 columns__col-tab--4 columns__col-mob--12">
          <article class="article article--big">
            <div class="article__header--pic">
              <picture class="article__icon">
                <svg>
                  <use xlink:href="assets/sprite/sprite.svg#icon-med-4"></use>
                </svg>
              </picture>
              <div class="article__title">Комфортное обслуживание</div>
            </div>
            <div class="article__content">
              <div class="article__text">
                <p>
                  Обеспечить максимально комфортные условия обслуживания пациентов.
                </p>
              </div>
            </div>
          </article>
        </div>
        <div class="columns__col--4 columns__col-tab--4 columns__col-mob--12">
          <article class="article article--big">
            <div class="article__header--pic">
              <picture class="article__icon">
                <svg>
                  <use xlink:href="assets/sprite/sprite.svg#icon-med-4"></use>
                </svg>
              </picture>
              <div class="article__title">Комфортное обслуживание</div>
            </div>
            <div class="article__content">
              <div class="article__text">
                <p>
                  Обеспечить максимально комфортные условия обслуживания пациентов.
                </p>
              </div>
            </div>
          </article>
        </div>
        <div class="columns__col--4 columns__col-tab--4 columns__col-mob--12">
          <article class="article article--big">
            <div class="article__header--pic">
              <picture class="article__icon">
                <svg>
                  <use xlink:href="assets/sprite/sprite.svg#icon-med-4"></use>
                </svg>
              </picture>
              <div class="article__title">Комфортное обслуживание</div>
            </div>
            <div class="article__content">
              <div class="article__text">
                <p>
                  Обеспечить максимально комфортные условия обслуживания пациентов.
                </p>
              </div>
            </div>
          </article>
        </div>
        <div class="columns__col--4 columns__col-tab--4 columns__col-mob--12">
          <article class="article article--big">
            <div class="article__header--pic">
              <picture class="article__icon">
                <svg>
                  <use xlink:href="assets/sprite/sprite.svg#icon-med-4"></use>
                </svg>
              </picture>
              <div class="article__title">Комфортное обслуживание</div>
            </div>
            <div class="article__content">
              <div class="article__text">
                <p>
                  Обеспечить максимально комфортные условия обслуживания пациентов.
                </p>
              </div>
            </div>
          </article>
        </div>

      </div>
    </div>
  </section>
</main>
<%= htmlWebpackPlugin.options.sectionFooter %>
<%= htmlWebpackPlugin.options.temp %>
</body>
</html>