<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head>
  <%= htmlWebpackPlugin.options.head %>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body class="body">
<div class="main-container">
  <%= htmlWebpackPlugin.options.sectionHeader %>
  <main class="main main--has-intro">
    <section class="section page-intro page-intro--big mb-90 mbm-75">
      <div class="container">
        <div class="columns">
          <div class="columns__col--6 columns__col-mob--12">
            <div class="page-intro__content">
              <div class="page-intro__top">
                <section class="section">
                  <div class="breadcrumbs">
                    <a class="breadcrumbs__link" href="./">Главная</a>
                    <span class="breadcrumbs__curr-page">О компании</span>
                  </div>
                </section>
                <h1 class="title title--page title--page-intro">Сеть семейных клиник
                  “Медэксперт”</h1>
                <div class="page-intro__text">
                  <p>Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское обеспечение
                    нашей деятельности позволяет выполнять важные задания по разработке дальнейших направлений развития.
                    Идейные соображения высшего порядка,</p>
                </div>
              </div>
            </div>
          </div>
          <div class="columns__col--6 columns__col-mob--12">
            <picture class="page-intro__picture page-intro__picture--decor-round page-intro__picture--bottom">
              <img src="./assets/images/about-pic.svg" alt="">
            </picture>
          </div>
        </div>
      </div>
    </section>
    <section class="section mb-75 mbm-90">
      <div class="container">
        <div class="about__feature">
          <div class="columns">
            <div class="columns__col--4 columns__col-tab--12">
              <article class="article article--align mbm-15">
                <div class="article__icon article__icon--big">
                  <svg class="">
                    <use xlink:href="assets/sprite/sprite.svg#icon-hospital"></use>
                  </svg>
                </div>
                <div class="article__content">
                  <p class="article__title--big">14 клиник</p>
                  <p>по Калининграду и области</p>
                </div>
              </article>
            </div>
            <div class="columns__col--4 columns__col-tab--12">
              <article class="article article--align mbm-15">
                <div class="article__icon article__icon--big">
                  <svg class="">
                    <use xlink:href="assets/sprite/sprite.svg#icon-med-3"></use>
                  </svg>
                </div>
                <div class="article__content">
                  <p class="article__title--big">2 500 врачей</p>
                  <p>работают в “Медэксперте”</p>
                </div>
              </article>
            </div>
            <div class="columns__col--4 columns__col-tab--12">
              <article class="article article--align mbm-15">
                <div class="article__icon article__icon--big">
                  <svg class="">
                    <use xlink:href="assets/sprite/sprite.svg#icon-micro"></use>
                  </svg>
                </div>
                <div class="article__content">
                  <p class="article__title--big">2000 видов</p>
                  <p>различных исследований</p>
                </div>
              </article>
            </div>
          </div>
        </div>
        <div class="editor editor--16">
          <p>Повседневная практика показывает, что реализация намеченных плановых заданий влечет за собой процесс
            внедрения и модернизации систем массового участия. Разнообразный и богатый опыт новая модель
            организационной
            деятельности обеспечивает широкому кругу (специалистов) участие в формировании модели развития.
            Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности позволяет оценить значение
            соответствующий условий активизации. С другой стороны укрепление и развитие структуры требуют определения
            и
            уточнения систем массового участия
          </p>
          <p>
            Повседневная практика показывает, что реализация намеченных плановых заданий влечет за собой процесс
            внедрения и модернизации систем массового участия. Разнообразный и богатый опыт новая модель
            организационной
            деятельности обеспечивает широкому кругу (специалистов) участие в формировании модели развития.
            Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности позволяет оценить значение
            соответствующий условий активизации. С другой стороны укрепление и развитие структуры требуют определения
            и
            уточнения систем массового участия</p>
          <p>
            Повседневная практика показывает, что реализация намеченных плановых заданий влечет за собой процесс
            внедрения и модернизации систем массового участия. Разнообразный и богатый опыт новая модель
            организационной
            деятельности обеспечивает широкому кругу (специалистов) участие в формировании модели развития.
            Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности позволяет оценить значение
            соответствующий условий активизации. С другой стороны укрепление и развитие структуры требуют определения
            и
            уточнения систем массового участия</p>
        </div>
      </div>
    </section>
    <section class="section mb-70">
      <div class="container">
        <h2 class="title mb-60 mbm-30">Мы заботимся о пациентах, меняя их жизнь к лучшему!</h2>
        <div class="slider slider--about" data-slider data-slider-slides="3">
          <div class="swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <article class="card card-gallery card-gallery--big">
                  <picture class="card-gallery__picture" data-fancybox="gallery-about"
                           data-caption="подпись какие мы классные" data-src="assets/images/doc-2.jpg">
                    <img src="assets/images/doc-2.jpg" alt="">
                  </picture>
                </article>
              </div>
              <div class="swiper-slide">
                <article class="card card-gallery card-gallery--big">
                  <picture class="card-gallery__picture" data-fancybox="gallery-about"
                           data-caption="длинная подптсь про то, что тут будет подпись какие мы классные"
                           data-src="assets/images/addr-1.jpg">
                    <img src="assets/images/addr-1.jpg" alt="">
                  </picture>
                </article>
              </div>
              <div class="swiper-slide">
                <article class="card card-gallery card-gallery--big">
                  <picture class="card-gallery__picture" data-fancybox="gallery-about"
                           data-caption="еще более длинная подпись, она длиньше предыдушей и длиньше следующей. еще более длинная подпись, она длиньше предыдушей и длиньше следующей. такая вот большая  такая вот большая еще более длинная подпись, она длиньше предыдушей и длиньше следующей. такая вот большая длинная подптсь про то, что тут будет подпись какие мы классные"
                           data-src="assets/images/sales-page-pic-3.jpg">
                    <img src="assets/images/sales-page-pic-3.jpg" alt="">
                  </picture>
                </article>
              </div>
              <div class="swiper-slide">
                <article class="card card-gallery card-gallery--big">
                  <picture class="card-gallery__picture" data-fancybox="gallery-about"
                           data-caption="подпись какие мы классные" data-src="assets/images/news-pic-2.jpg">
                    <img src="assets/images/news-pic-2.jpg" alt="">
                  </picture>
                </article>
              </div>
            </div>
          </div>
          <div class="slider__controls">
            <button class="slider__button slider__button--prev" type="button" data-slider-prev>
              <svg>
                <use xlink:href="assets/sprite/sprite.svg#icon-arrow"></use>
              </svg>
            </button>
            <button class="slider__button slider__button--next" type="button" data-slider-next>
              <svg>
                <use xlink:href="assets/sprite/sprite.svg#icon-arrow"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </section>
    <section class="section mb-85">
      <div class="container">
        <div class="columns">
          <div class="columns__col--4 columns__col-tab--6 columns__col-mob--12">
            <a class="link link--arrow" href="#" target="_blank">
              <p class="link--arrow__text">История</p>
              <svg class="link--arrow__icon">
                <use xlink:href="assets/sprite/sprite.svg#icon-arrow"></use>
              </svg>
            </a>
          </div>
          <div class="columns__col--4 columns__col-tab--6 columns__col-mob--12">
            <a class="link link--arrow" href="#" target="_blank">
              <p class="link--arrow__text">Вакансии</p>
              <svg class="link--arrow__icon">
                <use xlink:href="assets/sprite/sprite.svg#icon-arrow"></use>
              </svg>
            </a>
          </div>
          <div class="columns__col--4 columns__col-tab--6 columns__col-mob--12">
            <a class="link link--arrow" href="#" target="_blank">
              <p class="link--arrow__text">Миссия компании</p>
              <svg class="link--arrow__icon">
                <use xlink:href="assets/sprite/sprite.svg#icon-arrow"></use>
              </svg>
            </a>
          </div>
          <div class="columns__col--4 columns__col-tab--6 columns__col-mob--12">
            <a class="link link--arrow" href="#" target="_blank">
              <p class="link--arrow__text">Руководство</p>
              <svg class="link--arrow__icon">
                <use xlink:href="assets/sprite/sprite.svg#icon-arrow"></use>
              </svg>
            </a>
          </div>
          <div class="columns__col--4 columns__col-tab--6 columns__col-mob--12">
            <a class="link link--arrow" href="#" target="_blank">
              <p class="link--arrow__text">Партнеры</p>
              <svg class="link--arrow__icon">
                <use xlink:href="assets/sprite/sprite.svg#icon-arrow"></use>
              </svg>
            </a>
          </div>
          <div class="columns__col--4 columns__col-tab--6 columns__col-mob--12">
            <a class="link link--arrow" href="#" target="_blank">
              <p class="link--arrow__text">Лицензии</p>
              <svg class="link--arrow__icon">
                <use xlink:href="assets/sprite/sprite.svg#icon-arrow"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </section>
  </main>
  <%= htmlWebpackPlugin.options.sectionFooter %>
  <%= htmlWebpackPlugin.options.temp %>
</div>
</body>
</html>