<!DOCTYPE html>
<html lang="ru">
<head>
  <%= htmlWebpackPlugin.options.head %>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body class="body">
<div class="main-container">
  <%= htmlWebpackPlugin.options.sectionHeader %>
  <main class="main">
    <section class="section">
      <div class="container">
        <div class="breadcrumbs">
          <a class="breadcrumbs__link" href="./">Главная</a>
          <a class="breadcrumbs__link" href="./">О компании</a>
          <span class="breadcrumbs__curr-page">История</span>
        </div>
      </div>
    </section>
    <section class="section history mb-50">
      <div class="container">
        <h1 class="title title--page mb-50 mbm-40">История</h1>
        <div class="columns">
          <div class="columns__col--5 columns__col-tab--5 columns__col-mob--12">
            <picture class="history__pic">
              <img src="./assets/images/addr.jpg" alt="assets">
            </picture>
          </div>
          <div class="columns__col--7 columns__col-tab--7 columns__col-mob--12">
            <article class="history__article">
              <div class="history__article-title">1957 - 2004 г.</div>
              <div class="history__article-content">
                <p>Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское обеспечение
                  нашей деятельности позволяет выполнять важные задания по разработке дальнейших направлений развития.
                  Идейные соображения высшего порядка,</p>
              </div>
              <div class="collapse history__collapse" data-collapse data-duration="700">
                <div class="collapse__wrapper history__collapse-wrapper">
                  <div class="collapse__item history__collapse-item" data-collapse-item>
                    <div class="collapse__trigger show-more show-more--dashed" data-collapse-trigger>
                      <p>Показать еще</p>
                    </div>
                    <div class="collapse__content history__collapse-content" data-collapse-content>
                      <div class="history__collapse-inner">
                        <p>Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское
                          обеспечение
                          нашей деятельности позволяет выполнять важные задания по разработке дальнейших направлений
                          развития.
                          Идейные соображения высшего порядка,</p>
                        <p>Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское
                          обеспечение
                          нашей деятельности позволяет выполнять важные задания по разработке дальнейших направлений
                          развития.
                          Идейные соображения высшего порядка,</p>
                        <p>Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское
                          обеспечение
                          нашей деятельности позволяет выполнять важные задания по разработке дальнейших направлений
                          развития.
                          Идейные соображения высшего порядка,</p>
                        <p>Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское
                          обеспечение
                          нашей деятельности позволяет выполнять важные задания по разработке дальнейших направлений
                          развития.
                          Идейные соображения высшего порядка,</p>
                        <p>Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское
                          обеспечение
                          нашей деятельности позволяет выполнять важные задания по разработке дальнейших направлений
                          развития.
                          Идейные соображения высшего порядка,</p>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </article>
          </div>
          <div class="columns__col--5 columns__col-tab--5 columns__col-mob--12">
            <picture class="history__pic">
              <img src="./assets/images/addr-1.jpg" alt="assets">
            </picture>
          </div>
          <div class="columns__col--7 columns__col-tab--7 columns__col-mob--12">
            <article class="history__article">
              <div class="history__article-title">1957 - 2004 г.</div>
              <div class="history__article-content">
                <p>Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское обеспечение
                  нашей деятельности позволяет выполнять важные задания по разработке дальнейших направлений развития.
                  Идейные соображения высшего порядка,</p>
              </div>
              <div class="collapse history__collapse" data-collapse data-duration="700">
                <div class="collapse__wrapper history__collapse-wrapper">
                  <div class="collapse__item history__collapse-item" data-collapse-item>
                    <div class="collapse__trigger show-more show-more--dashed" data-collapse-trigger>
                      <p>Показать еще</p>
                    </div>
                    <div class="collapse__content history__collapse-content" data-collapse-content>
                      <div class="history__collapse-inner">
                        <p>Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское
                          обеспечение
                          нашей деятельности позволяет выполнять важные задания по разработке дальнейших направлений
                          развития.
                          Идейные соображения высшего порядка,</p>
                        <p>Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское
                          обеспечение
                          нашей деятельности позволяет выполнять важные задания по разработке дальнейших направлений
                          развития.
                          Идейные соображения высшего порядка,</p>
                        <p>Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское
                          обеспечение
                          нашей деятельности позволяет выполнять важные задания по разработке дальнейших направлений
                          развития.
                          Идейные соображения высшего порядка,</p>
                        <p>Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское
                          обеспечение
                          нашей деятельности позволяет выполнять важные задания по разработке дальнейших направлений
                          развития.
                          Идейные соображения высшего порядка,</p>
                        <p>Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское
                          обеспечение
                          нашей деятельности позволяет выполнять важные задания по разработке дальнейших направлений
                          развития.
                          Идейные соображения высшего порядка,</p>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </article>
          </div>
          <div class="columns__col--5 columns__col-tab--5 columns__col-mob--12">
            <picture class="history__pic">
              <img src="./assets/images/doc.jpg" alt="assets">
            </picture>
          </div>
          <div class="columns__col--7 columns__col-tab--7 columns__col-mob--12">
            <article class="history__article">
              <div class="history__article-title">1957 - 2004 г.</div>
              <div class="history__article-content">
                <p>Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское обеспечение
                  нашей деятельности позволяет выполнять важные задания по разработке дальнейших направлений развития.
                  Идейные соображения высшего порядка,</p>
              </div>
              <div class="collapse history__collapse" data-collapse data-duration="700">
                <div class="collapse__wrapper history__collapse-wrapper">
                  <div class="collapse__item history__collapse-item" data-collapse-item>
                    <div class="collapse__trigger show-more show-more--dashed" data-collapse-trigger>
                      <p>Показать еще</p>
                    </div>
                    <div class="collapse__content history__collapse-content" data-collapse-content>
                      <div class="history__collapse-inner">
                        <p>Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское
                          обеспечение
                          нашей деятельности позволяет выполнять важные задания по разработке дальнейших направлений
                          развития.
                          Идейные соображения высшего порядка,</p>
                        <p>Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское
                          обеспечение
                          нашей деятельности позволяет выполнять важные задания по разработке дальнейших направлений
                          развития.
                          Идейные соображения высшего порядка,</p>
                        <p>Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское
                          обеспечение
                          нашей деятельности позволяет выполнять важные задания по разработке дальнейших направлений
                          развития.
                          Идейные соображения высшего порядка,</p>
                        <p>Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское
                          обеспечение
                          нашей деятельности позволяет выполнять важные задания по разработке дальнейших направлений
                          развития.
                          Идейные соображения высшего порядка,</p>
                        <p>Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское
                          обеспечение
                          нашей деятельности позволяет выполнять важные задания по разработке дальнейших направлений
                          развития.
                          Идейные соображения высшего порядка,</p>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </article>
          </div>
          <div class="columns__col--5 columns__col-tab--5 columns__col-mob--12">
            <picture class="history__pic">
              <img src="./assets/images/addr-1.jpg" alt="assets">
            </picture>
          </div>
          <div class="columns__col--7 columns__col-tab--7 columns__col-mob--12">
            <article class="history__article history__article--last">
              <div class="history__article-title">1957 - 2004 г.</div>
              <div class="history__article-content">
                <p>Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское обеспечение
                  нашей деятельности позволяет выполнять важные задания по разработке дальнейших направлений развития.
                  Идейные соображения высшего порядка,</p>
              </div>
              <div class="collapse history__collapse" data-collapse data-duration="700">
                <div class="collapse__wrapper history__collapse-wrapper">
                  <div class="collapse__item history__collapse-item" data-collapse-item>
                    <div class="collapse__trigger show-more show-more--dashed" data-collapse-trigger>
                      <p>Показать еще</p>
                    </div>
                    <div class="collapse__content history__collapse-content" data-collapse-content>
                      <div class="history__collapse-inner">
                        <p>Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское
                          обеспечение
                          нашей деятельности позволяет выполнять важные задания по разработке дальнейших направлений
                          развития.
                          Идейные соображения высшего порядка,</p>
                        <p>Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское
                          обеспечение
                          нашей деятельности позволяет выполнять важные задания по разработке дальнейших направлений
                          развития.
                          Идейные соображения высшего порядка,</p>
                        <p>Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское
                          обеспечение
                          нашей деятельности позволяет выполнять важные задания по разработке дальнейших направлений
                          развития.
                          Идейные соображения высшего порядка,</p>
                        <p>Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское
                          обеспечение
                          нашей деятельности позволяет выполнять важные задания по разработке дальнейших направлений
                          развития.
                          Идейные соображения высшего порядка,</p>
                        <p>Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское
                          обеспечение
                          нашей деятельности позволяет выполнять важные задания по разработке дальнейших направлений
                          развития.
                          Идейные соображения высшего порядка,</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </section>
  </main>
  <%= htmlWebpackPlugin.options.sectionFooter %>
  <%= htmlWebpackPlugin.options.temp %>
</div>
</body>
</html>