<!DOCTYPE html>
<html lang="ru">
<head>
  <%= htmlWebpackPlugin.options.head %>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body class="body">
<div class="main-container">
  <%= htmlWebpackPlugin.options.sectionHeader %>
  <main class="main main--has-intro">
    <section class="section page-intro mb-60 mbm-85">
      <div class="container">
        <div class="columns">
          <div class="columns__col--6 columns__col-mob--12">
            <div class="page-intro__content">
              <div class="page-intro__top">
                <section class="section">
                  <div class="breadcrumbs">
                    <a class="breadcrumbs__link" href="./">Главная</a>
                    <a class="breadcrumbs__link" href="./">Услуги</a>
                    <a class="breadcrumbs__link" href="./">Лабораторные исследования</a>
                    <span class="breadcrumbs__curr-page">Каталог</span>
                  </div>
                </section>
                <h1 class="title title--page title--page-intro">Каталог</h1>
                <div class="flex flex--column justify-content-sb page-intro__inner page-intro__inner--min">
                  <p>В консультативно-диагностическом медицинском центре предусмотрено все необходимое для проведения
                    современных высокоточных медицинских диагностических исследований.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="columns__col--6 columns__col-mob--12">
            <picture
              class="page-intro__picture">
              <img class="page-intro__img" src="./assets/images/catalog-bg.png" alt="">
            </picture>
          </div>
        </div>
      </div>
    </section>
    <section class="section price-block mb-80">
      <div class="container">
        <h3 class="title mb-40">Каталог</h3>
        <div class="columns">
          <div class="columns__col--9 columns__col-tab--8 columns__col-mob--12 order-m-2">
            <div class="collapse collapse--simple collapse--line-white mb-30" data-collapse data-duration="700">
              <div class="collapse__wrapper collapse--simple__wrapper">
                <div class="collapse__item" data-collapse-item>
                  <div class="collapse__trigger collapse--simple__trigger" data-collapse-trigger>
                    <div class="fw--600 fz--24">
                      <p>Общие анализы</p>
                    </div>
                    <svg class="collapse__icon collapse__icon--arrow" data-collapse-icon>
                      <use xlink:href="assets/sprite/sprite.svg#icon-arrow-min"></use>
                    </svg>
                  </div>
                  <div class="collapse__content" data-collapse-content>
                    <div class="collapse__inner collapse--simple__inner-small">
                      <div class="columns">
                        <div class="columns__col--12">
                          <article class="link-row link-row--grey price-block__article">
                            <div class="price-block__content price-block__article-content">
                              <p class="price-block__title">Спермограмма</p>
                            </div>
                            <div class="fw--600 fz--24">
                              <span>2 200</span> ₽
                            </div>
                            <button class="button button--empty">Заказать</button>
                          </article>
                        </div>
                        <div class="columns__col--12">
                          <article class="link-row link-row--grey price-block__article">
                            <div class="price-block__content">
                              <p class="price-block__title">Adenovirus F40/F41 (кишечные типы вируса)</p>
                            </div>
                            <div class="fw--600 fz--24">
                              <span>3 500</span> ₽
                            </div>
                            <button class="button button--empty">Заказать</button>
                          </article>
                        </div>
                        <div class="columns__col--12">
                          <article class="link-row link-row--grey price-block__article">
                            <div class="price-block__content">
                              <p class="price-block__title">Adenovirus F40/F41 (кишечные типы вируса)</p>
                            </div>
                            <div class="fw--600 fz--24">
                              <span>3 800</span> ₽
                            </div>
                            <button class="button button--empty">Заказать</button>
                          </article>
                        </div>
                        <div class="columns__col--12">
                          <article class="link-row link-row--grey price-block__article">
                            <div class="price-block__content">
                              <p class="price-block__title">CD4+ Т‑лимфоциты, % и абсолютное количество</p>
                            </div>
                            <div class="fw--600 fz--24">
                              <span>1 999</span> ₽
                            </div>
                            <button class="button button--empty">Заказать</button>
                          </article>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="collapse__wrapper collapse--simple__wrapper">
                <div class="collapse__item" data-collapse-item>
                  <div class="collapse__trigger collapse--simple__trigger" data-collapse-trigger>
                    <div class="fw--600 fz--24">
                      <p>Анализы для мужчин</p>
                    </div>
                    <svg class="collapse__icon collapse__icon--arrow" data-collapse-icon>
                      <use xlink:href="assets/sprite/sprite.svg#icon-arrow-min"></use>
                    </svg>
                  </div>
                  <div class="collapse__content" data-collapse-content>
                    <div class="collapse__inner collapse--simple__inner-small">
                      <div class="columns">
                        <div class="columns__col--12">
                          <article class="link-row link-row--grey price-block__article">
                            <div class="price-block__content">
                              <p class="price-block__title">Спермограмма</p>
                            </div>
                            <div class="fw--600 fz--24">
                              <span>2 200</span> ₽
                            </div>
                            <button class="button button--empty">Заказать</button>
                          </article>
                        </div>
                        <div class="columns__col--12">
                          <article class="link-row link-row--grey price-block__article">
                            <div class="price-block__content">
                              <p class="price-block__title">Adenovirus F40/F41 (кишечные типы вируса)</p>
                            </div>
                            <div class="fw--600 fz--24">
                              <span>3 500</span> ₽
                            </div>
                            <button class="button button--empty">Заказать</button>
                          </article>
                        </div>
                        <div class="columns__col--12">
                          <article class="link-row link-row--grey price-block__article">
                            <div class="price-block__content">
                              <p class="price-block__title">Adenovirus F40/F41 (кишечные типы вируса)</p>
                            </div>
                            <div class="fw--600 fz--24">
                              <span>3 800</span> ₽
                            </div>
                            <button class="button button--empty">Заказать</button>
                          </article>
                        </div>
                        <div class="columns__col--12">
                          <article class="link-row link-row--grey price-block__article">
                            <div class="price-block__content">
                              <p class="price-block__title">CD4+ Т‑лимфоциты, % и абсолютное количество</p>
                            </div>
                            <div class="fw--600 fz--24">
                              <span>1 999</span> ₽
                            </div>
                            <button class="button button--empty">Заказать</button>
                          </article>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="collapse__wrapper collapse--simple__wrapper">
                <div class="collapse__item" data-collapse-item>
                  <div class="collapse__trigger collapse--simple__trigger" data-collapse-trigger>
                    <div class="fw--600 fz--24">
                      <p>Анализы для женщин</p>
                    </div>
                    <svg class="collapse__icon collapse__icon--arrow" data-collapse-icon>
                      <use xlink:href="assets/sprite/sprite.svg#icon-arrow-min"></use>
                    </svg>
                  </div>
                  <div class="collapse__content" data-collapse-content>
                    <div class="collapse__inner collapse--simple__inner-small">
                      <div class="columns">
                        <div class="columns__col--12">
                          <article class="link-row link-row--grey price-block__article">
                            <div class="price-block__content">
                              <p class="price-block__title">Консультация нефролога</p>
                            </div>
                            <div class="fw--600 fz--24">
                              <span>3 500</span> ₽
                            </div>
                            <button class="button button--empty">Заказать</button>
                          </article>
                        </div>
                        <div class="columns__col--12">
                          <article class="link-row link-row--grey price-block__article">
                            <div class="price-block__content">
                              <p class="price-block__title">Adenovirus F40/F41 (кишечные типы вируса)</p>
                            </div>
                            <div class="fw--600 fz--24">
                              <span>3 800</span> ₽
                            </div>
                            <button class="button button--empty">Заказать</button>
                          </article>
                        </div>
                        <div class="columns__col--12">
                          <article class="link-row link-row--grey price-block__article">
                            <div class="price-block__content">
                              <p class="price-block__title">CD4+ Т‑лимфоциты, % и абсолютное количество</p>
                            </div>
                            <div class="fw--600 fz--24">
                              <span>1 999</span> ₽
                            </div>
                            <button class="button button--empty">Заказать</button>
                          </article>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="collapse__wrapper collapse--simple__wrapper">
                <div class="collapse__item" data-collapse-item>
                  <div class="collapse__trigger collapse--simple__trigger" data-collapse-trigger>
                    <div class="fw--600 fz--24">
                      <p>Анализы для детей</p>
                    </div>
                    <svg class="collapse__icon collapse__icon--arrow" data-collapse-icon>
                      <use xlink:href="assets/sprite/sprite.svg#icon-arrow-min"></use>
                    </svg>
                  </div>
                  <div class="collapse__content" data-collapse-content>
                    <div class="collapse__inner collapse--simple__inner-small">
                      <div class="columns">
                        <div class="columns__col--12">
                          <article class="link-row link-row--grey price-block__article">
                            <div class="price-block__content">
                              <p class="price-block__title">Консультация нефролога</p>
                            </div>
                            <div class="fw--600 fz--24">
                              <span>3 500</span> ₽
                            </div>
                            <button class="button button--empty">Заказать</button>
                          </article>
                        </div>
                        <div class="columns__col--12">
                          <article class="link-row link-row--grey price-block__article">
                            <div class="price-block__content">
                              <p class="price-block__title">Adenovirus F40/F41 (кишечные типы вируса)</p>
                            </div>
                            <div class="fw--600 fz--24">
                              <span>3 800</span> ₽
                            </div>
                            <button class="button button--empty">Заказать</button>
                          </article>
                        </div>
                        <div class="columns__col--12">
                          <article class="link-row link-row--grey price-block__article">
                            <div class="price-block__content">
                              <p class="price-block__title">CD4+ Т‑лимфоциты, % и абсолютное количество</p>
                            </div>
                            <div class="fw--600 fz--24">
                              <span>1 999</span> ₽
                            </div>
                            <button class="button button--empty">Заказать</button>
                          </article>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="columns__col--3 columns__col-tab--4 columns__col-mob--12 sticky order-m-1">
            <div class="sticky__inner">
              <div class="form form--filter">
                <p class="fz--18 fw--500 mb-20">Фильтр</p>
                <form action="#">
                  <label class="form__label">
              <span class="form--filter__label-icon">
                 <svg>
                  <use xlink:href="assets/sprite/sprite.svg#icon-search"></use>
                </svg>
              </span>
                    <input class="form__input form--filter__input" type="text" placeholder="Поиск">
                    <button class="form--filter__btn" type="submit">
                      <svg class="form--filter__btn-icon">
                        <use xlink:href="assets/sprite/sprite.svg#icon-link"></use>
                      </svg>
                    </button>
                  </label>
                  <div class="flex flex--column mb-15">
                    <label class="checkbox checkbox--square">
                      <input class="form__checkbox-btn form--filter__checkbox-btn" type="radio" name="clinic" value="0"
                             checked>
                      <span class="form__checkbox-text">Топ для мужчин</span>
                    </label>
                    <label class="checkbox checkbox--square">
                      <input class="form__checkbox-btn form--filter__checkbox-btn" type="radio" name="clinic" value="0">
                      <span class="form__checkbox-text">Топ для женщин</span>
                    </label>
                    <label class="checkbox checkbox--square">
                      <input class="form__checkbox-btn form--filter__checkbox-btn" type="radio" name="clinic" value="0">
                      <span class="form__checkbox-text">Топ для детей</span>
                    </label>
                    <label class="checkbox checkbox--square">
                      <input class="form__checkbox-btn form--filter__checkbox-btn" type="radio" name="clinic" value="0">
                      <span class="form__checkbox-text">Популярные анализы</span>
                    </label>
                  </div>
                  <button class="button-reset" type="button" data-reset-btn>
                    <svg class="button-reset__icon">
                      <use xlink:href="assets/sprite/sprite.svg#icon-reset"></use>
                    </svg>
                    <span>Сбросить</span>
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section z-index-3 mb-80">
      <div class="container">
        <h3 class="title mb-40">Популярные анализы</h3>
        <div class="slider" data-slider data-slider-slides="2">
          <div class="swiper slider__main--overflow">
            <div class="swiper-wrapper">
              <div class="swiper-slide slider__slide slider__slide--visible">
                <article class="card card--gray card--drop" data-card-drop>
                  <div class="card--drop__trigger">
                    <button class="button-plus button-plus--light" type="button" data-card-trigger></button>
                  </div>
                  <div class="card__content card--no-padding card__content--50">
                    <p class="card__title-24">Популярные комплексы</p>
                    <div class="card__text card__text-lc card__text-lc--3">
                      <p>Информация о анализе в несколько строк Информация о анализе в несколько строк</p>
                      <p>Информация о анализе в несколько строк Информация о анализе в несколько строк</p>
                    </div>
                    <button class="button card--drop__btn">Заказать</button>
                  </div>
                  <picture class="card--drop__picture">
                    <img src="./assets/images/card-img-11.png" alt="">
                  </picture>
                  <div class="card--drop__dropdown fz--18" data-card-content>
                    <a href="#">Общий анализ крови;</a>
                    <a href="#">УЗИ;</a>
                    <a href="#">Рентгенография;</a>
                    <a href="#">Щелочная фосфатаза.</a>
                  </div>
                </article>
              </div>
              <div class="swiper-slide slider__slide slider__slide--visible">
                <article class="card card--gray card--drop" data-card-drop>
                  <div class="card--drop__trigger">
                    <button class="button-plus button-plus--light" type="button" data-card-trigger></button>
                  </div>
                  <div class="card__content card--no-padding card__content--50">
                    <p class="card__title-24">Популярные комплексы</p>
                    <div class="card__text card__text-lc card__text-lc--3">
                      <p>Информация о анализе в несколько строк Информация о анализе в несколько строк</p>
                      <p>Информация о анализе в несколько строк Информация о анализе в несколько строк</p>
                    </div>
                    <button class="button card--drop__btn">Заказать</button>
                  </div>
                  <picture class="card--drop__picture">
                    <img src="./assets/images/card-img-5.png" alt="">
                  </picture>
                  <div class="card--drop__dropdown fz--18" data-card-content>
                    <a href="#">Общий анализ крови;</a>
                    <a href="#">УЗИ;</a>
                    <a href="#">Рентгенография;</a>
                    <a href="#">Щелочная фосфатаза.</a>
                  </div>
                </article>
              </div>
              <div class="swiper-slide slider__slide slider__slide--visible">
                <article class="card card--gray card--drop" data-card-drop>
                  <div class="card--drop__trigger">
                    <button class="button-plus button-plus--light" type="button" data-card-trigger></button>
                  </div>
                  <div class="card__content card--no-padding card__content--50">
                    <p class="card__title-24">Популярные комплексы</p>
                    <div class="card__text card__text-lc card__text-lc--3">
                      <p>Информация о анализе в несколько строк в несколько строк</p>
                    </div>
                    <button class="button card--drop__btn">Заказать</button>
                  </div>
                  <picture class="card--drop__picture">
                    <img src="./assets/images/card-img-3.png" alt="">
                  </picture>
                  <div class="card--drop__dropdown fz--18" data-card-content>
                    <a href="#">Общий анализ крови;</a>
                    <a href="#">УЗИ;</a>
                    <a href="#">Рентгенография;</a>
                    <a href="#">Щелочная фосфатаза.</a>
                  </div>
                </article>
              </div>
              <div class="swiper-slide slider__slide slider__slide--visible">
                <article class="card card--gray card--drop" data-card-drop>
                  <div class="card--drop__trigger">
                    <button class="button-plus button-plus--light" type="button" data-card-trigger></button>
                  </div>
                  <div class="card__content card--no-padding card__content--50">
                    <p class="card__title-24">Популярные комплексы</p>
                    <div class="card__text card__text-lc card__text-lc--3">
                      <p>Информация о анализе в несколько строк Информация о анализе в несколько строк</p>
                    </div>
                    <button class="button card--drop__btn">Заказать</button>
                  </div>
                  <picture class="card--drop__picture">
                    <img src="./assets/images/card-img-6.png" alt="">
                  </picture>
                  <div class="card--drop__dropdown fz--18" data-card-content>
                    <a href="#">Общий анализ крови;</a>
                    <a href="#">УЗИ;</a>
                    <a href="#">Рентгенография;</a>
                    <a href="#">Щелочная фосфатаза.</a>
                  </div>
                </article>
              </div>
            </div>
          </div>
          <div class="slider__controls">
            <button class="slider__button slider__button--prev" type="button" data-slider-prev>
              <svg>
                <use xlink:href="assets/sprite/sprite.svg#icon-arrow"></use>
              </svg>
            </button>
            <button class="slider__button slider__button--next" type="button" data-slider-next>
              <svg>
                <use xlink:href="assets/sprite/sprite.svg#icon-arrow"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </section>
    <section class="section mb-100">
      <div class="container">
        <div class="form--small form-bg--gray">
          <div class="flex flex--column mb-45 mbm-30">
            <div class="fz--24 fzm--20 fw--500 mb-20 text-center">Запишитесь на консультацию</div>
            <div class="fz--18 fzm--16 fw--300 text-center">Укажите свой номер телефона. Мы свяжемся с вами в ближайшее
              время.
            </div>
          </div>
          <form action="#" data-form>
            <div class="flex flex--mob-column gap-50 gap--mob-15 align-items-center">
              <label class="form__label">
              <span class="form__label-icon">
                 <svg>
                  <use xlink:href="assets/sprite/sprite.svg#icon-tel"></use>
                </svg>
              </span>
                <input class="form__input form--small__input" type="tel" placeholder="+7 ( ___ ) ___-__-__" data-tel>
              </label>
              <button class="button form--small__button" type="submit" data-form-button>Отправить</button>
            </div>
            <div class="flex">
              <label class="checkbox checkbox--square form--small__checkbox">
                <input type="checkbox" name="agreement" value="yes" checked>
                <span class="form__checkbox-text">Нажимая кнопку отправить вы соглашаетесь с&nbsp;
                <a href="#">Полититикой обработки персональных данных</a></span>
              </label>
            </div>
          </form>
        </div>
      </div>
    </section>
  </main>
  <%= htmlWebpackPlugin.options.sectionFooter %>
  <%= htmlWebpackPlugin.options.temp %>
</div>
</body>
</html>