<!DOCTYPE html>
<html lang="ru">
<head>
  <%= htmlWebpackPlugin.options.head %>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body class="body">
<%= htmlWebpackPlugin.options.sectionHeader %>
<main class="main main--has-intro">
  <section class="section page-intro mb-80">
    <div class="container">
      <div class="columns">
        <div class="columns__col--6 columns__col-mob--12">
          <div class="page-intro__content">
            <div class="page-intro__top">
              <section class="section mb-60">
                <div class="breadcrumbs">
                  <a class="breadcrumbs__link" href="./">Главная</a>
                  <span class="breadcrumbs__curr-page">Клиники</span>
                </div>
              </section>
              <h1 class="title title--page mb-15">Клиники</h1>
              <div class="page-intro__text page-intro__text--clinics">
                <p>ООО "МЦ "Медэксперт-5"
                  Учредители: Колобухов П.В., Колобухов Д.В., Колобухова Т.П.</p>
              </div>
              <a href="#" class="page-intro__link">ОГРН/ИНН</a>
            </div>
            <div class="page-intro__bottom page-intro__bottom--column-mob">
              <a class="page-intro__bottom-tel order-m-2 mbm-10" href="tel:+74012567766">+7 (4012) 56-77-66</a>
              <a class="page-intro__bottom-mail order-m-1 mbm-10"
                 href="mailto:office@mdx39.ru">mailto:office@mdx39.ru</a>
              <a class="page-intro__bottom-addr order-m-3 mbm-10" href="https://yandex.ru/maps/-/CCUomWdDoD"
                 target="_blank">
                <svg class="card-info__icon">
                  <use xlink:href="assets/sprite/sprite.svg#icon-location"></use>
                </svg>
                <span>Калининград, ул Интернациональная, 64</span>
              </a>
            </div>
          </div>
        </div>
        <div class="columns__col--6 columns__col-mob--12">
          <picture class="page-intro__picture page-intro__picture--full">
            <img src="./assets/images/intro-bg.jpg" alt="">
          </picture>
        </div>
      </div>
    </div>
    </div>
  </section>
  <section class="section mb-60">
    <div class="container">
      <div class="slider" data-slider data-slider-slides="1" data-slider-mobile>
        <div class="swiper">
          <div class="swiper-wrapper desktop-grid desktop-grid--2">
            <div class="swiper-slide">
              <a class="article-img card--bg" target="_blank" href="#">
                <div class="card--bg__content article-img__content">
                  <div class="card__title">Скидка 20% на лабораторные услуги</div>
                  <div class="card__content-bottom">
                    <p class="card--bg__link button button--empty">Подробнее</p>
                  </div>
                </div>
                <img class="article-img__bg card--bg__bg" src="assets/images/card-img-8.png" alt="">
              </a>
            </div>
            <div class="swiper-slide">
              <a class="article-img card--bg" target="_blank" href="#">
                <div class="card--bg__content article-img__content">
                  <div class="card__title">Скидка 20% на лабораторные услуги</div>
                  <div class="card__content-bottom">
                    <p class="card--bg__link button button--empty">Подробнее</p>
                  </div>
                </div>
                <img class="article-img__bg card--bg__bg" src="assets/images/card-img-7.png" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section clinics-map mb-60">
    <div class="container">
      <h2 class="title mb-30">Адреса наших клиник</h2>
      <div class="columns">
        <div class="columns__col--8 columns__col-tab--12 order-m-2">
          <div class="article-address__block-scroll">
            <article class="article-address">
              <div class="article-address__header">
                <p>Диагностическая лаборатория</p>
                <svg>
                  <use xlink:href="assets/sprite/sprite.svg#icon-info"></use>
                </svg>
              </div>
              <div class="article-address__popup">
                <div class="article-address__popup-inner">
                  <p class="fz--16 fw--500 mb-10">Режим работы:</p>
                  <p class="fz--14 fw--300">пн - пт: с 8:00 до 22:00</p>
                  <p class="fz--14 fw--300">сб - вс: с 9:00 до 20:00</p>
                </div>
                <div class="article-address__popup-inner">
                  <p class="fz--16 fw--500 mb-10"> Приём анализов:</p>
                  <p class="fz--14 fw--300">пн - пт: с 8:00 до 20:00</p>
                </div>
              </div>
              <a class="link link--green-dot" href="tel:+74012519000">8 (4012) 51-90-00</a>
              <address>
                <a href="https://yandex.ru/maps/-/CCUo7BFVxB">Калининград, улица Интернациональная, 64</a>
              </address>
            </article>
            <article class="article-address">

              <div class="article-address__header">
                <p>Диагностическая лаборатория</p>
                <svg>
                  <use xlink:href="assets/sprite/sprite.svg#icon-info"></use>
                </svg>
              </div>
              <div class="article-address__popup">
                <div class="article-address__timetable-block">
                  <p class="fz--16 fw--500 mb-10">Режим работы:</p>
                  <p class="fz--14 fw--300">пн - пт: с 8:00 до 22:00</p>
                  <p class="fz--14 fw--300">сб - вс: с 9:00 до 20:00</p>
                </div>
                <div class="article-address__timetable-block">
                  <p class="fz--16 fw--500 mb-10"> Приём анализов:</p>
                  <p class="fz--14 fw--300">пн - пт: с 8:00 до 20:00</p>
                </div>
              </div>
              <a class="link link--green-dot" href="tel:+74012519000">8 (4012) 51-90-00</a>
              <address>
                <a href="https://yandex.ru/maps/-/CCUo7BFVxB">Калининград, улица Интернациональная, 64</a>
              </address>
            </article>
            <article class="article-address">

              <div class="article-address__header">
                <p>Диагностическая лаборатория</p>
                <svg>
                  <use xlink:href="assets/sprite/sprite.svg#icon-info"></use>
                </svg>
              </div>
              <div class="article-address__popup">
                <div class="article-address__timetable-block">
                  <p class="fz--16 fw--500 mb-10">Режим работы:</p>
                  <p class="fz--14 fw--300">пн - пт: с 8:00 до 22:00</p>
                  <p class="fz--14 fw--300">сб - вс: с 9:00 до 20:00</p>
                </div>
                <div class="article-address__timetable-block">
                  <p class="fz--16 fw--500 mb-10"> Приём анализов:</p>
                  <p class="fz--14 fw--300">пн - пт: с 8:00 до 20:00</p>
                </div>
              </div>
              <a class="link link--green-dot" href="tel:+74012519000">8 (4012) 51-90-00</a>
              <address>
                <a href="https://yandex.ru/maps/-/CCUo7BFVxB">Калининград, улица Интернациональная, 64</a>
              </address>
            </article>
            <article class="article-address">

              <div class="article-address__header">
                <p>Диагностическая лаборатория</p>
                <svg>
                  <use xlink:href="assets/sprite/sprite.svg#icon-info"></use>
                </svg>
              </div>
              <div class="article-address__popup">
                <div class="article-address__timetable-block">
                  <p class="fz--16 fw--500 mb-10">Режим работы:</p>
                  <p class="fz--14 fw--300">пн - пт: с 8:00 до 22:00</p>
                  <p class="fz--14 fw--300">сб - вс: с 9:00 до 20:00</p>
                </div>
                <div class="article-address__timetable-block">
                  <p class="fz--16 fw--500 mb-10"> Приём анализов:</p>
                  <p class="fz--14 fw--300">пн - пт: с 8:00 до 20:00</p>
                </div>
              </div>
              <a class="link link--green-dot" href="tel:+74012519000">8 (4012) 51-90-00</a>
              <address>
                <a href="https://yandex.ru/maps/-/CCUo7BFVxB">Калининград, улица Интернациональная, 64</a>
              </address>
            </article>
            <article class="article-address">

              <div class="article-address__header">
                <p>Диагностическая лаборатория</p>
                <svg>
                  <use xlink:href="assets/sprite/sprite.svg#icon-info"></use>
                </svg>
              </div>
              <div class="article-address__popup">
                <div class="article-address__timetable-block">
                  <p class="fz--16 fw--500 mb-10">Режим работы:</p>
                  <p class="fz--14 fw--300">пн - пт: с 8:00 до 22:00</p>
                  <p class="fz--14 fw--300">сб - вс: с 9:00 до 20:00</p>
                </div>
                <div class="article-address__timetable-block">
                  <p class="fz--16 fw--500 mb-10"> Приём анализов:</p>
                  <p class="fz--14 fw--300">пн - пт: с 8:00 до 20:00</p>
                </div>
              </div>
              <a class="link link--green-dot" href="tel:+74012519000">8 (4012) 51-90-00</a>
              <address>
                <a href="https://yandex.ru/maps/-/CCUo7BFVxB">Калининград, улица Интернациональная, 64</a>
              </address>
            </article>
            <article class="article-address">

              <div class="article-address__header">
                <p>Диагностическая лаборатория</p>
                <svg>
                  <use xlink:href="assets/sprite/sprite.svg#icon-info"></use>
                </svg>
              </div>
              <div class="article-address__popup">
                <div class="article-address__timetable-block">
                  <p class="fz--16 fw--500 mb-10">Режим работы:</p>
                  <p class="fz--14 fw--300">пн - пт: с 8:00 до 22:00</p>
                  <p class="fz--14 fw--300">сб - вс: с 9:00 до 20:00</p>
                </div>
                <div class="article-address__timetable-block">
                  <p class="fz--16 fw--500 mb-10"> Приём анализов:</p>
                  <p class="fz--14 fw--300">пн - пт: с 8:00 до 20:00</p>
                </div>
              </div>
              <a class="link link--green-dot" href="tel:+74012519000">8 (4012) 51-90-00</a>
              <address>
                <a href="https://yandex.ru/maps/-/CCUo7BFVxB">Калининград, улица Интернациональная, 64</a>
              </address>
            </article>
            <article class="article-address">

              <div class="article-address__header">
                <p>Диагностическая лаборатория</p>
                <svg>
                  <use xlink:href="assets/sprite/sprite.svg#icon-info"></use>
                </svg>
              </div>
              <div class="article-address__popup">
                <div class="article-address__timetable-block">
                  <p class="fz--16 fw--500 mb-10">Режим работы:</p>
                  <p class="fz--14 fw--300">пн - пт: с 8:00 до 22:00</p>
                  <p class="fz--14 fw--300">сб - вс: с 9:00 до 20:00</p>
                </div>
                <div class="article-address__timetable-block">
                  <p class="fz--16 fw--500 mb-10"> Приём анализов:</p>
                  <p class="fz--14 fw--300">пн - пт: с 8:00 до 20:00</p>
                </div>
              </div>
              <a class="link link--green-dot" href="tel:+74012519000">8 (4012) 51-90-00</a>
              <address>
                <a href="https://yandex.ru/maps/-/CCUo7BFVxB">Калининград, улица Интернациональная, 64</a>
              </address>
            </article>
            <article class="article-address">

              <div class="article-address__header">
                <p>Диагностическая лаборатория</p>
                <svg>
                  <use xlink:href="assets/sprite/sprite.svg#icon-info"></use>
                </svg>
              </div>
              <div class="article-address__popup">
                <div class="article-address__timetable-block">
                  <p class="fz--16 fw--500 mb-10">Режим работы:</p>
                  <p class="fz--14 fw--300">пн - пт: с 8:00 до 22:00</p>
                  <p class="fz--14 fw--300">сб - вс: с 9:00 до 20:00</p>
                </div>
                <div class="article-address__timetable-block">
                  <p class="fz--16 fw--500 mb-10"> Приём анализов:</p>
                  <p class="fz--14 fw--300">пн - пт: с 8:00 до 20:00</p>
                </div>
              </div>
              <a class="link link--green-dot" href="tel:+74012519000">8 (4012) 51-90-00</a>
              <address>
                <a href="https://yandex.ru/maps/-/CCUo7BFVxB">Калининград, улица Интернациональная, 64</a>
              </address>
            </article>
          </div>
          <div class="article-address article-address--wide">
            <div class="article-address__content article-address--wide__content">
              <div class="article-address__content--right mbm-20">
                <div class="article-address__header">
                  <p>Скорая помощь</p>
                </div>
                <p class="article-address__content-info">Выезд бригад скорой помощи осуществляется по любому
                  направлению</p>
              </div>
              <div class="article-address__content--left">
                <a class="article-address__tel--big" href="tel:+74012519000">+7 (4012) 51-90-00</a>
              </div>
            </div>
          </div>
        </div>
        <div class="columns__col--4 columns__col-tab--12 order-m-1">
          <div class="clinics-map__map">
            <iframe
              src="https://yandex.ru/map-widget/v1/?um=constructor%3Ac4ae7f32a1fb4c6ae5da3d7395135fa2eb50aa76c3cc2cd527a2675303351f23&amp;source=constructor"
              width="100%" height="100%" frameborder="0"></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section mb-100">
    <div class="container">
      <h2 class="title mb-30">Диагностическая лаборатория</h2>
      <div class="flex flex--column fz--16 fw--300 mb-40">
        <p class="flex mb-5">ООО "МЦ "Медэксперт-5"</p>
        <p class="flex mb-5">Учредители: Колобухов П.В., Колобухов Д.В., Колобухова Т.П.</p>
        <a class="color--green" href="#">ОГРН/ИНН</a>
      </div>
      <div class="labs">
        <div class="columns">
          <div class="columns__col--4 columns__col-tab--6 columns__col-mob--12 mbm-30">
            <div class="labs__item">
              <div class="labs__item-header">Адрес</div>
              <address>
                <a href="">ул. Космическая, 29</a>
                <a href="">ул. Косм. Леонова, 8 - Клинико-диагностическая лаборатория</a>
              </address>
            </div>
          </div>
          <div class="columns__col--3 columns__col-tab--6 columns__col-mob--12 mbm-30">
            <div class="labs__item">
              <div class="labs__item-header">Режим работы</div>
              <div class="labs__item-timetable">
                <p>пн - сб: с 09:00 до 21:00</p>
                <p>вс: с 10:00 до 18:00</p>
              </div>
            </div>
          </div>
          <div class="columns__col--5 columns__col-tab--12 mbt-40 mbm-30">
            <div class="labs__item">
              <div class="labs__item-header">Главный врач</div>
              <a class="labs__item-link" href="mailto:">
                <span>Колобухов Павел Владимирович</span>
                <svg>
                  <use xlink:href="assets/sprite/sprite.svg#icon-mail"></use>
                </svg>
              </a>
            </div>
          </div>
          <div class="columns__col--4 columns__col-tab--6 columns__col-mob--12 mbm-30">
            <div class="labs__item">
              <div class="labs__item-header">Контакты</div>
              <a class="link link--green-dot" href="tel:+74012519000">8 (4012) 51-90-00</a>
              <a href="mailto:office@mdx39.ru">mailto:office@mdx39.ru</a>
            </div>
          </div>
          <div class="columns__col--3 columns__col-tab--6 columns__col-mob--12 mbm-30">
            <div class="labs__item">
              <div class="labs__item-header">Приём анализов</div>
              <div class="labs__item-timetable">
                <p>пн - сб: с 09:00 до 21:00</p>
                <p>вс: с 10:00 до 18:00</p>
              </div>
            </div>
          </div>
          <div class="columns__col--5 columns__col-tab--12 mbt-40 mbm-30">
            <div class="labs__item">
              <div class="labs__item-header">Дополнительная информация</div>
              <p>Патоморфологическая лаборатория (цитология и гистология, анализ спермы) -
                <strong>8 (4012) 51-90-00</strong>
              </p>
              <p>ПЦР-лаборатория -
                <strong>8 (4012) 51-90-00, доб 2203</strong>
              </p>
            </div>
          </div>
          <div class="columns__col--12">
            <div class="labs__btn-wrapper">
              <button class="button" type="button" data-fancybox data-src="">Записаться на приём</button>
              <button class="button button--dark" type="button" data-fancybox data-src="">Подробнее</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section mb-80">
    <div class="container">
      <div class="tabs" data-tabs>
        <div class="tabs__controls mb-45">
          <p class="tabs__trigger tabs__trigger--desk active" data-tabs-trigger data-tabs="tab-100">Направления</p>
          <p class="tabs__trigger tabs__trigger--desk" data-tabs-trigger data-tabs="tab-200">Врачи</p>
          <p class="tabs__trigger tabs__trigger--desk" data-tabs-trigger data-tabs="tab-300">Лицензии</p>
          <p class="tabs__trigger tabs__trigger--desk" data-tabs-trigger data-tabs="tab-400">Галерея</p>
        </div>
        <ul class="tabs__list">
          <li class="tabs__item active" id="tab-100" data-tabs-list>
            <div class="slider slider--review mb-50" data-slider data-slider-slides="2">
              <div class="swiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <a class="article-img card--bg" target="_blank" href="#">
                      <div class="card--bg__content article-img__content">
                        <div class="card__title">Скидка 20% на лабораторные услуги</div>
                        <div class="card__content-bottom">
                          <p class="card--bg__link button button--empty">Подробнее</p>
                        </div>
                      </div>
                      <img class="article-img__bg card--bg__bg" src="assets/images/news-pic-2.jpg" alt="">
                    </a>
                  </div>
                  <div class="swiper-slide">
                    <a class="article-img card--bg" target="_blank" href="#">
                      <div class="card--bg__content article-img__content">
                        <div class="card__title">Первичный прием
                          врача за 1250 рублей!
                        </div>
                        <div class="card__content-bottom">
                          <p class="card--bg__link button button--empty">Подробнее</p>
                        </div>
                      </div>
                      <img class="article-img__bg card--bg__bg" src="assets/images/news-pic-2.jpg" alt="">
                    </a>
                  </div>
                  <div class="swiper-slide">
                    <a class="article-img card--bg" target="_blank" href="#">
                      <div class="card--bg__content article-img__content">
                        <div class="card__title">Ультразвуковая чистка полости рта за 2400 рублей!</div>
                        <div class="card__content-bottom">
                          <p class="card--bg__link button button--empty">Подробнее</p>
                        </div>
                      </div>
                      <img class="article-img__bg card--bg__bg" src="assets/images/sales-page-pic-3.jpg" alt="">
                    </a>
                  </div>
                  <div class="swiper-slide">
                    <a class="article-img card--bg" target="_blank" href="#">
                      <div class="card--bg__content article-img__content">
                        <div class="card__title">Скидка для ветеранов ВОВ и инвалидов 1 группы 60 %</div>
                        <div class="card__content-bottom">
                          <p class="card--bg__link button button--empty">Подробнее</p>
                        </div>
                      </div>
                      <img class="article-img__bg card--bg__bg" src="assets/images/sales-page-pic-4.jpg" alt="">
                    </a>
                  </div>
                  <div class="swiper-slide">
                    <a class="article-img card--bg" target="_blank" href="#">
                      <div class="card--bg__content article-img__content">
                        <div class="card__title">Скидка 20% на лабораторные услуги</div>
                        <div class="card__content-bottom">
                          <p class="card--bg__link button button--empty">Подробнее</p>
                        </div>
                      </div>
                      <img class="article-img__bg card--bg__bg" src="assets/images/news-pic-2.jpg" alt="">
                    </a>
                  </div>
                </div>
              </div>
              <div class="slider__controls">
                <button class="slider__button slider__button--prev" type="button" data-slider-prev>
                  <svg>
                    <use xlink:href="assets/sprite/sprite.svg#icon-arrow"></use>
                  </svg>
                </button>
                <button class="slider__button slider__button--next" type="button" data-slider-next>
                  <svg>
                    <use xlink:href="assets/sprite/sprite.svg#icon-arrow"></use>
                  </svg>
                </button>
              </div>
            </div>
          </li>
          <li class="tabs__item" id="tab-200" data-tabs-list>
            <div class="slider slider--review mb-50" data-slider data-slider-slides="3">
              <div class="swiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <a class="card card--md" href="#">
                      <picture class="card__picture">
                        <img src="assets/images/doc.jpg" alt="">
                      </picture>
                      <div class="card__content">
                        <div class="card__title">
                          <p>Львович</p>
                          <p>Инна Александровна</p>
                        </div>
                        <div class="card__text">
                          <p>Нефролог</p>
                        </div>
                        <div class="card__text-accent">
                          <p>Стаж 15 лет</p>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="swiper-slide">
                    <a class="card card--md" href="#">
                      <picture class="card__picture">
                        <img src="assets/images/doc.jpg" alt="">
                      </picture>
                      <div class="card__content">
                        <div class="card__title">
                          <p>Львович</p>
                          <p>Инна Александровна</p>
                        </div>
                        <div class="card__text">
                          <p>Нефролог</p>
                        </div>
                        <div class="card__text-accent">
                          <p>Стаж 15 лет</p>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="swiper-slide">
                    <a class="card card--md" href="#">
                      <picture class="card__picture">
                        <img src="assets/images/doc.jpg" alt="">
                      </picture>
                      <div class="card__content">
                        <div class="card__title">
                          <p>Львович</p>
                          <p>Инна Александровна</p>
                        </div>
                        <div class="card__text">
                          <p>Нефролог</p>
                        </div>
                        <div class="card__text-accent">
                          <p>Стаж 15 лет</p>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="swiper-slide">
                    <a class="card card--md" href="#">
                      <picture class="card__picture">
                        <img src="assets/images/doc.jpg" alt="">
                      </picture>
                      <div class="card__content">
                        <div class="card__title">
                          <p>Львович</p>
                          <p>Инна Александровна</p>
                        </div>
                        <div class="card__text">
                          <p>Нефролог</p>
                        </div>
                        <div class="card__text-accent">
                          <p>Стаж 15 лет</p>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="slider__controls">
                <button class="slider__button slider__button--prev" type="button" data-slider-prev>
                  <svg>
                    <use xlink:href="assets/sprite/sprite.svg#icon-arrow"></use>
                  </svg>
                </button>
                <button class="slider__button slider__button--next" type="button" data-slider-next>
                  <svg>
                    <use xlink:href="assets/sprite/sprite.svg#icon-arrow"></use>
                  </svg>
                </button>
              </div>
            </div>
          </li>
          <li class="tabs__item" id="tab-300" data-tabs-list>
            <div class="collapse collapse--simple" data-collapse data-duration="700">
              <div class="collapse__wrapper collapse--simple__wrapper">
                <div class="collapse__item" data-collapse-item>
                  <div class="collapse__trigger collapse--simple__trigger collapse__trigger--pad-l"
                       data-collapse-trigger>
                    <div>
                      <p>Медэксперт на Иванникова</p>
                      <span>ООО "МЦ "Медэксперт"</span>
                    </div>
                    <svg class="collapse__icon collapse__icon--arrow" data-collapse-icon>
                      <use xlink:href="assets/sprite/sprite.svg#icon-arrow-min"></use>
                    </svg>
                  </div>
                  <div class="collapse__content" data-collapse-content>
                    <div class="collapse__inner collapse__inner-min-padding">
                      <p class="fw--300">Ознакомиться с лицензиями на осуществление медицинской деятельности вы можете
                        на
                        официальном сайте
                        <br>Росздравнадзор по ссылке: <a class="link link--underline"
                                                         href="https://roszdravnadzor.gov.ru/services/licenses">https://roszdravnadzor.gov.ru/services/licenses</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="collapse__wrapper collapse--simple__wrapper">
                <div class="collapse__item" data-collapse-item>
                  <div class="collapse__trigger collapse--simple__trigger collapse__trigger--pad-l"
                       data-collapse-trigger>
                    <div>
                      <p>Медэксперт на Космической</p>
                      <span>ООО "Медицинский центр Медэксперт Л.Д."</span>
                    </div>
                    <svg class="collapse__icon collapse__icon--arrow" data-collapse-icon>
                      <use xlink:href="assets/sprite/sprite.svg#icon-arrow-min"></use>
                    </svg>
                  </div>
                  <div class="collapse__content" data-collapse-content>
                    <div class="collapse__inner collapse__inner-min-padding">
                      <p class="fw--300">Ознакомиться с лицензиями на осуществление медицинской деятельности вы можете
                        на
                        официальном сайте
                        <br>Росздравнадзор по ссылке: <a class="link link--underline"
                                                         href="https://roszdravnadzor.gov.ru/services/licenses">https://roszdravnadzor.gov.ru/services/licenses</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="collapse__wrapper collapse--simple__wrapper">
                <div class="collapse__item" data-collapse-item>
                  <div class="collapse__trigger collapse--simple__trigger collapse__trigger--pad-l"
                       data-collapse-trigger>
                    <div>
                      <p>Лаборатория Медэксперт</p>
                      <span>ООО "МедЭксперт лаб"</span>
                    </div>
                    <svg class="collapse__icon collapse__icon--arrow" data-collapse-icon>
                      <use xlink:href="assets/sprite/sprite.svg#icon-arrow-min"></use>
                    </svg>
                  </div>
                  <div class="collapse__content" data-collapse-content>
                    <div class="collapse__inner collapse__inner-min-padding">
                      <p class="fw--300">Ознакомиться с лицензиями на осуществление медицинской деятельности вы можете
                        на
                        официальном сайте
                        <br>Росздравнадзор по ссылке: <a class="link link--underline"
                                                         href="https://roszdravnadzor.gov.ru/services/licenses">https://roszdravnadzor.gov.ru/services/licenses</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="collapse__wrapper collapse--simple__wrapper">
                <div class="collapse__item" data-collapse-item>
                  <div class="collapse__trigger collapse--simple__trigger collapse__trigger--pad-l"
                       data-collapse-trigger>
                    <div>
                      <p>Медэксперт на Московском</p>
                      <span>ООО "Медицинский центр "Медэксперт"</span>
                    </div>
                    <svg class="collapse__icon collapse__icon--arrow" data-collapse-icon>
                      <use xlink:href="assets/sprite/sprite.svg#icon-arrow-min"></use>
                    </svg>
                  </div>
                  <div class="collapse__content" data-collapse-content>
                    <div class="collapse__inner collapse__inner-min-padding">
                      <p class="fw--300">Ознакомиться с лицензиями на осуществление медицинской деятельности вы можете
                        на
                        официальном сайте
                        <br>Росздравнадзор по ссылке: <a class="link link--underline"
                                                         href="https://roszdravnadzor.gov.ru/services/licenses">https://roszdravnadzor.gov.ru/services/licenses</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="collapse__wrapper collapse--simple__wrapper">
                <div class="collapse__item" data-collapse-item>
                  <div class="collapse__trigger collapse--simple__trigger collapse__trigger--pad-l"
                       data-collapse-trigger>
                    <div>
                      <p>Медэксперт на Леонова</p>
                      <span>ООО "МедЭксперт Плюс"</span>
                    </div>
                    <svg class="collapse__icon collapse__icon--arrow" data-collapse-icon>
                      <use xlink:href="assets/sprite/sprite.svg#icon-arrow-min"></use>
                    </svg>
                  </div>
                  <div class="collapse__content" data-collapse-content>
                    <div class="collapse__inner collapse__inner-min-padding">
                      <p class="fw--300">Ознакомиться с лицензиями на осуществление медицинской деятельности вы можете
                        на
                        официальном сайте
                        <br>Росздравнадзор по ссылке: <a class="link link--underline"
                                                         href="https://roszdravnadzor.gov.ru/services/licenses">https://roszdravnadzor.gov.ru/services/licenses</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="collapse__wrapper collapse--simple__wrapper">
                <div class="collapse__item" data-collapse-item>
                  <div class="collapse__trigger collapse--simple__trigger collapse__trigger--pad-l"
                       data-collapse-trigger>
                    <div>
                      <p>Медэксперт на Интернациональной, Медэксперт на 9 Апреля</p>
                      <span>ООО "Медицинский центр "Медэксперт-5"</span>
                    </div>
                    <svg class="collapse__icon collapse__icon--arrow" data-collapse-icon>
                      <use xlink:href="assets/sprite/sprite.svg#icon-arrow-min"></use>
                    </svg>
                  </div>
                  <div class="collapse__content" data-collapse-content>
                    <div class="collapse__inner collapse__inner-min-padding">
                      <p class="fw--300">Ознакомиться с лицензиями на осуществление медицинской деятельности вы можете
                        на
                        официальном сайте
                        <br>Росздравнадзор по ссылке: <a class="link link--underline"
                                                         href="https://roszdravnadzor.gov.ru/services/licenses">https://roszdravnadzor.gov.ru/services/licenses</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="collapse__wrapper collapse--simple__wrapper">
                <div class="collapse__item" data-collapse-item>
                  <div class="collapse__trigger collapse--simple__trigger collapse__trigger--pad-l"
                       data-collapse-trigger>
                    <div>
                      <p>Медэксперт Орто</p>
                      <span>ООО "Медицинский центр Медэксперт-Орто"</span>
                    </div>
                    <svg class="collapse__icon collapse__icon--arrow" data-collapse-icon>
                      <use xlink:href="assets/sprite/sprite.svg#icon-arrow-min"></use>
                    </svg>
                  </div>
                  <div class="collapse__content" data-collapse-content>
                    <div class="collapse__inner collapse__inner-min-padding">
                      <p class="fw--300">Ознакомиться с лицензиями на осуществление медицинской деятельности вы можете
                        на
                        официальном сайте
                        <br>Росздравнадзор по ссылке: <a class="link link--underline"
                                                         href="https://roszdravnadzor.gov.ru/services/licenses">https://roszdravnadzor.gov.ru/services/licenses</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="collapse__wrapper collapse--simple__wrapper">
                <div class="collapse__item" data-collapse-item>
                  <div class="collapse__trigger collapse--simple__trigger collapse__trigger--pad-l"
                       data-collapse-trigger>
                    <div>
                      <p>Медэксперт на Победе</p>
                      <span>ООО "Медицинский центр Медэксперт Д"</span>
                    </div>
                    <svg class="collapse__icon collapse__icon--arrow" data-collapse-icon>
                      <use xlink:href="assets/sprite/sprite.svg#icon-arrow-min"></use>
                    </svg>
                  </div>
                  <div class="collapse__content" data-collapse-content>
                    <div class="collapse__inner collapse__inner-min-padding">
                      <p class="fw--300">Ознакомиться с лицензиями на осуществление медицинской деятельности вы можете
                        на
                        официальном сайте
                        <br>Росздравнадзор по ссылке: <a class="link link--underline"
                                                         href="https://roszdravnadzor.gov.ru/services/licenses">https://roszdravnadzor.gov.ru/services/licenses</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="collapse__wrapper collapse--simple__wrapper">
                <div class="collapse__item" data-collapse-item>
                  <div class="collapse__trigger collapse--simple__trigger collapse__trigger--pad-l"
                       data-collapse-trigger>
                    <div>
                      <p>Медэксперт на Пражской</p>
                      <span>ООО "Медицинский центр Медэксперт-4"</span>
                    </div>
                    <svg class="collapse__icon collapse__icon--arrow" data-collapse-icon>
                      <use xlink:href="assets/sprite/sprite.svg#icon-arrow-min"></use>
                    </svg>
                  </div>
                  <div class="collapse__content" data-collapse-content>
                    <div class="collapse__inner collapse__inner-min-padding">
                      <p class="fw--300">Ознакомиться с лицензиями на осуществление медицинской деятельности вы можете
                        на
                        официальном сайте
                        <br>Росздравнадзор по ссылке: <a class="link link--underline"
                                                         href="https://roszdravnadzor.gov.ru/services/licenses">https://roszdravnadzor.gov.ru/services/licenses</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="collapse__wrapper collapse--simple__wrapper">
                <div class="collapse__item" data-collapse-item>
                  <div class="collapse__trigger collapse--simple__trigger collapse__trigger--pad-l"
                       data-collapse-trigger>
                    <div>
                      <p>Медэксперт на Лефорта, Медэксперт на Челнокова</p>
                      <span>ООО "Медицинский центр Медэксперт С"</span>
                    </div>
                    <svg class="collapse__icon collapse__icon--arrow" data-collapse-icon>
                      <use xlink:href="assets/sprite/sprite.svg#icon-arrow-min"></use>
                    </svg>
                  </div>
                  <div class="collapse__content" data-collapse-content>
                    <div class="collapse__inner collapse__inner-min-padding">
                      <p class="fw--300">Ознакомиться с лицензиями на осуществление медицинской деятельности вы можете
                        на
                        официальном сайте
                        <br>Росздравнадзор по ссылке: <a class="link link--underline"
                                                         href="https://roszdravnadzor.gov.ru/services/licenses">https://roszdravnadzor.gov.ru/services/licenses</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="collapse__wrapper collapse--simple__wrapper">
                <div class="collapse__item" data-collapse-item>
                  <div class="collapse__trigger collapse--simple__trigger collapse__trigger--pad-l"
                       data-collapse-trigger>
                    <div>
                      <p>Медэксперт в Советске</p>
                      <span>ООО "Медицинский центр Медэксперт-Восток"</span>
                    </div>
                    <svg class="collapse__icon collapse__icon--arrow" data-collapse-icon>
                      <use xlink:href="assets/sprite/sprite.svg#icon-arrow-min"></use>
                    </svg>
                  </div>
                  <div class="collapse__content" data-collapse-content>
                    <div class="collapse__inner collapse__inner-min-padding">
                      <p class="fw--300">Ознакомиться с лицензиями на осуществление медицинской деятельности вы можете
                        на
                        официальном сайте
                        <br>Росздравнадзор по ссылке: <a class="link link--underline"
                                                         href="https://roszdravnadzor.gov.ru/services/licenses">https://roszdravnadzor.gov.ru/services/licenses</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="collapse__wrapper collapse--simple__wrapper">
                <div class="collapse__item" data-collapse-item>
                  <div class="collapse__trigger collapse--simple__trigger collapse__trigger--pad-l"
                       data-collapse-trigger>
                    <div>
                      <p>Доктор ЛОР</p>
                      <span>ООО "Доктор ЛОР"</span>
                    </div>
                    <svg class="collapse__icon collapse__icon--arrow" data-collapse-icon>
                      <use xlink:href="assets/sprite/sprite.svg#icon-arrow-min"></use>
                    </svg>
                  </div>
                  <div class="collapse__content" data-collapse-content>
                    <div class="collapse__inner collapse__inner-min-padding">
                      <p class="fw--300">Ознакомиться с лицензиями на осуществление медицинской деятельности вы можете
                        на
                        официальном сайте
                        <br>Росздравнадзор по ссылке: <a class="link link--underline"
                                                         href="https://roszdravnadzor.gov.ru/services/licenses">https://roszdravnadzor.gov.ru/services/licenses</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="collapse__wrapper collapse--simple__wrapper">
                <div class="collapse__item" data-collapse-item>
                  <div class="collapse__trigger collapse--simple__trigger collapse__trigger--pad-l"
                       data-collapse-trigger>
                    <div>
                      <p>Медицинский центр "Чивит"</p>
                      <span>ООО "Медицинский центр "Чивит"</span>
                    </div>
                    <svg class="collapse__icon collapse__icon--arrow" data-collapse-icon>
                      <use xlink:href="assets/sprite/sprite.svg#icon-arrow-min"></use>
                    </svg>
                  </div>
                  <div class="collapse__content" data-collapse-content>
                    <div class="collapse__inner collapse__inner-min-padding">
                      <p class="fw--300">Ознакомиться с лицензиями на осуществление медицинской деятельности вы можете
                        на
                        официальном сайте
                        <br>Росздравнадзор по ссылке: <a class="link link--underline"
                                                         href="https://roszdravnadzor.gov.ru/services/licenses">https://roszdravnadzor.gov.ru/services/licenses</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="collapse__wrapper collapse--simple__wrapper">
                <div class="collapse__item" data-collapse-item>
                  <div class="collapse__trigger collapse--simple__trigger collapse__trigger--pad-l"
                       data-collapse-trigger>
                    <div>
                      <p>Клиника Здоровый Ребенок</p>
                      <span>ООО "МПЦ Здоровый Ребенок"</span>
                    </div>
                    <svg class="collapse__icon collapse__icon--arrow" data-collapse-icon>
                      <use xlink:href="assets/sprite/sprite.svg#icon-arrow-min"></use>
                    </svg>
                  </div>
                  <div class="collapse__content" data-collapse-content>
                    <div class="collapse__inner collapse__inner-min-padding">
                      <p class="fw--300">Ознакомиться с лицензиями на осуществление медицинской деятельности вы можете
                        на
                        официальном сайте
                        <br>Росздравнадзор по ссылке: <a class="link link--underline"
                                                         href="https://roszdravnadzor.gov.ru/services/licenses">https://roszdravnadzor.gov.ru/services/licenses</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="tabs__item" id="tab-400" data-tabs-list>
            <div class="slider slider--review mb-50" data-slider data-slider-slides="2">
              <div class="swiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <article class="card card--review card--short">
                      <div class="review-card__content">
                        <div class="card__title">Екатерина</div>
                        <div class="review-card__text">
                          <p>Хочу выразить благодарность замечательному неврологу, профессионалу своего дела. Меня давно
                            мучили головные боли, я не спала нормально. Обратилась к Туяне Батуевне. Она назначила
                            анализы, подобрала лечение. переживала за меня, беспокоилась. Все помогло и быстро! Очень
                            внимательный доктор с широким кругозором знаний. Туяна Батуевна, спасибо Вам огромное за
                            помощь, за поддержку, за образец высокого звания Врач. С глубоким уважением, Евгения.</p>
                        </div>
                        <div class="review-card__bottom__bottom--row">
                          <picture class="userpic-circle">
                            <img src="assets/images/doc.jpg" alt="">
                          </picture>
                          <div class="review-card__bottom-content">
                            <p class="review-card__bottom-text--accent">Иваненко Людмила Борисовна</p>
                            <p class="review-card__bottom-text">Нефролог</p>
                          </div>
                        </div>
                      </div>
                    </article>
                  </div>
                  <div class="swiper-slide">
                    <article class="card card--review card--short">
                      <div class="review-card__content">
                        <div class="card__title">Екатерина</div>
                        <div class="review-card__text">
                          <p>Хочу выразить благодарность замечательному неврологу, профессионалу своего дела. Меня давно
                            мучили головные боли, я не спала нормально. Обратилась к Туяне Батуевне. Она назначила
                            анализы, подобрала лечение. переживала за меня, беспокоилась. Все помогло и быстро! Очень
                            внимательный доктор с широким кругозором знаний. Туяна Батуевна, спасибо Вам огромное за
                            помощь, за поддержку, за образец высокого звания Врач. С глубоким уважением, Евгения.</p>
                        </div>
                        <div class="review-card__bottom__bottom--row">
                          <picture class="userpic-circle">
                            <img src="assets/images/doc.jpg" alt="">
                          </picture>
                          <div class="review-card__bottom-content">
                            <p class="review-card__bottom-text--accent">Иваненко Людмила Борисовна</p>
                            <p class="review-card__bottom-text">Нефролог</p>
                          </div>
                        </div>
                      </div>
                    </article>
                  </div>
                  <div class="swiper-slide">
                    <article class="card card--review card--short">
                      <div class="review-card__content">
                        <div class="card__title">Екатерина</div>
                        <div class="review-card__text">
                          <p>Хочу выразить благодарность замечательному неврологу, профессионалу своего дела. Меня давно
                            мучили головные боли, я не спала нормально. Обратилась к Туяне Батуевне. Она назначила
                            анализы, подобрала лечение. переживала за меня, беспокоилась. Все помогло и быстро! Очень
                            внимательный доктор с широким кругозором знаний. Туяна Батуевна, спасибо Вам огромное за
                            помощь, за поддержку, за образец высокого звания Врач. С глубоким уважением, Евгения.</p>
                        </div>
                        <div class="review-card__bottom__bottom--row">
                          <picture class="userpic-circle">
                            <img src="assets/images/doc.jpg" alt="">
                          </picture>
                          <div class="review-card__bottom-content">
                            <p class="review-card__bottom-text--accent">Иваненко Людмила Борисовна</p>
                            <p class="review-card__bottom-text">Нефролог</p>
                          </div>
                        </div>
                      </div>
                    </article>
                  </div>
                  <div class="swiper-slide">
                    <article class="card card--review card--short">
                      <div class="review-card__content">
                        <div class="card__title">Екатерина</div>
                        <div class="review-card__text">
                          <p>Хочу выразить благодарность замечательному неврологу, профессионалу своего дела. Меня давно
                            мучили головные боли, я не спала нормально. Обратилась к Туяне Батуевне. Она назначила
                            анализы, подобрала лечение. переживала за меня, беспокоилась. Все помогло и быстро! Очень
                            внимательный доктор с широким кругозором знаний. Туяна Батуевна, спасибо Вам огромное за
                            помощь, за поддержку, за образец высокого звания Врач. С глубоким уважением, Евгения.</p>
                        </div>
                        <div class="review-card__bottom__bottom--row">
                          <picture class="userpic-circle">
                            <img src="assets/images/doc.jpg" alt="">
                          </picture>
                          <div class="review-card__bottom-content">
                            <p class="review-card__bottom-text--accent">Иваненко Людмила Борисовна</p>
                            <p class="review-card__bottom-text">Нефролог</p>
                          </div>
                        </div>
                      </div>
                    </article>
                  </div>
                </div>
              </div>
              <div class="slider__controls">
                <button class="slider__button slider__button--prev" type="button" data-slider-prev>
                  <svg>
                    <use xlink:href="assets/sprite/sprite.svg#icon-arrow"></use>
                  </svg>
                </button>
                <button class="slider__button slider__button--next" type="button" data-slider-next>
                  <svg>
                    <use xlink:href="assets/sprite/sprite.svg#icon-arrow"></use>
                  </svg>
                </button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>
</main>
<%= htmlWebpackPlugin.options.sectionFooter %>
<%= htmlWebpackPlugin.options.temp %>
</body>
</html>