<!DOCTYPE html>
<html lang="ru">
<head>
  <%= htmlWebpackPlugin.options.head %>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body class="body">
<%= htmlWebpackPlugin.options.sectionHeader %>
<main class="main">
  <section class="section">
    <div class="container">
      <div class="breadcrumbs">
        <a class="breadcrumbs__link" href="./">Главная</a>
        <a class="breadcrumbs__link" href="./">Пациентам</a>
        <span class="breadcrumbs__curr-page">Обработка данных</span>
      </div>
    </div>
  </section>
  <section class="section mb-80">
    <div class="container">
      <h1 class="title mb-30">Обработка данных</h1>
      <p class="fw--500 fz--20 mb-50">Политика обработки и защиты персональных данных</p>
      <div class="editor editor--16">
        <ol class="editor__list">
          <li class="editor__list-item">
            <span class="editor__list-text">Определения и сокращения, используемые в Политике</span>
            <ol class="editor__list--inner">
              <li class="editor__list-item">
                <span>Персональные данные (ПДн) – любая информация, относящаяся к прямо или косвенно определенному лицу или определяемому физическому лицу (субъекту персональных данных).</span>
              </li>
              <li class="editor__list-item">
                <span>Обработка персональных данных – любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств информатизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.</span>
              </li>
              <li class="editor__list-item">
                <span>Распространение персональных данных – действия, направленные на раскрытие персональных данных неопределенному кругу лиц.</span>
              </li>
              <li class="editor__list-item">
                <span>Предоставление персональных данных – действия, направленные на раскрытие персональных данных определенному лицу или определенному кругу лиц.</span>
              </li>
              <li class="editor__list-item">
                <span>Блокирование персональных данных – временное прекращение обработки персональных данных (за исключением случаев, если обработка необходима для уточнения персональных данных).</span>
              </li>
              <li class="editor__list-item">
                <span>Уничтожение персональных данных – действия, в результате которых становится невозможным восстановить содержание персональных данных в информационной системе персональных данных и (или) в результате которых уничтожаются материальные носители персональных данных.</span>
              </li>
              <li class="editor__list-item">
                <span> Обезличивание персональных данных – действия, в результате которых становится невозможным без использования дополнительной информации определить принадлежность персональных данных к конкретному субъекту персональных данных.</span>
              </li>
              <li class="editor__list-item">
                <span>Информационная система персональных данных (ИСПДн) – совокупность содержащихся в базах данных персональных данных и обеспечивающих их обработку информационных технологий и технических средств.</span>
              </li>
              <li class="editor__list-item">
                <span>Информация – сведения (сообщения, данные) независимо от формы их представления.</span>
              </li>
            </ol>
          </li>
          <li class="editor__list-item">
            <span class="editor__list-text">Общие положения</span>
            <ol class="editor__list--inner">
              <li class="editor__list-item">
                <span>Настоящий документ определяет политику Оператора ООО «Медицинский центр Медэксперт Л.Д.» (далее – Оператор) в отношении обработки и защиты персональных данных.</span>
              </li>
              <li class="editor__list-item">
                <span>Политика обработки и защиты персональных данных Оператора (далее – Политика) определяет:</span>
                <ul class="list list--line">
                  <li>
                    <span>правовые основы и основания обработки ПДн;</span>
                  </li>
                  <li>
                    <span>принципы и цели обработки ПДн;</span>
                  </li>
                  <li>
                    <span>перечни субъектов ПДн и обрабатываемых ПДн;</span>
                  </li>
                  <li>
                    <span>операции, совершаемые с ПДн, и сроки их обработки;</span>
                  </li>
                  <li>
                    <span>права и обязанности субъектов и работников Оператора при обработке ПДн;</span>
                  </li>
                  <li>
                    <span>меры, принимаемые Оператором для защиты ПДн;</span>
                  </li>
                  <li>
                    <span>контроль и надзор за обработкой ПДн.</span>
                  </li>
                </ul>
              </li>
              <li class="editor__list-item">
                <span>Настоящая Политика разработана в соответствии с п. 2 ст. 18.1 Федерального закона «О персональных данных» №152-ФЗ от 27 июля 2006 года и с учетом требований Конституции Российской Федерации, законодательных и иных нормативных правовых актов Российской Федерации в области персональных данных.</span>
              </li>
              <li class="editor__list-item">
                <span> Целью настоящей Политики является определение порядка обработки персональных данных граждан; обеспечение защиты прав и свобод человека и гражданина при обработке его персональных данных, в том числе защиты прав на неприкосновенность частной жизни, личную и семейную тайну, а также установление ответственности должностных лиц, имеющих доступ к персональным данным граждан, за невыполнение требований и норм, регулирующих обработку и защиту персональных данных.</span>
              </li>
              <li class="editor__list-item">
                <span>Политика действует в отношении всех персональных данных, обрабатываемых Оператором, полученных как до, так и после подписания настоящей Политики.</span>
              </li>
              <li class="editor__list-item">
                <span>Действие настоящей Политики распространяется на персональные данные, обрабатываемые с применением средств автоматизации и без применения таких средств.</span>
              </li>
              <li class="editor__list-item">
                <span>Действие настоящей Политики распространяется на все процессы, в рамках которых осуществляется обработка персональных данных субъектов ПДн всех категорий, а также на должностных лиц, принимающих участие в указанных процессах.</span>
              </li>
              <li class="editor__list-item">
                <span>Основные положения документа могут быть распространены также на подразделения других организаций и учреждений, осуществляющие взаимодействие с Оператором в качестве поставщиков и потребителей (пользователей) информации.</span>
              </li>
            </ol>
          </li>
          <li class="editor__list-item">
            <span class="editor__list-text">Информация об Операторе</span>
            <div class="fw--300">Наименование Оператора: ООО «Медицинский центр Медэксперт Л.Д.»</div>
            <div class="fw--300">Юридический адрес: 236006 г. Калининград, ул. Космическая, 29</div>
          </li>
        </ol>
      </div>
    </div>
  </section>
</main>
<%= htmlWebpackPlugin.options.sectionFooter %>
<%= htmlWebpackPlugin.options.temp %>
</body>
</html>