<!DOCTYPE html>
<html lang="ru">
<head>
  <%= htmlWebpackPlugin.options.head %>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body class="body">
<div class="main-container">
  <%= htmlWebpackPlugin.options.sectionHeader %>
  <main class="main">
    <section class="section">
      <div class="container">
        <div class="breadcrumbs">
          <a class="breadcrumbs__link" href="./">Главная</a>
          <a class="breadcrumbs__link" href="./">Пациентам</a>
          <span class="breadcrumbs__curr-page">Обработка данных</span>
        </div>
      </div>
    </section>
    <section class="section mb-100">
      <div class="container">
        <h1 class="title title--page mb-15 mbm-15">Обработка данных</h1>
        <p class="fw--500 fz--20 mb-55 mbm-40">Политика обработки и защиты персональных данных</p>
        <div class="editor editor--16 editor--no-marg">
          <h5 class="mb-30">Определения и сокращения, используемые в Политике</h5>
          <ol class="editor__list">
            <li class="editor__list-item">
              <ol class="editor__list--inner">
                <li>
                  <span>Персональные данные (ПДн) – любая информация, относящаяся к прямо или косвенно определенному лицу или определяемому физическому лицу (субъекту персональных данных).</span>
                </li>
                <li>
                  <span>Обработка персональных данных – любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств информатизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.</span>
                </li>
                <li>
                  <span>Распространение персональных данных – действия, направленные на раскрытие персональных данных неопределенному кругу лиц.</span>
                </li>
                <li>
                  <span>Предоставление персональных данных – действия, направленные на раскрытие персональных данных определенному лицу или определенному кругу лиц.</span>
                </li>
                <li>
                  <span>Блокирование персональных данных – временное прекращение обработки персональных данных (за исключением случаев, если обработка необходима для уточнения персональных данных).</span>
                </li>
                <li>
                  <span>Уничтожение персональных данных – действия, в результате которых становится невозможным восстановить содержание персональных данных в информационной системе персональных данных и (или) в результате которых уничтожаются материальные носители персональных данных.</span>
                </li>
                <li>
                  <span> Обезличивание персональных данных – действия, в результате которых становится невозможным без использования дополнительной информации определить принадлежность персональных данных к конкретному субъекту персональных данных.</span>
                </li>
                <li>
                  <span>Информационная система персональных данных (ИСПДн) – совокупность содержащихся в базах данных персональных данных и обеспечивающих их обработку информационных технологий и технических средств.</span>
                </li>
                <li>
                  <span>Информация – сведения (сообщения, данные) независимо от формы их представления.</span>
                </li>
              </ol>
            </li>
            <li class="editor__list-item">
              <h5 class="mb-30">Общие положения</h5>
              <ol class="editor__list--inner">
                <li>
                  <span>Настоящий документ определяет политику Оператора ООО «Медицинский центр Медэксперт Л.Д.» (далее – Оператор) в отношении обработки и защиты персональных данных.</span>
                </li>
                <li>
                  <span>Политика обработки и защиты персональных данных Оператора (далее – Политика) определяет:</span>
                  <ul class="list list--line">
                    <li>
                      <span>правовые основы и основания обработки ПДн;</span>
                    </li>
                    <li>
                      <span>принципы и цели обработки ПДн;</span>
                    </li>
                    <li>
                      <span>перечни субъектов ПДн и обрабатываемых ПДн;</span>
                    </li>
                    <li>
                      <span>операции, совершаемые с ПДн, и сроки их обработки;</span>
                    </li>
                    <li>
                      <span>права и обязанности субъектов и работников Оператора при обработке ПДн;</span>
                    </li>
                    <li>
                      <span>меры, принимаемые Оператором для защиты ПДн;</span>
                    </li>
                    <li>
                      <span>контроль и надзор за обработкой ПДн.</span>
                    </li>
                  </ul>
                </li>
                <li>
                  <span>Настоящая Политика разработана в соответствии с п. 2 ст. 18.1 Федерального закона «О персональных данных» №152-ФЗ от 27 июля 2006 года и с учетом требований Конституции Российской Федерации, законодательных и иных нормативных правовых актов Российской Федерации в области персональных данных.</span>
                </li>
                <li>
                  <span> Целью настоящей Политики является определение порядка обработки персональных данных граждан; обеспечение защиты прав и свобод человека и гражданина при обработке его персональных данных, в том числе защиты прав на неприкосновенность частной жизни, личную и семейную тайну, а также установление ответственности должностных лиц, имеющих доступ к персональным данным граждан, за невыполнение требований и норм, регулирующих обработку и защиту персональных данных.</span>
                </li>
                <li>
                  <span>Политика действует в отношении всех персональных данных, обрабатываемых Оператором, полученных как до, так и после подписания настоящей Политики.</span>
                </li>
                <li>
                  <span>Действие настоящей Политики распространяется на персональные данные, обрабатываемые с применением средств автоматизации и без применения таких средств.</span>
                </li>
                <li>
                  <span>Действие настоящей Политики распространяется на все процессы, в рамках которых осуществляется обработка персональных данных субъектов ПДн всех категорий, а также на должностных лиц, принимающих участие в указанных процессах.</span>
                </li>
                <li>
                  <span>Основные положения документа могут быть распространены также на подразделения других организаций и учреждений, осуществляющие взаимодействие с Оператором в качестве поставщиков и потребителей (пользователей) информации.</span>
                </li>
              </ol>
            </li>
            <li class="editor__list-item">
              <h5 class="mb-30">Правовые основы и основания обработки персональных данных</h5>
              <ol class="editor__list--inner">
                <li>
                  <span>Правовыми основаниями обработки Оператором персональных данных являются:</span>
                  <ul class="list list--line">
                    <li>
                      <span>Конституция Российской Федерации;</span>
                    </li>
                    <li>
                      <span>Трудовой кодекс Российской Федерации;</span>
                    </li>
                    <li>
                      <span>Гражданский кодекс Российской Федерации;</span>
                    </li>
                    <li>
                      <span>Федеральный закон от 21 ноября 2011 г. № 323-ФЗ «Об основах охраны здоровья граждан в Российской Федерации»;</span>
                    </li>
                    <li>
                      <span>Устав Оператора;</span>
                    </li>
                    <li>
                      <span>Договор между оператором и субъектом ПДн;</span>
                    </li>
                    <li>
                      <span>Согласие субъекта ПДн на обработку персональных данных.</span>
                    </li>
                  </ul>
                </li>
              </ol>
            </li>
            <li class="editor__list-item">
              <h5 class="mb-30">Персональные данные, обрабатываемые Оператором</h5>
              <ol class="editor__list--inner">
                <li>
                  <span>Оператором обрабатываются ПДн следующих категорий субъектов:</span>
                  <ul class="list list--line">
                    <li>
                      <span>Работники.</span>
                    </li>
                    <li>
                      <span>Близкие родственники работников.</span>
                    </li>
                    <li>
                      <span>Уволенные работники.</span>
                    </li>
                    <li>
                      <span>Кандидаты на вакантную должность.</span>
                    </li>
                    <li>
                      <span>Пациенты.</span>
                    </li>
                    <li>
                      <span>Законные представители пациентов.</span>
                    </li>
                    <li>
                      <span>Контрагенты.</span>
                    </li>
                  </ul>
                </li>
                <li>
                  <span>Перечень ПДн работников, близких родственников работников, уволенных работников, кандидатов на вакантную должность:</span>
                  <ul class="list list--line">
                    <li>
                      <span>фамилия, имя, отчество;</span>
                    </li>
                    <li>
                      <span>дата рождения и место рождения;</span>
                    </li>
                    <li>
                      <span>паспортные данные (серия, номер, когда и кем выдан);</span>
                    </li>
                    <li>
                      <span>адрес постоянной регистрации и проживания;</span>
                    </li>
                    <li>
                      <span>гражданство;</span>
                    </li>
                    <li>
                      <span>пол;</span>
                    </li>
                    <li>
                      <span>фотография;</span>
                    </li>
                    <li>
                      <span>адрес электронной почты;</span>
                    </li>
                    <li>
                      <span>номер контактного телефона;</span>
                    </li>
                    <li>
                      <span>семейное положение;</span>
                    </li>
                    <li>
                      <span>сведения из свидетельства о постановке на налоговый учет (ИНН);</span>
                    </li>
                    <li>
                      <span>сведения из свидетельства о государственном пенсионном страховании (СНИЛС);</span>
                    </li>
                    <li>
                      <span>сведения об образовании, о повышении квалификации, о профессиональной переподготовке;</span>
                    </li>
                    <li>
                      <span>отношение к воинской обязанности;</span>
                    </li>
                    <li>
                      <span>сведения о начислениях по заработной плате;</span>
                    </li>
                    <li>
                      <span>должность;</span>
                    </li>
                    <li>
                      <span>данные о трудовом стаже, включая предыдущие места работы;</span>
                    </li>
                    <li>
                      <span>данные о налоговых вычетах;</span>
                    </li>
                    <li>
                      <span>номер банковского лицевого счета, наименование банка;</span>
                    </li>
                    <li>
                      <span>состав семьи: степень родства, ФИО, дата рождения, данные документов, удостоверяющих личность ребенка;</span>
                    </li>
                    <li>
                      <span>сведения о состоянии здоровья.</span>
                    </li>
                  </ul>
                </li>
                <li>
                  <span>Перечень ПДн пациентов, законных представителей пациентов:</span>
                  <ul class="list list--line">
                    <li>
                      <span>фамилия, имя, отчество;</span>
                    </li>
                    <li>
                      <span>дата рождения и место рождения;</span>
                    </li>
                    <li>
                      <span>паспортные данные (серия, номер, когда и кем выдан);</span>
                    </li>
                    <li>
                      <span>сведения из свидетельства о государственном пенсионном страховании (СНИЛС);</span>
                    </li>
                    <li>
                      <span>сведения из полиса ОМС (ДМС);</span>
                    </li>
                    <li>
                      <span>место работы;</span>
                    </li>
                    <li>
                      <span>пол;</span>
                    </li>
                    <li>
                      <span>адрес регистрации и проживания;</span>
                    </li>
                    <li>
                      <span>номер контактного телефона;</span>
                    </li>
                    <li>
                      <span>сведения о состоянии здоровья;</span>
                    </li>
                    <li>
                      <span>диагноз;</span>
                    </li>
                    <li>
                      <span>результаты анализов.</span>
                    </li>
                  </ul>
                </li>
                <li>
                  <span>Перечень ПДн контрагентов:</span>
                  <ul class="list list--line">
                    <li>
                      <span>фамилия, имя, отчество;</span>
                    </li>
                    <li>
                      <span>сведения из Свидетельства о государственной регистрации физического лица в качестве индивидуального предпринимателя;</span>
                    </li>
                    <li>
                      <span>адрес регистрации;</span>
                    </li>
                    <li>
                      <span>номер контактного телефона;</span>
                    </li>
                    <li>
                      <span>адрес электронной почты.</span>
                    </li>
                  </ul>
                </li>
              </ol>
            </li>
            <li class="editor__list-item">
              <h5 class="mb-30">Операции, совершаемые с персональными данными.</h5>
              <span class="fw--300">Сроки обработки персональных данных</span>
              <ol class="editor__list--inner">
                <li>
                  <span>Оператор осуществляет сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение ПДн.</span>
                </li>
                <li>
                  <span>Обработка ПДн осуществляется с момента их получения Оператором и прекращается:</span>
                  <ul class="list list--line">
                    <li>
                      <span>по достижению целей обработки ПДн;</span>
                    </li>
                    <li>
                      <span>в связи с отсутствием необходимости в достижении заранее заявленных целей обработки ПДн;</span>
                    </li>
                    <li>
                      <span>в связи с отзывом согласия на обработку ПДн;</span>
                    </li>
                    <li>
                      <span>в связи с ликвидацией Оператора как юридического лица.</span>
                    </li>
                  </ul>
                  <p>Срок обработки ПДн работников – в течение срока действия трудового договора и 75 лет после его
                    окончания, если не установлен иной срок архивного хранения в соответствии с действующим
                    законодательством.</p>
                  <p>Срок обработки ПДн близких родственников работника – в течение срока действия трудового договора
                    работника и 75 лет после его окончания, если не установлен иной срок архивного хранения в
                    соответствии с действующим законодательством.</p>
                  <p>Срок обработки ПДн уволенных работников –75 лет после его окончания трудового договора, если не
                    установлен иной срок архивного хранения в соответствии с действующим законодательством.</p>
                  <p>Срок обработки ПДн кандидатов на вакантную должность – 1 год после преставления информации, если не
                    установлен иной срок архивного хранения в соответствии с действующим законодательством.</p>
                  <p>Срок обработки ПДн пациентов – в течение срока действия договора и 25 лет после его окончания, если
                    не установлен иной срок архивного хранения в соответствии с действующим законодательством.</p>
                  <p>Срок обработки ПДн законных представителей пациентов– в течение срока действия договора и 25 лет
                    после его окончания, если не установлен иной срок архивного хранения в соответствии с действующим
                    законодательством.</p>
                  <p>Срок обработки ПДн контрагентов– в течение срока действия договора и 3 года после его окончания,
                    если не установлен иной срок архивного хранения в соответствии с действующим законодательством.</p>
                </li>
              </ol>
            </li>
            <li class="editor__list-item">
              <h5 class="mb-30">Цели и принципы обработки ПДн</h5>
              <ol class="editor__list--inner">
                <li>
                  <span>Целями обработки ПДн Оператором являются:</span>
                  <ul class="list list--line">
                    <li>
                      <span>обеспечение соблюдения законов и иных правовых актов, содействие работникам в трудоустройстве, получения образования и продвижения по службе, обеспечение личной безопасности работников, контроля количества и качества выполняемой работы и обеспечение сохранности имущества;</span>
                    </li>
                    <li>
                      <span>оказание медицинских услуг;</span>
                    </li>
                    <li>
                      <span>оказание услуг, предусмотренных договором между Оператором и контрагентом.</span>
                    </li>
                  </ul>
                </li>
                <li>
                  <span>Обработка ПДн осуществляется на основе следующих принципов:</span>
                  <ul class="list list--line">
                    <li>
                      <span>обработка ПДн осуществляется на законной основе;</span>
                    </li>
                    <li>
                      <span>обработка ПДн ограничивается достижением конкретных, заранее определенных целей;</span>
                    </li>
                    <li>
                      <span>не допускается обработка ПДн, несовместимая с целями сбора ПДн;</span>
                    </li>
                    <li>
                      <span>не допускается объединение баз данных, содержащих ПДн, обработка которых осуществляется в целях, несовместимых между собой;</span>
                    </li>
                    <li>
                      <span>обработке подлежат только ПДн, которые отвечают целям их обработки;</span>
                    </li>
                    <li>
                      <span>содержание и объем обрабатываемых ПДн соответствует заявленным целям обработки;</span>
                    </li>
                    <li>
                      <span>при обработке ПДн обеспечиваются их точность, достаточность, а в необходимых случаях и актуальность по отношению к целям обработки ПДн.</span>
                    </li>
                  </ul>
                </li>
              </ol>
            </li>
            <li class="editor__list-item">
              <h5 class="mb-30">Права и обязанности субъекта персональных данных</h5>
              <ol class="editor__list--inner">
                <li>
                  <span>В соответствии с п.3 ст. 14 Федерального закона «О персональных данных» субъект ПДн имеет право на получение информации, касающейся обработки его ПДн.</span>
                </li>
                <li>
                  <span> Информация, касающаяся обработки ПДн субъекта, предоставляемая субъекту, не должна содержать ПДн, относящиеся к другим субъектам ПДн, за исключением случаев, когда имеются законные основания для раскрытия таких данных.</span>
                </li>
                <li>
                  <span>Субъект ПДн вправе требовать от Оператора, уточнения этих ПДн, их блокирования или уничтожения в случае, если они являются неполными, устаревшими, неточными, незаконно полученными или не могут быть признаны необходимыми для заявленной цели обработки, а также принимать предусмотренные законом меры по защите своих прав.</span>
                </li>
                <li>
                  <span>Право субъекта ПДн на доступ к его ПДн может быть ограничено в соответствии с федеральными законами.</span>
                </li>
                <li>
                  <span>Обработка персональных данных в целях продвижения товаров, работ, услуг на рынке путем осуществления прямых контактов с субъектом ПДн (потенциальным потребителем) с помощью средств связи допускается только при условии предварительного согласия субъекта ПДн.
Оператор обязан немедленно прекратить по требованию субъекта ПДн обработку его персональных данных в вышеуказанных целях.</span>
                </li>
                <li>
                  <span>Если субъект ПДн считает, что Оператор осуществляет обработку его персональных данных с нарушением требований Федерального закона «О персональных данных» или иным образом нарушает его права и свободы, субъект ПДн вправе обжаловать действия или бездействие Оператора в Уполномоченный орган по защите прав субъектов персональных данных или в судебном порядке.</span>
                </li>
                <li>
                  <span>Субъект персональных данных имеет право на защиту своих прав и законных интересов, в том числе на возмещение убытков и (или) компенсацию морального вреда.</span>
                </li>
              </ol>
            </li>
            <li class="editor__list-item">
              <h5 class="mb-30">Конфиденциальность персональных данных</h5>
              <ol class="editor__list--inner">
                <li>
                  <span>Оператор и иные лица, получившие доступ к ПДн, обязаны не раскрывать третьим лицам и не распространять персональные данные без согласия субъекта ПДн, если иное не предусмотрено федеральным законом.</span>
                </li>
              </ol>
            </li>
            <li class="editor__list-item">
              <h5 class="mb-30">Получение и передача персональных данных третьим лицам</h5>
              <ol class="editor__list--inner">
                <li>
                  <span>Оператор в ходе своей деятельности имеет право получать от третьих лиц и передавать третьим лицам обрабатываемые ПДн в интересах и с согласия субъектов ПДн, а также без согласия субъекта ПДн - в случаях, предусмотренных федеральным законодательством.</span>
                </li>
              </ol>
            </li>
            <li class="editor__list-item">
              <h5 class="mb-30">Общедоступные источники персональных данных</h5>
              <ol class="editor__list--inner">
                <li>
                  <span>В целях информационного обеспечения Оператором могут создаваться общедоступные источники персональных данных субъектов ПДн – работников Оператора, в том числе справочники и адресные книги. В общедоступные источники персональных данных с письменного согласия субъекта ПДн могут включаться персональные данные работников.</span>
                </li>
                <li>
                  <span>Сведения о субъекте ПДн должны быть в любое время исключены из общедоступных источников персональных данных по требованию субъекта ПДн, уполномоченного органа по защите прав субъектов персональных данных либо по решению суда.</span>
                </li>
              </ol>
            </li>
            <li class="editor__list-item">
              <h5 class="mb-30">Поручение обработки персональных данных другому лицу</h5>
              <ol class="editor__list--inner">
                <li>
                  <span>Оператор вправе поручить обработку ПДн другому лицу на основании заключаемого с ним договора, только с согласия субъекта ПДн, если иное не предусмотрено федеральным законом. Лицо, осуществляющее обработку ПДн по поручению Оператора, обязано соблюдать принципы и правила обработки персональных данных, предусмотренные Федеральным законом «О персональных данных» и настоящей Политикой.</span>
                </li>
              </ol>
            </li>
            <li class="editor__list-item">
              <h5 class="mb-30">Права и обязанности лиц, уполномоченных на обработку персональных данных</h5>
              <ol class="editor__list--inner">
                <li>
                  <span>Лица, уполномоченные на обработку ПДн обязаны:</span>
                  <ul class="list list--line">
                    <li>
                      <span>знать и выполнять требования законодательства в области обеспечения защиты ПДн;</span>
                    </li>
                    <li>
                      <span>хранить в тайне известные им ПДн, информировать о фактах нарушения порядка обращения с ПДн, о попытках несанкционированного доступа к ним;</span>
                    </li>
                    <li>
                      <span>соблюдать правила использования ПДн, порядок их учета и хранения, исключить доступ к ним посторонних лиц;</span>
                    </li>
                    <li>
                      <span>обрабатывать только те ПДн, к которым получен доступ в силу исполнения служебных обязанностей.</span>
                    </li>
                  </ul>
                </li>
                <li>
                  <span>При обработке ПДн запрещается:</span>
                  <ul class="list list--line">
                    <li>
                      <span>использовать сведения, содержащие ПДн, в неслужебных целях, а также в служебных целях – при ведении переговоров по телефонной сети, в открытой переписке, статьях и выступлениях;</span>
                    </li>
                    <li>
                      <span>передавать ПДн по незащищенным каналам связи (телетайп, факсимильная связь, электронная почта) без использования сертифицированных средств криптографической защиты информации.</span>
                    </li>
                  </ul>
                </li>
                <li>
                  <span>Лица, уполномоченные на обработку ПДн, имеют право:</span>
                  <ul class="list list--line">
                    <li>
                      <span>предоставлять ПДн третьим лицам при наличии согласия на это субъекта ПДн, а также в других случаях, предусмотренных действующим законодательством;</span>
                    </li>
                    <li>
                      <span>мотивированно отказать субъекту ПДн (его представителю) в удовлетворении запроса о предоставлении информации, касающейся обработки ПДн субъекта, при наличии оснований, предусмотренных законодательством РФ.</span>
                    </li>
                  </ul>
                </li>
              </ol>
            </li>
            <li class="editor__list-item">
              <h5 class="mb-30">Меры, принимаемые для защиты персональных данных</h5>
              <ol class="editor__list--inner">
                <li>
                  <span>Оператор при обработке ПДн принимает все необходимые правовые, организационные и технические меры для их защиты от неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования, предоставления, распространения, а также от иных неправомерных действий в отношении их.</span>
                </li>
                <li>
                  <span>Обеспечение безопасности ПДн достигается, в частности, следующими способами:</span>
                  <ul class="list list--line">
                    <li>
                      <span>назначение ответственного за организацию обработки ПДн.</span>
                    </li>
                    <li>
                      <span>осуществление внутреннего контроля и аудита соответствия обработки персональных данных Федеральному закону от 27.07.2006 № 152-ФЗ «О персональных данных» и принятым в соответствии с ним нормативным правовым актам, требованиям к защите персональных данных, локальным актам.</span>
                    </li>
                    <li>
                      <span>ознакомление лиц, непосредственно осуществляющих обработку ПДн, с положениями законодательства Российской Федерации о ПДн, в том числе с требованиями к защите ПДн, локальными актами в отношении обработки ПДн.</span>
                    </li>
                    <li>
                      <span>определение угроз безопасности ПДн при их обработке в ИСПДн.</span>
                    </li>
                    <li>
                      <span>применение организационных и технических мер по обеспечению безопасности ПДн при их обработке в ИСПДн, необходимых для выполнения требований к защите ПДн.</span>
                    </li>
                    <li>
                      <span>ведение учета машинных носителей ПДн.</span>
                    </li>
                    <li>
                      <span>выявление фактов несанкционированного доступа к ПДн и принятием соответствующих мер.</span>
                    </li>
                    <li>
                      <span>восстановление ПДн, модифицированных или уничтоженных вследствие несанкционированного доступа к ним.</span>
                    </li>
                    <li>
                      <span>установление правил доступа к ПДн, обрабатываемым в ИСПДн, а также обеспечение регистрации и учета всех действий, совершаемых с персональными данными в ИСПДн.</span>
                    </li>
                    <li>
                      <span>контроль принимаемых мер по обеспечению безопасности ПДн и уровнем защищенности ИСПДн.</span>
                    </li>
                    <li>
                      <span>применение прошедших в установленном порядке процедуру оценки соответствия средств защиты информации.</span>
                    </li>
                  </ul>
                </li>
              </ol>
            </li>
            <li class="editor__list-item">
              <h5 class="mb-30">Контроль и надзор обработки персональных данных</h5>
              <ol class="editor__list--inner">
                <li>
                  <span>Обязанности должностных лиц, осуществляющих контроль обработки и защиту ПДн, а также их ответственность, определяются в Инструкции ответственного за организацию обработки ПДн, в Инструкции администратора информационной безопасности в информационных системах персональных данных.</span>
                </li>
                <li>
                  <span>Ответственный за организацию обработки ПДн и администратор информационной безопасности в информационных системах персональных данных назначаются приказом руководителя Оператора из числа лиц, допущенных к обработке ПДн.</span>
                </li>
                <li>
                  <span>Уполномоченным органом по защите прав субъектов персональных данных, на который возлагается обеспечение контроля и надзора соответствия обработки персональных данных требованиям Федерального закона от27.07.2006 г. №152-ФЗ «О персональных данных», является федеральный орган исполнительной власти, осуществляющий функции по контролю и надзору в сфере связи, информационных технологий и массовых коммуникаций (Роскомнадзор).</span>
                </li>
                <li>
                  <span>Уполномоченный орган по защите прав субъектов ПДн рассматривает обращения субъекта ПДн о соответствии содержания ПДн и способов их обработки целям их обработки и принимает соответствующее решение.</span>
                </li>
                <li>
                  <span>Управление Роскомнадзора по Калининградской области:</span>
                  <div class="flex flex--column">
                    <p>Адрес: 236022, г. Калининград, ул. Коммунальная, дом 4</p>
                    <p>Телефон для справок: (4012) 99-40-23</p>
                    <p>Факс: (4012) 99-40-24</p>
                    <p>E-mail: rsockanc39@rkn.gov.ru</p>
                    <p>Сайт: http://39.rkn.gov.ru</p>
                  </div>
                </li>
                <li>
                  <span>Лица, уполномоченные на обработку ПДн, виновные в нарушении требований законодательства в области защиты ПДн, в том числе допустившие разглашение ПДн, несут персональную гражданскую, уголовную, административную, дисциплинарную и иную предусмотренную законодательством ответственность.</span>
                </li>
              </ol>
            </li>
            <li class="editor__list-item">
              <h5 class="mb-30">Информация об Операторе</h5>
              <div class="fw--300">Наименование Оператора: ООО «Медицинский центр Медэксперт Л.Д.»</div>
              <div class="fw--300">Юридический адрес: 236006 г. Калининград, ул. Космическая, 29</div>
            </li>
            <li class="editor__list-item">
              <h5 class="mb-30">Заключительные положения</h5>
              <ol class="editor__list--inner">
                <li>
                  <span>Настоящая Политика утверждена приказом руководителя Оператора.</span>
                </li>
                <li>
                  <span>Настоящая Политика обязательна для ознакомления и соблюдения всеми лицами, осуществляющими обработку ПДн.</span>
                </li>
                <li>
                  <span>Срок действия Политики – не ограничен.</span>
                </li>
                <li>
                  <span>Во исполнение части 2 статьи 18.1. Федерального закона от 27 июля 2006 года № 152-ФЗ «О персональных данных» настоящая Политика опубликована на сайте Оператора.</span>
                </li>
                <li>
                  <span>Оператор имеет право вносить изменения в настоящую Политику. При внесении изменений в наименовании Политики указывается дата последнего обновления редакции. Новая редакция Политики вступает в силу с момента ее утверждения руководителем Оператора, если иное не предусмотрено новой редакцией Политики.</span>
                </li>
                <li>
                  <span>Иные локальные нормативные акты Оператора, регламентирующие порядок защиты и обработки ПДн, должны издаваться в соответствии с настоящей Политикой и законодательством в области персональных данных.</span>
                </li>
                <li>
                  <span>Контроль соблюдения Политики осуществляется руководителем Оператора.</span>
                </li>
              </ol>
            </li>
          </ol>
        </div>
      </div>
    </section>
  </main>
  <%= htmlWebpackPlugin.options.sectionFooter %>
  <%= htmlWebpackPlugin.options.temp %>
</div>
</body>
</html>