<!DOCTYPE html>
<html lang="ru">
<head>
  <%= htmlWebpackPlugin.options.head %>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body class="body">
<div class="main-container">
  <%= htmlWebpackPlugin.options.sectionHeader %>
  <main class="main main--has-intro">
    <section class="section page-intro mb-60 mbm-85">
      <div class="container">
        <div class="columns">
          <div class="columns__col--6 columns__col-mob--12">
            <div class="page-intro__content">
              <div class="page-intro__top">
                <section class="section">
                  <div class="breadcrumbs">
                    <a class="breadcrumbs__link" href="./">Главная</a>
                    <a class="breadcrumbs__link" href="./">Пациентам</a>
                    <span class="breadcrumbs__curr-page">ДМС</span>
                  </div>
                </section>
                <h1 class="title title--page title--page-intro">ДМС</h1>
                <div class="page-intro__text">
                  <p>Добровольное медицинское страхование позволяет получить
                    широкий спектр услуг в различных областях врачебного обслуживания.</p>
                </div>
              </div>

              <div class="page-intro__bottom page-intro__bottom--column">
                <p class="mb-35 mbm-0">По вопросам о ДМС</p>
                <a class="page-intro__bottom-tel" href="tel:+74012519108">8 (4012) 51-91-08</a>
              </div>
            </div>
          </div>
          <div class="columns__col--6 columns__col-mob--12">
            <picture class="page-intro__picture">
              <img src="./assets/images/about-pic.svg" alt="">
            </picture>
          </div>
        </div>
      </div>
    </section>
    <section class="section mb-80 mbm-55">
      <div class="container">
        <h2 class="title title--page mb-30">ОМС</h2>
        <div class="columns">
          <div class="columns__col--11 columns__col-tab--12">
            <div class="editor editor--18">
              <p class="fw--500">Сеть клиник Медэксперт НЕ оказывает услуги по ОМС</p>
              <p>Администрация сети клиник Медэксперт информирует потребителей (пациентов), что оказывает медицинскую
                помощь
                только за счет личных средств граждан или по договору с организациями. Вместе с тем администрация
                информирует,
                что потребитель (пациент) имеет возможность получить соответствующие виды и объемы медицинской помощи
                без
                взимания платы в рамках Программы государственных гарантий бесплатного оказания гражданам медицинской
                помощи и
                Территориальной программой государственных гарантий бесплатного оказания гражданам медицинской помощи в
                Калининградской области в медицинских организациях по месту жительства (прикрепления). Ознакомиться с
                Территориальной программой государственных гарантий бесплатного оказания гражданам медицинской помощи
                можно
                здесь - <a class="link link--underline color--green" href="#">Постановление от 15 февраля 2021 г №61</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section section--gray mb-100">
      <div class="container">
        <h2 class="title mb-50">Партнеры по ДМС:</h2>
        <div class="slider" data-slider data-slider-slides="3" data-slider-slides-mob="3" data-slider-mobile>
          <div class="swiper">
            <div class="swiper-wrapper desktop-grid desktop-grid--5">
              <div class="swiper-slide">
                <a class="link link--img link--img-min" href="#">
                  <picture class="link--img__picture">
                    <img src="assets/images/partners/soglas.png" alt="">
                  </picture>
                </a>
              </div>
              <div class="swiper-slide">
                <a class="link link--img link--img-min" href="#">
                  <picture class="link--img__picture">
                    <img src="assets/images/partners/max.png" alt="">
                  </picture>
                </a>
              </div>
              <div class="swiper-slide">
                <a class="link link--img link--img-min" href="#">
                  <picture class="link--img__picture">
                    <img src="assets/images/partners/rosgos.png" alt="">
                  </picture>
                </a>
              </div>
              <div class="swiper-slide">
                <a class="link link--img link--img-min" href="#">
                  <picture class="link--img__picture">
                    <img src="assets/images/partners/sogaz.png" alt="">
                  </picture>
                </a>
              </div>
              <div class="swiper-slide">
                <a class="link link--img link--img-min" href="#">
                  <picture class="link--img__picture">
                    <img src="assets/images/partners/vsk.png" alt="">
                  </picture>
                </a>
              </div>
              <div class="swiper-slide">
                <a class="link link--img link--img-min" href="#">
                  <picture class="link--img__picture">
                    <img src="assets/images/partners/alfa.png" alt="">
                  </picture>
                </a>
              </div>
              <div class="swiper-slide">
                <a class="link link--img link--img-min" href="#">
                  <picture class="link--img__picture">
                    <img src="assets/images/partners/gaide.png" alt="">
                  </picture>
                </a>
              </div>
              <div class="swiper-slide">
                <a class="link link--img link--img-min" href="#">
                  <picture class="link--img__picture">
                    <img src="assets/images/partners/medexpress.png" alt="">
                  </picture>
                </a>
              </div>
              <div class="swiper-slide">
                <a class="link link--img link--img-min" href="#">
                  <picture class="link--img__picture">
                    <img src="assets/images/partners/ingoss.png" alt="">
                  </picture>
                </a>
              </div>
              <div class="swiper-slide">
                <a class="link link--img link--img-min" href="#">
                  <picture class="link--img__picture">
                    <img src="assets/images/partners/renessans.png" alt="">
                  </picture>
                </a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
    <section class="section mb-60">
      <div class="container">
        <h2 class="title mb-30">Услуги по ДМС:</h2>
        <div class="columns">
          <div class="columns__col--4 columns__col-mob--12">
            <a class="article article--align mb-40" href="#">
              <div class="article__icon">
                <svg class="">
                  <use xlink:href="assets/sprite/sprite.svg#icon-med-4"></use>
                </svg>
              </div>
              <div class="article__content">
                <div class="article__title">Диагностика</div>
              </div>
            </a>
            <a class="link link--dot" href="#">УЗИ</a>
            <a class="link link--dot" href="#">Рентген</a>
            <a class="link link--dot" href="#">Флюраграфия</a>
            <a class="link link--dot" href="#">Калоноскопия</a>
            <a class="link link--dot" href="#">Эндоскопия</a>
            <a class="link link--dot" href="#">Другие виды диагностики</a>
          </div>
          <div class="columns__col--4 columns__col-mob--12">
            <a class="article article--align mb-40" href="#">
              <div class="article__icon">
                <svg class="">
                  <use xlink:href="assets/sprite/sprite.svg#icon-med-4"></use>
                </svg>
              </div>
              <div class="article__content">
                <div class="article__title">Лечение</div>
              </div>
            </a>
            <a class="link link--dot" href="#">Терапия</a>
            <a class="link link--dot" href="#">Урология</a>
            <a class="link link--dot" href="#">Ревматология</a>
            <a class="link link--dot" href="#">Кардиология</a>
            <a class="link link--dot" href="#">Дерматовенералогия</a>
            <a class="link link--dot" href="#">Травматология-ортопедия</a>
            <a class="link link--dot" href="#">Неврология</a>
            <a class="link link--dot" href="#">Офтальмология</a>
            <a class="link link--dot" href="#">Другие виды лечения</a>
          </div>
          <div class="columns__col--4 columns__col-mob--12">
            <a class="article article--align mb-40" href="#">
              <div class="article__icon">
                <svg class="">
                  <use xlink:href="assets/sprite/sprite.svg#icon-med-4"></use>
                </svg>
              </div>
              <div class="article__content">
                <div class="article__title">Восстановление</div>
              </div>
            </a>
            <a class="link link--dot" href="#">Спортивная медицина</a>
            <a class="link link--dot" href="#">Реабилитация</a>
            <a class="link link--dot" href="#">Физиотерапия</a>
            <a class="link link--dot" href="#">Массаж и ЛФК</a>
            <a class="link link--dot" href="#">Мануальная терапия</a>
            <a class="link link--dot" href="#">Другие виды реабилитации</a>
          </div>
        </div>
      </div>
    </section>
    <section class="section mb-80">
      <div class="container">
        <div class="columns">
          <div class="columns__col--11 columns__col-tab--12">
            <h2 class="title mb-30">В рамках ДМС Медэксперт предлагает:</h2>
            <div class="list list--mark">
              <li>Получение необходимой медицинской помощи в рамках заключенного договора. Для этого
                будет использован весь комплекс мероприятий, позволяющих поставить диагноз и провести лечение болезни.
              </li>
              <li>Предварительная запись, дающая возможность получить медицинское обслуживание без
                длительного ожидания и очередей.
              </li>
              <li>Отлаженную прозрачную систему взаиморасчетов с выдачей всех необходимых финансовых
                документов.
              </li>
              <li>Выдачу на руки всех необходимых медицинских документов – результатов диагностик,
                выписок, справок, рекомендаций на бумажном или электронном носителе.
              </li>
              <li>Сохранение в архиве результатов обследования, лечения и электронных вариантов
                историй болезни для последующего восстановления данных.
              </li>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section mb-80">
      <div class="container">
        <h2 class="title mb-30">Частые вопросы о ДМС</h2>
        <div class="collapse collapse--simple collapse--line mb-30" data-collapse data-duration="700">
          <div class="collapse__wrapper collapse--simple__wrapper">
            <div class="collapse__item" data-collapse-item>
              <div class="collapse__trigger collapse--simple__trigger" data-collapse-trigger>
                <div class="fw--600 fz--24">
                  <p>Как записаться на прием?</p>
                </div>
                <svg class="collapse__icon collapse__icon--arrow" data-collapse-icon>
                  <use xlink:href="assets/sprite/sprite.svg#icon-arrow-min"></use>
                </svg>
              </div>
              <div class="collapse__content" data-collapse-content>
                <div class="collapse__inner collapse--simple__inner">
                  <p>Таким образом, высокотехнологичная концепция общественного уклада создаёт предпосылки для
                    стандартных
                    подходов.
                    Приятно, граждане, наблюдать, как многие известные личности лишь добавляют фракционных разногласий и
                    смешаны с не уникальными данными до степени совершенной неузнаваемости, из-за чего возрастает их
                    статус бесполезности. В рамках спецификации современных стандартов, стремящиеся вытеснить
                    традиционное
                    производство, нанотехнологии, вне зависимости от их уровня, должны быть подвергнуты целой серии
                    независимых исследований.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="collapse__wrapper collapse--simple__wrapper">
            <div class="collapse__item" data-collapse-item>
              <div class="collapse__trigger collapse--simple__trigger" data-collapse-trigger>
                <div class="fw--600 fz--24">
                  <p>Как записаться на прием?</p>
                </div>
                <svg class="collapse__icon collapse__icon--arrow" data-collapse-icon>
                  <use xlink:href="assets/sprite/sprite.svg#icon-arrow-min"></use>
                </svg>
              </div>
              <div class="collapse__content" data-collapse-content>
                <div class="collapse__inner collapse--simple__inner">
                  <p>Таким образом, высокотехнологичная концепция общественного уклада создаёт предпосылки для
                    стандартных
                    подходов.
                    Приятно, граждане, наблюдать, как многие известные личности лишь добавляют фракционных разногласий и
                    смешаны с не уникальными данными до степени совершенной неузнаваемости, из-за чего возрастает их
                    статус бесполезности. В рамках спецификации современных стандартов, стремящиеся вытеснить
                    традиционное
                    производство, нанотехнологии, вне зависимости от их уровня, должны быть подвергнуты целой серии
                    независимых исследований.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="collapse__wrapper collapse--simple__wrapper">
            <div class="collapse__item" data-collapse-item>
              <div class="collapse__trigger collapse--simple__trigger" data-collapse-trigger>
                <div class="fw--600 fz--24">
                  <p>Как записаться на прием?</p>
                </div>
                <svg class="collapse__icon collapse__icon--arrow" data-collapse-icon>
                  <use xlink:href="assets/sprite/sprite.svg#icon-arrow-min"></use>
                </svg>
              </div>
              <div class="collapse__content" data-collapse-content>
                <div class="collapse__inner collapse--simple__inner">
                  <p>Таким образом, высокотехнологичная концепция общественного уклада создаёт предпосылки для
                    стандартных
                    подходов.
                    Приятно, граждане, наблюдать, как многие известные личности лишь добавляют фракционных разногласий и
                    смешаны с не уникальными данными до степени совершенной неузнаваемости, из-за чего возрастает их
                    статус бесполезности. В рамках спецификации современных стандартов, стремящиеся вытеснить
                    традиционное
                    производство, нанотехнологии, вне зависимости от их уровня, должны быть подвергнуты целой серии
                    независимых исследований.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section mb-100">
      <div class="container">
        <h2 class="title mb-40">Оставить отзыв</h2>
        <div class="form form--big mb-80">
          <form action="#" data-form>
            <div class="columns">
              <div class="columns__col--8 columns__col-tab--12">
                <div class="form__block-inputs">
                  <label class="form__label">
                    <input class="form__input" type="text" placeholder="ФИО">
                  </label>
                  <label class="form__label">
                    <input class="form__input" type="email" placeholder="Электронная почта">
                  </label>
                  <label class="form__label">
                    <input class="form__input" type="tel" placeholder="Контактный телефон" data-tel>
                  </label>
                  <label class="form__label">
                    <textarea class="form__input" name="review" cols="30" rows="10" placeholder="Отзыв"></textarea>
                  </label>
                </div>
              </div>
              <div class="columns__col--4 columns__col-tab--12 mb-15 mbm-0">


                <p class="fz--18 fw--500 mb-25 mob-hidden">В какую из клиник Вы обращались?</p>
                <div class="form__block-checkbox mob-hidden">
                  <label class="checkbox checkbox--square">
                    <input class="form__checkbox-btn" type="radio" name="clinic" value="0" checked>
                    <span class="form__checkbox-text">Медэксперт на Леонова</span>
                  </label>
                  <label class="checkbox checkbox--square">
                    <input class="form__checkbox-btn" type="radio" name="clinic" value="0">
                    <span class="form__checkbox-text">Медэксперт на Иванникова</span>
                  </label>
                  <label class="checkbox checkbox--square">
                    <input class="form__checkbox-btn" type="radio" name="clinic" value="0">
                    <span class="form__checkbox-text">Медэксперт на Пражской</span>
                  </label>
                  <label class="checkbox checkbox--square">
                    <input class="form__checkbox-btn" type="radio" name="clinic" value="0">
                    <span class="form__checkbox-text">Медэксперт Орто</span>
                  </label>
                  <label class="checkbox checkbox--square">
                    <input class="form__checkbox-btn" type="radio" name="clinic" value="0">
                    <span class="form__checkbox-text">Медэксперт на Победе</span>
                  </label>
                  <label class="checkbox checkbox--square">
                    <input class="form__checkbox-btn" type="radio" name="clinic" value="0">
                    <span class="form__checkbox-text">Медэксперт на Интернациональной</span>
                  </label>
                  <label class="checkbox checkbox--square">
                    <input class="form__checkbox-btn" type="radio" name="clinic" value="0">
                    <span class="form__checkbox-text">Медэксперт на Лефорта</span>
                  </label>
                  <label class="checkbox checkbox--square">
                    <input class="form__checkbox-btn" type="radio" name="clinic" value="0">
                    <span class="form__checkbox-text">Медэксперт на Челнокова</span>
                  </label>
                  <label class="checkbox checkbox--square">
                    <input class="form__checkbox-btn" type="radio" name="clinic" value="0">
                    <span class="form__checkbox-text">Медэксперт на Космической</span>
                  </label>
                  <label class="checkbox checkbox--square">
                    <input class="form__checkbox-btn" type="radio" name="clinic" value="0">
                    <span class="form__checkbox-text">Медэксперт на Московском</span>
                  </label>
                  <label class="checkbox checkbox--square">
                    <input class="form__checkbox-btn" type="radio" name="clinic" value="0">
                    <span class="form__checkbox-text">Медэксперт в Советске</span>
                  </label>
                  <label class="checkbox checkbox--square">
                    <input class="form__checkbox-btn" type="radio" name="clinic" value="0">
                    <span class="form__checkbox-text">Медэксперт на 9 Апреля</span>
                  </label>
                  <label class="checkbox checkbox--square">
                    <input class="form__checkbox-btn" type="radio" name="clinic" value="0">
                    <span class="form__checkbox-text">Доктор ЛОР</span>
                  </label>
                  <label class="checkbox checkbox--square">
                    <input class="form__checkbox-btn" type="radio" name="clinic" value="0">
                    <span class="form__checkbox-text">Стоматология Медэксперт</span>
                  </label>
                  <label class="checkbox checkbox--square">
                    <input class="form__checkbox-btn" type="radio" name="clinic" value="0">
                    <span class="form__checkbox-text">Лаборатория Медэксперт</span>
                  </label>
                </div>
                <label class="form__select-label only-mobile">
                  <select class="form__select" name="clinics">
                    <option disabled>В какую из клиник Вы обращались?</option>
                    <option value="">Медэксперт на Леонова</option>
                    <option value="">Медэксперт на Челнокова</option>
                    <option value="">Медэксперт на Космической</option>
                    <option value="">Медэксперт на Московском</option>
                    <option value="">Медэксперт в Советске</option>
                    <option value="">Медэксперт в Советске</option>
                    <option value="">Медэксперт на 9 Апреля</option>
                    <option value="">Доктор ЛОР</option>
                    <option value="">Стоматология Медэксперт</option>
                    <option value="">Лаборатория Медэксперт</option>
                  </select>
                </label>
              </div>
              <div class="columns__col--12 align-items-center mob-ai-start flex flex--mob-column gap-30">
                <button class="button review__form-btn order-m-2" type="submit" data-form-button>Отправить</button>
                <label class="checkbox checkbox--square checkbox--square-agreement order-m-1">
                  <input type="checkbox" name="agreement" value="yes" checked>
                  <span class="form__checkbox-text">Нажимая кнопку отправить вы соглашаетесь с&nbsp;
                <a href="#">Полититикой обработки персональных данных</a></span>
                </label>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
  </main>
  <%= htmlWebpackPlugin.options.sectionFooter %>
  <%= htmlWebpackPlugin.options.temp %>
</div>
</body>
</html>