<!DOCTYPE html>
<html lang="ru">
<head>
  <%= htmlWebpackPlugin.options.head %>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body class="body">
<div class="main-container">
  <header class="section header header--min">
    <div class="container">
      <div class="columns">
        <div class="columns__col--6 columns__col-mob--10">
          <a class="logo header--min__logo" href="./">
            <img src="assets/images/logo-big.svg" alt="сеть клиник “Медэксперт”">
          </a>
        </div>
        <div class="columns__col--6 mob-hidden">
          <a class="button button--wide marg-left" href="#">Личный кабинет</a>
        </div>
      </div>
    </div>
  </header>
  <main class="main main--no-header">
    <section class="section page-intro page-intro--no-header mb-45 mbm-40">
      <div class="container">
        <div class="columns">
          <div class="columns__col--5 columns__col-tab--8 columns__col-mob--12">
            <div class="page-intro__content page-intro--no-header__content">
              <div class="page-intro__top">
                <h1 class="title title--page mb-20 mbm-30">Экосистема для клиентов</h1>
                <div class="page-intro__text">
                  <p>Все пожелания или замечания можете направлять через сервисы обратной связи нашим специалистам</p>
                </div>
                <div class="flex flex--column only-mobile">
                  <div class="page-intro__text">
                    <p>Время работы операторов по обработке входящих сообщений:</p>
                  </div>
                  <time class="flex flex--column fw--400">
                    <p>будни с 09:00 по 19:00</p>
                    <p>сб, вс - выходной</p>
                  </time>
                </div>
              </div>
              <div class="page-intro__bottom page-intro__bottom--column mob-hidden">
                <div class="page-intro__text">
                  <p>Время работы операторов по обработке входящих сообщений:</p>
                </div>
                <time class="flex flex--column fw--400">
                  <p>будни с 09:00 по 19:00</p>
                  <p>сб, вс - выходной</p>
                </time>
              </div>
              <div class="page-intro__bottom page-intro--no-header__bottom">
                <div class="columns">
                  <div class="columns__col--6">
                    <a class="button button--empty width--100" href="#">Назад</a>
                  </div>
                  <div class="columns__col--6">
                    <a class="button width--100" href="#">Войти</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="columns__col--7 columns__col-tab--4 columns__col-mob--12">
            <picture class="page-intro__picture page-intro__picture--no-header">
              <img src="./assets/images/intro-2.png" alt="">
            </picture>
          </div>
        </div>
      </div>
    </section>
    <section class="section mb-100 mbm-90">
      <div class="container">
        <div class="columns">
          <div class="columns__col--12">
            <a class="card-eco card-eco--tel card-eco--wide" href="tel:">
              <div class="card-eco__content">
                <div class="card-eco__top">
                  <div class="card-eco__title">Call-центр</div>
                  <div class="card-eco__text">Позвоните нам по мультиканальному телефону.</div>
                  <time class="only-mobile">
                    <p>ежедневно с 07:30 по 20:00</p>
                  </time>
                </div>
                <div class="card-eco__bottom mob-hidden">
                  <time>
                    <p>ежедневно с 07:30 по 20:00</p>
                  </time>
                </div>
              </div>
              <div class="card-eco__icon">
                <svg>
                  <use xlink:href="assets/sprite/sprite.svg#icon-tel-big"></use>
                </svg>
              </div>
              <p class="show-more show-more--link card-eco__link">
                <span>Позвонить</span>
                <svg>
                  <use xlink:href="assets/sprite/sprite.svg#icon-arrow-min"></use>
                </svg>
              </p>
            </a>
          </div>
          <div class="columns__col--6 columns__col-tab--12">
            <a class="card-eco card-eco--viber" href="#">
              <div class="card-eco__content">
                <div class="card-eco__top">
                  <div class="card-eco__title">Viber</div>
                  <div class="card-eco__text">Для связи с нами можете использовать Viber только с мобильного телефона.
                  </div>
                </div>
                <div class="card-eco__bottom">
                  <button class="button button--darkgray card-eco__btn">Перейти</button>
                  <time>
                    <p>будни с 09:00 по 19:00</p>
                    <p>сб, вс - выходной</p>
                  </time>
                </div>
              </div>
              <div class="card-eco__icon">
                <svg>
                  <use xlink:href="assets/sprite/sprite.svg#icon-viber"></use>
                </svg>
              </div>
            </a>
          </div>
          <div class="columns__col--6 columns__col-tab--12">
            <a class="card-eco card-eco--telegram" href="#">
              <div class="card-eco__content">
                <div class="card-eco__top">
                  <div class="card-eco__title">Telegram</div>
                  <div class="card-eco__text">Откройте с нами чат в Telegram. Мы есть и там.</div>
                </div>
                <div class="card-eco__bottom">
                  <button class="button button--darkgray card-eco__btn">Перейти</button>
                  <time>
                    <p>будни с 09:00 по 19:00</p>
                    <p>сб, вс - выходной</p>
                  </time>
                </div>
              </div>
              <div class="card-eco__icon">
                <svg>
                  <use xlink:href="assets/sprite/sprite.svg#icon-tg"></use>
                </svg>
              </div>
            </a>
          </div>
          <div class="columns__col--6 columns__col-tab--12">
            <a class="card-eco card-eco--callback" href="#">
              <div class="card-eco__content">
                <div class="card-eco__top">
                  <div class="card-eco__title">Сервис обратной связи</div>
                  <div class="card-eco__text">Вы можете связаться с нами с помощью окна оператора. Вам ответит первый
                    освободившийся оператор.
                  </div>
                </div>
                <div class="card-eco__bottom">
                  <button class="button button--darkgray card-eco__btn">Перейти</button>
                  <time>
                    <p>будни с 09:00 по 19:00</p>
                    <p>сб, вс - выходной</p>
                  </time>
                </div>
              </div>
              <div class="card-eco__icon">
                <svg>
                  <use xlink:href="assets/sprite/sprite.svg#icon-pencil"></use>
                </svg>
              </div>
            </a>
          </div>
          <div class="columns__col--6 columns__col-tab--12">
            <a class="card-eco card-eco--vk" href="#">
              <div class="card-eco__content">
                <div class="card-eco__top">
                  <div class="card-eco__title">Вконтакте</div>
                  <div class="card-eco__text">Вы можете написать нам в личные сообщения Вконтакте.</div>
                </div>
                <div class="card-eco__bottom">
                  <button class="button button--darkgray card-eco__btn">Перейти</button>
                  <time>
                    <p>будни с 09:00 по 19:00</p>
                    <p>сб, вс - выходной</p>
                  </time>
                </div>
              </div>
              <div class="card-eco__icon">
                <svg>
                  <use xlink:href="assets/sprite/sprite.svg#icon-vk"></use>
                </svg>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>
  </main>
  <%= htmlWebpackPlugin.options.sectionFooter %>
  <%= htmlWebpackPlugin.options.temp %>
</div>
</body>
</html>