<!DOCTYPE html>
<html lang="ru">
<head>
  <%= htmlWebpackPlugin.options.head %>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body class="body">
<div class="main-container">
  <%= htmlWebpackPlugin.options.sectionHeader %>
  <main class="main">
    <section class="section">
      <div class="container">
        <div class="breadcrumbs">
          <a class="breadcrumbs__link" href="./">Главная</a>
          <a class="breadcrumbs__link" href="./">Пациентам</a>
          <span class="breadcrumbs__curr-page">Вопросы и ответы</span>
        </div>
      </div>
    </section>
    <section class="section mb-80">
      <div class="container">
        <div class="service-block">
          <div class="service-block__header mb-45 mbm-35">
            <h1 class="title title--page">Вопросы и ответы</h1>
            <button class="button service-block__header-btn" data-fancybox data-src="#modal-callback">Задать вопрос
            </button>
          </div>
        </div>
        <div class="collapse collapse--simple collapse--line mb-30" data-collapse data-duration="700">
          <div class="collapse__wrapper collapse--simple__wrapper">
            <div class="collapse__item" data-collapse-item>
              <div class="collapse__trigger collapse--simple__trigger" data-collapse-trigger>
                <div>
                  <p>Как записаться на прием?</p>
                </div>
                <svg class="collapse__icon collapse__icon--arrow" data-collapse-icon>
                  <use xlink:href="assets/sprite/sprite.svg#icon-arrow-min"></use>
                </svg>
              </div>
              <div class="collapse__content" data-collapse-content>
                <div class="collapse__inner collapse--simple__inner">
                  <p>Таким образом, высокотехнологичная концепция общественного уклада создаёт предпосылки для
                    стандартных
                    подходов.
                    Приятно, граждане, наблюдать, как многие известные личности лишь добавляют фракционных разногласий и
                    смешаны с не уникальными данными до степени совершенной неузнаваемости, из-за чего возрастает их
                    статус бесполезности. В рамках спецификации современных стандартов, стремящиеся вытеснить
                    традиционное
                    производство, нанотехнологии, вне зависимости от их уровня, должны быть подвергнуты целой серии
                    независимых исследований.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="collapse__wrapper collapse--simple__wrapper">
            <div class="collapse__item" data-collapse-item>
              <div class="collapse__trigger collapse--simple__trigger" data-collapse-trigger>
                <div>
                  <p>Как записаться на прием?</p>
                </div>
                <svg class="collapse__icon collapse__icon--arrow" data-collapse-icon>
                  <use xlink:href="assets/sprite/sprite.svg#icon-arrow-min"></use>
                </svg>
              </div>
              <div class="collapse__content" data-collapse-content>
                <div class="collapse__inner collapse--simple__inner">
                  <p>Таким образом, высокотехнологичная концепция общественного уклада создаёт предпосылки для
                    стандартных
                    подходов.
                    Приятно, граждане, наблюдать, как многие известные личности лишь добавляют фракционных разногласий и
                    смешаны с не уникальными данными до степени совершенной неузнаваемости, из-за чего возрастает их
                    статус бесполезности. В рамках спецификации современных стандартов, стремящиеся вытеснить
                    традиционное
                    производство, нанотехнологии, вне зависимости от их уровня, должны быть подвергнуты целой серии
                    независимых исследований.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="collapse__wrapper collapse--simple__wrapper">
            <div class="collapse__item" data-collapse-item>
              <div class="collapse__trigger collapse--simple__trigger" data-collapse-trigger>
                <div>
                  <p>Как записаться на прием?</p>
                </div>
                <svg class="collapse__icon collapse__icon--arrow" data-collapse-icon>
                  <use xlink:href="assets/sprite/sprite.svg#icon-arrow-min"></use>
                </svg>
              </div>
              <div class="collapse__content" data-collapse-content>
                <div class="collapse__inner collapse--simple__inner">
                  <p>Таким образом, высокотехнологичная концепция общественного уклада создаёт предпосылки для
                    стандартных
                    подходов.
                    Приятно, граждане, наблюдать, как многие известные личности лишь добавляют фракционных разногласий и
                    смешаны с не уникальными данными до степени совершенной неузнаваемости, из-за чего возрастает их
                    статус бесполезности. В рамках спецификации современных стандартов, стремящиеся вытеснить
                    традиционное
                    производство, нанотехнологии, вне зависимости от их уровня, должны быть подвергнуты целой серии
                    независимых исследований.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="collapse__wrapper collapse--simple__wrapper">
            <div class="collapse__item" data-collapse-item>
              <div class="collapse__trigger collapse--simple__trigger" data-collapse-trigger>
                <div>
                  <p>Как записаться на прием?</p>
                </div>
                <svg class="collapse__icon collapse__icon--arrow" data-collapse-icon>
                  <use xlink:href="assets/sprite/sprite.svg#icon-arrow-min"></use>
                </svg>
              </div>
              <div class="collapse__content" data-collapse-content>
                <div class="collapse__inner collapse--simple__inner">
                  <p>Таким образом, высокотехнологичная концепция общественного уклада создаёт предпосылки для
                    стандартных
                    подходов.
                    Приятно, граждане, наблюдать, как многие известные личности лишь добавляют фракционных разногласий и
                    смешаны с не уникальными данными до степени совершенной неузнаваемости, из-за чего возрастает их
                    статус бесполезности. В рамках спецификации современных стандартов, стремящиеся вытеснить
                    традиционное
                    производство, нанотехнологии, вне зависимости от их уровня, должны быть подвергнуты целой серии
                    независимых исследований.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="collapse__wrapper collapse--simple__wrapper">
            <div class="collapse__item" data-collapse-item>
              <div class="collapse__trigger collapse--simple__trigger" data-collapse-trigger>
                <div>
                  <p>Как записаться на прием?</p>
                </div>
                <svg class="collapse__icon collapse__icon--arrow" data-collapse-icon>
                  <use xlink:href="assets/sprite/sprite.svg#icon-arrow-min"></use>
                </svg>
              </div>
              <div class="collapse__content" data-collapse-content>
                <div class="collapse__inner collapse--simple__inner">
                  <p>Таким образом, высокотехнологичная концепция общественного уклада создаёт предпосылки для
                    стандартных
                    подходов.
                    Приятно, граждане, наблюдать, как многие известные личности лишь добавляют фракционных разногласий и
                    смешаны с не уникальными данными до степени совершенной неузнаваемости, из-за чего возрастает их
                    статус бесполезности. В рамках спецификации современных стандартов, стремящиеся вытеснить
                    традиционное
                    производство, нанотехнологии, вне зависимости от их уровня, должны быть подвергнуты целой серии
                    независимых исследований.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="collapse__wrapper collapse--simple__wrapper">
            <div class="collapse__item" data-collapse-item>
              <div class="collapse__trigger collapse--simple__trigger" data-collapse-trigger>
                <div>
                  <p>Как записаться на прием?</p>
                </div>
                <svg class="collapse__icon collapse__icon--arrow" data-collapse-icon>
                  <use xlink:href="assets/sprite/sprite.svg#icon-arrow-min"></use>
                </svg>
              </div>
              <div class="collapse__content" data-collapse-content>
                <div class="collapse__inner collapse--simple__inner">
                  <p>Таким образом, высокотехнологичная концепция общественного уклада создаёт предпосылки для
                    стандартных
                    подходов.
                    Приятно, граждане, наблюдать, как многие известные личности лишь добавляют фракционных разногласий и
                    смешаны с не уникальными данными до степени совершенной неузнаваемости, из-за чего возрастает их
                    статус бесполезности. В рамках спецификации современных стандартов, стремящиеся вытеснить
                    традиционное
                    производство, нанотехнологии, вне зависимости от их уровня, должны быть подвергнуты целой серии
                    независимых исследований.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button class="button button--245 centered" type="button">Показать еще</button>
      </div>
    </section>
  </main>
  <%= htmlWebpackPlugin.options.sectionFooter %>
  <%= htmlWebpackPlugin.options.temp %>
</div>
</body>
</html>