<!DOCTYPE html>
<html lang="ru">
<head>
  <%= htmlWebpackPlugin.options.head %>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body class="body">
<%= htmlWebpackPlugin.options.sectionHeader %>
<main class="main main--has-intro">
  <section class="section page-intro mb-65 mbm-80">
    <div class="container">
      <div class="columns">
        <div class="columns__col--6 columns__col-mob--12">
          <div class="page-intro__content">
            <div class="page-intro__top">
              <section class="section mb-45 mbm-35">
                <div class="breadcrumbs">
                  <a class="breadcrumbs__link" href="./">Главная</a>
                  <a class="breadcrumbs__link" href="./">Услуги</a>
                  <span class="breadcrumbs__curr-page">Первая помощь</span>
                </div>
              </section>
              <h1 class="title title--page mb-15 mbm-25">Первая помощь</h1>
                <div class="fz--20 fzm--16 fw--300 mbm-40">
                  <p>Выезд по Калининграду и области</p>
                </div>
                <p class="fz--16 fw--300 mb-35 only-mobile">Главный врач: Колобухов Павел Владимирович</p>
            </div>
            <div class="page-intro__bottom page-intro__bottom--column">
              <p class="fz--16 fw--300 mb-35 mob-hidden">Главный врач: Колобухов Павел Владимирович</p>
              <div class="flex gap-70 gap--mob-15 align-items-center flex--mob-column mob-ai-start">
                <a class="fz--20 fw--500" href="tel:+74012519000">8 (4012) 51-90-00</a>
                <a class="fw--300" href="https://yandex.ru/maps/-/CCUsvTCZWD" target="_blank\">Калининград, ул. Косм.
                  Леонова, 8</a>
              </div>
            </div>
          </div>
        </div>
        <div class="columns__col--6 columns__col-mob--12">
          <picture
            class="page-intro__picture page-intro__picture--mirror page-intro__picture--shadow page-intro__picture--vac">
            <img class="page-intro__img--vac" src="./assets/images/vac.png" alt="">
          </picture>
        </div>
      </div>
    </div>
    </div>
  </section>
  <section class="section mb-65">
    <div class="container">
      <div class="tabs" data-tabs>
        <div class="tabs__controls tabs__controls--line">
          <p class="tabs__trigger tabs__trigger--desk active" data-tabs-trigger data-tabs="tab-1">Вызов врача к
            взрослому</p>
          <p class="tabs__trigger tabs__trigger--desk" data-tabs-trigger data-tabs="tab-2">Вызов детского врача</p>
          <p class="tabs__trigger tabs__trigger--desk" data-tabs-trigger data-tabs="tab-3">Процедурный кабинет</p>
          <p class="tabs__trigger tabs__trigger--desk" data-tabs-trigger data-tabs="tab-4">Телемедицина</p>
        </div>
        <ul class="tabs__list">
          <li class="tabs__item tabs__item--padding active" id="tab-1" data-tabs-list>
            <!--            <p class="tabs__trigger tabs__trigger&#45;&#45;mob" data-tabs-trigger data-tabs="tab-1">Для взрослых</p>-->
            <div class="title mb-30 mbm-20">Вызов врача к взрослому</div>
            <div class="editor editor--16 fw--300 mb-45">
              <p class="mb-0">Боли в области поясницы, трудности с мочеиспусканием, дискомфорт и повышение температуры
                могут
                свидетельствовать о развитии серьезного воспалительного процесса в почках. Затягивать с визитом к врачу
                в этом случае не стоит. Так как в нашем организме все взаимосвязано, о проблемах с почками могут
                свидетельствовать не только явные признаки болезни, но и косвенные симптомы. Так, консультация нефролога
                требуется людям, страдающим: </p>
              <ul class="list--dots">
                <li>гипертензией</li>
                <li>ярко выраженной отечностью</li>
                <li>последствиями ранее перенесенных тяжелых бактериальных инфекций</li>
                <li>хроническим тонзиллитом</li>
              </ul>
            </div>
            <div class="flex flex--column gap-15 gap--mob-35 fw--300 mb-60">
              <div class="flex gap-25">
                <svg class="icon icon--small">
                  <use xlink:href="assets/sprite/sprite.svg#icon-time"></use>
                </svg>
                <time>Часы приёма: 9:00 - 18:00; 18:30 - 06:30 утра</time>
              </div>
              <div class="flex gap-25">
                <svg class="icon icon--small">
                  <use xlink:href="assets/sprite/sprite.svg#icon-timer"></use>
                </svg>
                <div>Технические перерывы: 10:40 - 11:00;
                  <wbr>
                  13:00 - 14:00;
                  <wbr>
                  16:00 - 16:20;
                  <wbr>
                  20:00 – 21:00;
                  <wbr>
                  23:15 – 00:15
                </div>
              </div>
              <div class="flex gap-25">
                <svg class="icon icon--small">
                  <use xlink:href="assets/sprite/sprite.svg#icon-tel"></use>
                </svg>
                <a href="tel:+74012777303">8 (4012) 77-73-03</a>
              </div>
              <div class="flex gap-25">
                <svg class="icon icon--small">
                  <use xlink:href="assets/sprite/sprite.svg#icon-wallet"></use>
                </svg>
                <p>Принимаем к оплате карты Visa и MasterCard</p>
              </div>

            </div>
            <div class="flex gap-40 gap--mob-15">
              <button class="button button--245">Вызвать врача</button>
              <button class="button  button--dark button--245">Подробнее</button>
            </div>
          </li>
          <li class="tabs__item tabs__item--padding" id="tab-2" data-tabs-list>
            <!--            <p class="tabs__trigger tabs__trigger&#45;&#45;mob" data-tabs-trigger data-tabs="tab-1">Для взрослых</p>-->
            <div class="title mb-30 mbm-20">Вызов детского врача</div>
            <div class="editor editor--16 fw--300 mb-45">
              <p>Боли в области поясницы, трудности с мочеиспусканием, дискомфорт и повышение температуры могут
                свидетельствовать о развитии серьезного воспалительного процесса в почках. Затягивать с визитом к врачу
                в этом случае не стоит. Так как в нашем организме все взаимосвязано, о проблемах с почками могут
                свидетельствовать не только явные признаки болезни, но и косвенные симптомы.</p>
              <p>Боли в области поясницы, трудности с мочеиспусканием, дискомфорт и повышение температуры могут
                свидетельствовать о развитии серьезного воспалительного процесса в почках. Затягивать с визитом к врачу
                в этом случае не стоит. Так как в нашем организме все взаимосвязано, о проблемах с почками могут
                свидетельствовать не только явные признаки болезни, но и косвенные симптомы. Так, консультация нефролога
                требуется людям, страдающим: </p>
              <ul class="list--dots">
                <li>гипертензией</li>
                <li>ярко выраженной отечностью</li>
                <li>последствиями ранее перенесенных тяжелых бактериальных инфекций</li>
                <li>хроническим тонзиллитом</li>
              </ul>
            </div>
            <div class="flex flex--column gap-15 fw--300 mb-60">
              <div class="flex gap-25">
                <svg class="icon icon--small">
                  <use xlink:href="assets/sprite/sprite.svg#icon-time"></use>
                </svg>
                <time>Часы приёма: 9:00 - 18:00; 18:30 - 06:30 утра</time>
              </div>
              <div class="flex gap-25">
                <svg class="icon icon--small">
                  <use xlink:href="assets/sprite/sprite.svg#icon-timer"></use>
                </svg>
                <div>Технические перерывы: 10:40 - 11:00; 13:00 - 14:00; 16:00 - 16:20; 20:00 – 21:00; 23:15 – 00:15
                </div>
              </div>
              <div class="flex gap-25">
                <svg class="icon icon--small">
                  <use xlink:href="assets/sprite/sprite.svg#icon-tel"></use>
                </svg>
                <a href="tel:+74012777303">8 (4012) 77-73-03</a>
              </div>
              <div class="flex gap-25">
                <svg class="icon icon--small">
                  <use xlink:href="assets/sprite/sprite.svg#icon-wallet"></use>
                </svg>
                <p>Принимаем к оплате карты Visa и MasterCard</p>
              </div>

            </div>
            <div class="flex gap-40">
              <button class="button ">Вызвать врача</button>
              <button class="button  button--dark">Подробнее</button>
            </div>
          </li>
          <li class="tabs__item tabs__item--padding" id="tab-3" data-tabs-list>
            <!--            <p class="tabs__trigger tabs__trigger&#45;&#45;mob" data-tabs-trigger data-tabs="tab-1">Для взрослых</p>-->
            <div class="title mb-30 mbm-20">Процедурный кабинет</div>
            <div class="editor editor--16 fw--300 mb-45">
              <p>Боли в области поясницы, трудности с мочеиспусканием, дискомфорт и повышение температуры могут
                свидетельствовать о развитии серьезного воспалительного процесса в почках. Затягивать с визитом к врачу
                в этом случае не стоит. Так как в нашем организме все взаимосвязано, о проблемах с почками могут
                свидетельствовать не только явные признаки болезни, но и косвенные симптомы. Так, консультация нефролога
                требуется людям, страдающим: </p>
              <ul class="list--dots">
                <li>гипертензией</li>
                <li>ярко выраженной отечностью</li>
                <li>последствиями ранее перенесенных тяжелых бактериальных инфекций</li>
                <li>хроническим тонзиллитом</li>
              </ul>
            </div>
            <div class="flex flex--column gap-15 fw--300 mb-60">
              <div class="flex gap-25">
                <svg class="icon icon--small">
                  <use xlink:href="assets/sprite/sprite.svg#icon-time"></use>
                </svg>
                <time>Часы приёма: 9:00 - 18:00; 18:30 - 06:30 утра</time>
              </div>
              <div class="flex gap-25">
                <svg class="icon icon--small">
                  <use xlink:href="assets/sprite/sprite.svg#icon-timer"></use>
                </svg>
                <div>Технические перерывы: 10:40 - 11:00; 13:00 - 14:00; 16:00 - 16:20; 20:00 – 21:00; 23:15 – 00:15
                </div>
              </div>
              <div class="flex gap-25">
                <svg class="icon icon--small">
                  <use xlink:href="assets/sprite/sprite.svg#icon-tel"></use>
                </svg>
                <a href="tel:+74012777303">8 (4012) 77-73-03</a>
              </div>
              <div class="flex gap-25">
                <svg class="icon icon--small">
                  <use xlink:href="assets/sprite/sprite.svg#icon-wallet"></use>
                </svg>
                <p>Принимаем к оплате карты Visa и MasterCard</p>
              </div>

            </div>
            <div class="flex gap-40">
              <button class="button ">Вызвать врача</button>
              <button class="button  button--dark">Подробнее</button>
            </div>
          </li>
          <li class="tabs__item tabs__item--padding" id="tab-4" data-tabs-list>
            <!--            <p class="tabs__trigger tabs__trigger&#45;&#45;mob" data-tabs-trigger data-tabs="tab-1">Для взрослых</p>-->
            <div class="title mb-30 mbm-20">Телемедицина</div>
            <div class="editor editor--16 fw--300 mb-45">
              <p>Боли в области поясницы, трудности с мочеиспусканием, дискомфорт и повышение температуры могут
                свидетельствовать о развитии серьезного воспалительного процесса в почках. Затягивать с визитом к врачу
                в этом случае не стоит. Так как в нашем организме все взаимосвязано, о проблемах с почками могут
                свидетельствовать не только явные признаки болезни, но и косвенные симптомы. Так, консультация нефролога
                требуется людям, страдающим: </p>
              <ul class="list--dots">
                <li>гипертензией</li>
                <li>ярко выраженной отечностью</li>
                <li>последствиями ранее перенесенных тяжелых бактериальных инфекций</li>
                <li>ярко выраженной отечностью</li>
                <li>последствиями ранее перенесенных тяжелых бактериальных инфекций</li>
                <li>хроническим тонзиллитом</li>
              </ul>
            </div>
            <div class="flex flex--column gap-15 fw--300 mb-60">
              <div class="flex gap-25">
                <svg class="icon icon--small">
                  <use xlink:href="assets/sprite/sprite.svg#icon-time"></use>
                </svg>
                <time>Часы приёма: 9:00 - 18:00; 18:30 - 06:30 утра</time>
              </div>
              <div class="flex gap-25">
                <svg class="icon icon--small">
                  <use xlink:href="assets/sprite/sprite.svg#icon-timer"></use>
                </svg>
                <div>Технические перерывы: 10:40 - 11:00; 13:00 - 14:00; 16:00 - 16:20; 20:00 – 21:00; 23:15 – 00:15
                </div>
              </div>
              <div class="flex gap-25">
                <svg class="icon icon--small">
                  <use xlink:href="assets/sprite/sprite.svg#icon-tel"></use>
                </svg>
                <a href="tel:+74012777303">8 (4012) 77-73-03</a>
              </div>
              <div class="flex gap-25">
                <svg class="icon icon--small">
                  <use xlink:href="assets/sprite/sprite.svg#icon-wallet"></use>
                </svg>
                <p>Принимаем к оплате карты Visa и MasterCard</p>
              </div>

            </div>
            <div class="flex gap-40">
              <button class="button ">Вызвать врача</button>
              <button class="button  button--dark">Подробнее</button>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="section mb-110">
    <div class="container">
      <h3 class="title mb-40">Специалисты</h3>
      <div class="slider slider--about" data-slider data-slider-slides="4">
        <div class="swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <a class="card card--md" href="#">
                <picture class="card__picture">
                  <img src="assets/images/doc.jpg" alt="">
                </picture>
                <div class="card__content">
                  <div class="card__title">
                    <p>Львович</p>
                    <p>Инна Александровна</p>
                  </div>
                  <div class="card__text">
                    <p>Нефролог</p>
                  </div>
                  <div class="card__text-accent">
                    <p>Стаж 15 лет</p>
                  </div>
                </div>
              </a>
            </div>
            <div class="swiper-slide">
              <a class="card card--md" href="#">
                <picture class="card__picture">
                  <img src="assets/images/doc-2.jpg" alt="">
                </picture>
                <div class="card__content">
                  <div class="card__title">
                    <p>Львович</p>
                    <p>Инна Александровна</p>
                  </div>
                  <div class="card__text">
                    <p>Нефролог</p>
                  </div>
                  <div class="card__text-accent">
                    <p>Стаж 15 лет</p>
                  </div>
                </div>
              </a>
            </div>
            <div class="swiper-slide">
              <a class="card card--md" href="#">
                <picture class="card__picture">
                  <img src="assets/images/doc.jpg" alt="">
                </picture>
                <div class="card__content">
                  <div class="card__title">
                    <p>Львович</p>
                    <p>Инна Александровна</p>
                  </div>
                  <div class="card__text">
                    <p>Нефролог</p>
                  </div>
                  <div class="card__text-accent">
                    <p>Стаж 15 лет</p>
                  </div>
                </div>
              </a>
            </div>
            <div class="swiper-slide">
              <a class="card card--md" href="#">
                <picture class="card__picture">
                  <img src="assets/images/doc.jpg" alt="">
                </picture>
                <div class="card__content">
                  <div class="card__title">
                    <p>Львович</p>
                    <p>Инна Александровна</p>
                  </div>
                  <div class="card__text">
                    <p>Нефролог</p>
                  </div>
                  <div class="card__text-accent">
                    <p>Стаж 15 лет</p>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="slider__controls">
          <button class="slider__button slider__button--prev" type="button" data-slider-prev>
            <svg>
              <use xlink:href="assets/sprite/sprite.svg#icon-arrow"></use>
            </svg>
          </button>
          <button class="slider__button slider__button--next" type="button" data-slider-next>
            <svg>
              <use xlink:href="assets/sprite/sprite.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </section>
</main>
<%= htmlWebpackPlugin.options.sectionFooter %>
<%= htmlWebpackPlugin.options.temp %>
</body>
</html>