<!DOCTYPE html>
<html lang="ru">
<head>
  <%= htmlWebpackPlugin.options.head %>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body class="body">
<div class="main-container">
  <%= htmlWebpackPlugin.options.sectionHeader %>
  <main class="main news-detail">
    <section class="section">
      <div class="container">
        <div class="breadcrumbs">
          <a class="breadcrumbs__link" href="./">Главная</a>
          <a class="breadcrumbs__link" href="./">Пациентам</a>
          <a class="breadcrumbs__link" href="./">Новости</a>
          <span class="breadcrumbs__curr-page">Название новости</span>
        </div>
      </div>
    </section>
    <section class="service-block mb-80 mbm-65">
      <div class="container">
        <div class="service-block__header mb-0 mbm-20">
          <h1 class="title title--page news-detail__title">Название новости</h1>
          <time class="fz--16 fzm--14 fw--500 color--green" datetime="03-03-2023">03.03.2023</time>
        </div>
        <div class="editor editor--16 mb-40 fw--300">
          <div class="info-min mb-25">
            <p>Ведомственные новости</p>
            <p>Время чтения: 3 мин</p>
          </div>
          <p>Повседневная практика показывает, что реализация намеченных плановых заданий влечет за собой процесс
            внедрения и модернизации систем массового участия. Разнообразный и богатый опыт новая модель организационной
            деятельности обеспечивает широкому кругу (специалистов) участие в формировании модели развития.
            Разнообразный
            и богатый опыт дальнейшее развитие различных форм деятельности позволяет оценить значение соответствующий
            условий активизации. С другой стороны укрепление и развитие структуры требуют определения и уточнения систем
            массового участия</p>
          <p>Повседневная практика показывает, что реализация намеченных плановых заданий влечет за собой процесс
            внедрения и модернизации систем массового участия. Разнообразный и богатый опыт новая модель организационной
            деятельности обеспечивает широкому кругу (специалистов) участие в формировании модели развития.
            Разнообразный
            и богатый опыт дальнейшее развитие различных форм деятельности позволяет оценить значение соответствующий
            условий активизации. С другой стороны укрепление и развитие структуры требуют определения и уточнения систем
            массового участия</p>
          <p>Повседневная практика показывает, что реализация намеченных плановых заданий влечет за собой процесс
            внедрения и модернизации систем массового участия. Разнообразный и богатый опыт новая модель организационной
            деятельности обеспечивает широкому кругу (специалистов) участие в формировании модели развития.
            Разнообразный
            и богатый опыт дальнейшее развитие различных форм деятельности позволяет оценить значение соответствующий
            условий активизации. С другой стороны укрепление и развитие структуры требуют определения и уточнения систем
            массового участия</p>
        </div>
        <picture class="img img--full mb-40">
          <img src="../assets/images/news-pic-2.jpg" alt="">
        </picture>
        <div class="editor editor--16 mb-40 fw--300">
          <h3 class="title title--min mb-20">Заголовок</h3>
          <p>Повседневная практика показывает, что реализация намеченных плановых заданий влечет за собой процесс
            внедрения и модернизации систем массового участия. Разнообразный и богатый опыт новая модель организационной
            деятельности обеспечивает широкому кругу (специалистов) участие в формировании модели развития.
            Разнообразный
            и богатый опыт дальнейшее развитие различных форм деятельности позволяет оценить значение соответствующий
            условий активизации. С другой стороны укрепление и развитие структуры требуют определения и уточнения систем
            массового участия</p>
        </div>
      </div>
    </section>
    <section class="section mb-110 mbm-100">
      <div class="container">
        <h2 class="title title--page mb-40">Другие новости</h2>
        <div class="slider slider--about" data-slider data-slider-slides="2">
          <div class="swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <a class="card-news" style="background-color: #EAF7F7" href="#">
                  <div class="card-news__content">
                    <p class="card-news__title">Комплексные программы</p>
                    <time class="fz--14 fw--500 color--green mb-15" datetime="03-03-2023">03.03.2023</time>
                    <p class="fw--300">Идейные соображения высшего порядка, а также постоянное информационно.</p>
                  </div>
                  <picture class="card-news__picture">
                    <img src="../assets/images/program.png" alt="">
                  </picture>
                </a>
              </div>
              <div class="swiper-slide">
                <a class="card-news" style="background-color: #EAF7F7" href="#">
                  <div class="card-news__content">
                    <p class="card-news__title">Комплексные программы</p>
                    <time class="fz--14 fw--500 color--green mb-15" datetime="03-03-2023">03.03.2023</time>
                    <p class="fw--300">Идейные соображения высшего порядка, а также постоянное информационно.</p>
                  </div>
                  <picture class="card-news__picture">
                    <img src="../assets/images/program.png" alt="">
                  </picture>
                </a>
              </div>
              <div class="swiper-slide">
                <a class="card-news" style="background-color: #EAF7F7" href="#">
                  <div class="card-news__content">
                    <p class="card-news__title">Комплексные программы</p>
                    <time class="fz--14 fw--500 color--green mb-15" datetime="03-03-2023">03.03.2023</time>
                    <p class="fw--300">Идейные соображения высшего порядка, а также постоянное информационно.</p>
                  </div>
                  <picture class="card-news__picture">
                    <img src="../assets/images/program.png" alt="">
                  </picture>
                </a>
              </div>
              <div class="swiper-slide">
                <a class="card-news" style="background-color: #EAF7F7" href="#">
                  <div class="card-news__content">
                    <p class="card-news__title">Комплексные программы</p>
                    <time class="fz--14 fw--500 color--green mb-15" datetime="03-03-2023">03.03.2023</time>
                    <p class="fw--300">Идейные соображения высшего порядка, а также постоянное информационно.</p>
                  </div>
                  <picture class="card-news__picture">
                    <img src="../assets/images/program.png" alt="">
                  </picture>
                </a>
              </div>
            </div>
          </div>
          <div class="slider__controls">
            <button class="slider__button slider__button--gray slider__button--prev" type="button" data-slider-prev>
              <svg>
                <use xlink:href="assets/sprite/sprite.svg#icon-arrow"></use>
              </svg>
            </button>
            <button class="slider__button slider__button--gray slider__button--next" type="button" data-slider-next>
              <svg>
                <use xlink:href="assets/sprite/sprite.svg#icon-arrow"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </section>

  </main>
  <%= htmlWebpackPlugin.options.sectionFooter %>
  <%= htmlWebpackPlugin.options.temp %>
</div>
</body>
</html>