<!DOCTYPE html>
<html lang="ru">
<head>
  <%= htmlWebpackPlugin.options.head %>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body class="body">
<div class="main-container">
  <%= htmlWebpackPlugin.options.sectionHeader %>
  <main class="main main--has-intro">
    <section class="section page-intro mb-80 mbm-90">
      <div class="container">
        <div class="columns">
          <div class="columns__col--6 columns__col-mob--12">
            <div class="page-intro__content">
              <div class="page-intro__top">
                <section class="section">
                  <div class="breadcrumbs">
                    <a class="breadcrumbs__link" href="./">Главная</a>
                    <a class="breadcrumbs__link" href="./">Пациентам</a>
                    <a class="breadcrumbs__link" href="./">Новости</a>
                    <span class="breadcrumbs__curr-page">Информация для пациентов</span>
                  </div>
                </section>
                <h1 class="title title--page title--page-intro">Информация для пациентов</h1>
                <div class="page-intro__text">
                  <p>Дорогие пациенты! Мы знаем, что когда сталкиваешься с проблемой здоровья, думать о правилах,
                    документах и регламентах хочется в последнюю очередь. Главное – найти нужного специалиста, побыстрее
                    начать лечение (или профилактику) и решить свою проблему.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="columns__col--6 columns__col-mob--12">
            <picture class="page-intro__picture page-intro__picture--bottom">
              <img src="./assets/images/patientsinfo-bg.png" alt="">
            </picture>
          </div>
        </div>
      </div>
    </section>
    <section class="section mb-110 mbm-125">
      <div class="container">
        <h2 class="title title--page mb-40 mbm-20">Как происходит оформление пациента</h2>
        <div class="editor editor--18 fw--300 mb-25 mbm-15">
          <h5 class="mb-40">Если лечиться пришли Вы</h5>
<!--          <p class="fw&#45;&#45;500">Если лечиться пришли Вы</p>-->
          <p>Оформление документов при первичном обращении в клинику происходит только при предъявлении оригинала
            документа, удостоверяющего личность. Такие документы должны быть у вас с собой.</p>
        </div>
        <div class="editor editor--18 fw--300 mb-40">
          <h5 class="">Документы, удостоверяющие личность (вы можете предоставить любой):</h5>
<!--          <p class="fw&#45;&#45;500">Документы, удостоверяющие личность (вы можете предоставить любой):</p>-->
          <ul class="list list--dots">
            <li>паспорт гражданина РФ,</li>
            <li>иностранный паспорт, вид на жительство, разрешение на временное проживание или иной документ,
              удостоверяющий личность, выданный иностранным государством – для иностранных граждан,
            </li>
            <li>загранпаспорт гражданина РФ (для граждан РФ, постоянно проживающих за пределами РФ),</li>
            <li>временное удостоверение личности гражданина РФ (форма 2-П),</li>
            <li>удостоверение личности военнослужащего, военный билет,</li>
            <li>удостоверение личности моряка.</li>
          </ul>
        </div>
        <article class="accent-block accent-block--short mb-40" style="background-color: #EAF7F7" href="#">
          <div class="accent-block__content accent-block--short__content flex flex--column">
            <p class="title mb-10">Минус 10% на первичные приёмы</p>
            <p class="fz--22 fw--300 mb-10">для новых пациентов семейной клиники «Медэксперт»</p>
          </div>
          <picture class="accent-block__picture accent-block--short__picture">
            <img src="./assets/images/card-img-9.png" alt="">
          </picture>
        </article>
        <div class="editor editor--18 fw--300 mb-70 mbm-50">
          <h5 class="mb-40">Если нужно помочь несовершеннолетнему</h5>
<!--          <p class="fw&#45;&#45;500">Если нужно помочь несовершеннолетнему</p>-->
          <p>Вы должны быть законным представителем ребенка (то есть одним из родителей, усыновителей). <span
            class="color--green"> При себе необходимо
          иметь паспорт и свидетельство о рождении ребенка или паспорт для несовершеннолетних от 14 до 18 лет.</span>
          </p>
          <p>
            Если Вы не являетесь законным представителем (то есть приходитесь ребенку бабушкой/дедушкой, тетей/дядей,
            братом/сестрой, няней и иным лицом) – вам обязательно нужно предъявить в клинике нотариально оформленную
            доверенность, предусматривающую полномочие указанного лица (то есть Вас) осуществлять определенные действия
            от
            имени законного представителя несовершеннолетнего (доверенность от законного представителя
            несовершеннолетнего
            лица) <span
            class="color--green">или законный представитель может оформить доверенность на Вас в клинике.</span></p>
        </div>
        <h2 class="title title--page mb-40 mbm-25">Подробнее о порядке оформления доверенности в клинике</h2>
        <div class="editor editor--18 fw--300 mb-20">
          <p>Законный представитель может лично обратиться в клинику с документом, удостоверяющим личность, со
            свидетельством о рождении ребенка и документом, удостоверяющим личность доверенного, для оформления
            доверенности в письменной форме.</p>
          <p><i>В указанной доверенности в качестве правомочий лица должно быть указано право решать вопросы, касающиеся
            жизни и здоровья несовершеннолетнего. Для получения информации о состоянии здоровья необходимо включение в
            доверенность правомочий лица получать информацию, составляющую врачебную тайну, получать медицинские
            документы, содержащие сведения о состоянии здоровья несовершеннолетнего, составляющие врачебную тайну.</i>
          </p>
        </div>
      </div>
    </section>
  </main>
  <%= htmlWebpackPlugin.options.sectionFooter %>
  <%= htmlWebpackPlugin.options.temp %>
</div>
</body>
</html>