<!DOCTYPE html>
<html lang="ru">
<head>
  <%= htmlWebpackPlugin.options.head %>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body class="body">
<%= htmlWebpackPlugin.options.sectionHeader %>
<main class="main">
  <section class="section">
    <div class="container">
      <div class="breadcrumbs">
        <a class="breadcrumbs__link" href="./">Главная</a>
        <span class="breadcrumbs__curr-page">Пациентам</span>
      </div>
    </div>
  </section>
  <section class="section mb-80">
    <div class="container">
      <h1 class="title title--page mb-50">Пациентам</h1>
      <div class="columns">
        <div class="columns__col--4 columns__col-tab--6 columns__col-mob--12">
          <a class="card card--gray" href="#">
            <svg class="card--gray__icon">
              <use xlink:href="assets/sprite/sprite.svg#icon-file"></use>
            </svg>
            <p class="card--gray__text card__text--short">Подготовка к диагностике</p>
          </a>
        </div>
        <div class="columns__col--4 columns__col-tab--6 columns__col-mob--12">
          <a class="card card--gray" href="#">
            <svg class="card--gray__icon">
              <use xlink:href="assets/sprite/sprite.svg#icon-file"></use>
            </svg>
            <p class="card--gray__text card__text--short">Правила посещения клиники</p>
          </a>
        </div>
        <div class="columns__col--4 columns__col-tab--6 columns__col-mob--12">
          <a class="card card--gray" href="#">
            <svg class="card--gray__icon">
              <use xlink:href="assets/sprite/sprite.svg#icon-file"></use>
            </svg>
            <p class="card--gray__text card__text--short">Сертификаты лаборатории</p>
          </a>
        </div>
        <div class="columns__col--4 columns__col-tab--6 columns__col-mob--12">
          <a class="card card--gray" href="#">
            <svg class="card--gray__icon">
              <use xlink:href="assets/sprite/sprite.svg#icon-file"></use>
            </svg>
            <p class="card--gray__text card__text--short">Правила посещения стационара</p>
          </a>
        </div>
        <div class="columns__col--4 columns__col-tab--6 columns__col-mob--12">
          <a class="card card--gray" href="#">
            <svg class="card--gray__icon">
              <use xlink:href="assets/sprite/sprite.svg#icon-file"></use>
            </svg>
            <p class="card--gray__text card__text--short">Правила оплаты</p>
          </a>
        </div>
        <div class="columns__col--4 columns__col-tab--6 columns__col-mob--12">
          <a class="card card--gray" href="#">
            <svg class="card--gray__icon">
              <use xlink:href="assets/sprite/sprite.svg#icon-file"></use>
            </svg>
            <p class="card--gray__text card__text--short">ДМС</p>
          </a>
        </div>
      </div>
      <div class="editor mb-50">
        <div class="accent-block">
          <p class="fw--500 fz--32">Информация для пациентов</p>
          <p class="fw--300 fz--16">Идейные соображения высшего порядка, а также постоянное
            информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять важные задания по
            разработке дальнейших направлений развития. Идейные соображения высшего порядка, а также новая модель
            организационной деятельности в значительной степени обуславливает создание системы обучения кадров,
            соответствует насущным потребностям.
          </p>
        </div>
      </div>
      <div class="columns">
        <div class="columns__col--4 columns__col-tab--6 columns__col-mob--12">
          <a class="card card--gray card--tall" href="#">
            <svg class="card--gray__icon">
              <use xlink:href="assets/sprite/sprite.svg#icon-file"></use>
            </svg>
            <p class="card--gray__text card__text--short">Вход в личный кабинет</p>
          </a>
        </div>
        <div class="columns__col--4 columns__col-tab--6 columns__col-mob--12">
          <a class="card card--gray card--tall" href="#">
            <svg class="card--gray__icon">
              <use xlink:href="assets/sprite/sprite.svg#icon-file"></use>
            </svg>
            <p class="card--gray__text card__text--short">Запись на прием</p>
          </a>
        </div>
        <div class="columns__col--4 columns__col-tab--6 columns__col-mob--12">
          <a class="card card--gray card--tall" href="#">
            <svg class="card--gray__icon">
              <use xlink:href="assets/sprite/sprite.svg#icon-file"></use>
            </svg>
            <p class="card--gray__text card__text--short">Программы обслуживания</p>
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="section mb-80 mbm-35">
    <div class="container container--no-padding">
      <div class="columns columns--gap-mob-20">
        <div class="columns__col--6 columns__col-tab--6 columns__col-mob--12">
          <aside class="news">
            <div class="news__title title">Последние новости</div>
            <div class="news__inner">
              <a class="news__article" href="#">
                <picture class="news__article-picture">
                  <img src="assets/images/news-pic-1.jpg" alt="">
                </picture>
                <div class="news__article-content">
                  <div class="news__article-title">Название новости</div>
                  <div class="news__article-info">
                    <p>Таким образом консультация с широким активом в значительной степени обуславливает создание
                      соответствующий условий активизации.</p>
                  </div>
                  <time class="news__article-time" datetime="2023-01-24">24.01.23</time>
                </div>
              </a>
              <a class="news__article" href="#">
                <picture class="news__article-picture">
                  <img src="assets/images/news-pic-2.jpg" alt="">
                </picture>
                <div class="news__article-content">
                  <div class="news__article-title">Название новости</div>
                  <div class="news__article-info">
                    <p>Таким образом консультация с широким активом в значительной степени обуславливает создание
                      соответствующий условий активизации.</p>
                    <p>Таким образом консультация с широким активом в значительной степени обуславливает создание
                      соответствующий условий активизации.</p>
                  </div>
                  <time class="news__article-time" datetime="2023-01-24">24.01.23</time>
                </div>
              </a>
            </div>
          </aside>
        </div>
        <div class="columns__col--6 columns__col-tab--6 columns__col-mob--12">
          <div class="answer">
            <div class="answer__title title">Ответы на вопросы</div>
            <div class="answer__collapse collapse" data-collapse data-duration="700">
              <div class="answer__collapse-wrapper collapse__wrapper">
                <div class="collapse__item answer__item" data-collapse-item>
                  <div class="collapse__trigger answer__trigger" data-collapse-trigger>
                    <p>Каким способом вшивается сетчатый имплантат при герниопластике пупочной грыжи</p>
                    <span class="answer__collapse-icon active" data-collapse-icon></span>
                  </div>
                  <div class="collapse__content answer__content collapse-show" data-collapse-content
                       style="transition: max-height 700ms ease 0s; max-height: 132px; height: 132px;">
                    <p>Для пупочной грыжи методом выбора является метод IPOMМы используем
                      протез Reperen - самораскрывающийся композитный двухслойный нерезорбируемый эндопротез.
                      Соответственно, протез располагается непосредственно в брюшинной полости касается органов
                      специальным антиадгезивным покрытием Reperen</p>
                  </div>
                </div>
              </div>
              <div class="answer__collapse-wrapper collapse__wrapper">
                <div class="collapse__item answer__item" data-collapse-item>
                  <div class="collapse__trigger answer__trigger" data-collapse-trigger>
                    <p>Как можно купировать болевой синдром при проктите и геморрое?</p>
                    <span class="answer__collapse-icon" data-collapse-icon></span>
                  </div>
                  <div class="collapse__content answer__content" data-collapse-content>
                    <p>Для пупочной грыжи методом выбора является метод IPOMМы используем
                      протез Reperen - самораскрывающийся композитный двухслойный нерезорбируемый эндопротез.
                      Соответственно, протез располагается непосредственно в брюшинной полости касается органов
                      специальным антиадгезивным покрытием Reperen</p>
                    <p>Для пупочной грыжи методом выбора является метод IPOMМы используем
                      протез Reperen - самораскрывающийся композитный двухслойный нерезорбируемый эндопротез.
                      Соответственно, протез располагается непосредственно в брюшинной полости касается органов
                      специальным антиадгезивным покрытием Reperen</p>
                  </div>
                </div>
              </div>
              <div class="answer__collapse-wrapper collapse__wrapper">
                <div class="collapse__item answer__item" data-collapse-item>
                  <div class="collapse__trigger answer__trigger" data-collapse-trigger>
                    <p>Дочь прошла обследование и обнаружилась киста</p>
                    <span class="answer__collapse-icon" data-collapse-icon></span>
                  </div>
                  <div class="collapse__content answer__content" data-collapse-content>
                    <p>Для пупочной грыжи методом выбора является метод IPOMМы используем
                      протез Reperen - самораскрывающийся композитный двухслойный нерезорбируемый эндопротез.
                      Соответственно, протез располагается непосредственно в брюшинной полости касается органов
                      специальным антиадгезивным покрытием Reperen</p>
                  </div>
                </div>
              </div>
              <div class="answer__collapse-wrapper collapse__wrapper">
                <div class="collapse__item answer__item" data-collapse-item>
                  <div class="collapse__trigger answer__trigger" data-collapse-trigger>
                    <p>Могу ли я снова заболеть ветрянкой?</p>
                    <span class="answer__collapse-icon" data-collapse-icon></span>
                  </div>
                  <div class="collapse__content answer__content" data-collapse-content>
                    <p>Для пупочной грыжи методом выбора является метод IPOMМы используем
                      протез Reperen - самораскрывающийся композитный двухслойный нерезорбируемый эндопротез.
                      Соответственно, протез располагается непосредственно в брюшинной полости касается органов
                      специальным антиадгезивным покрытием Reperen</p>
                  </div>
                </div>
              </div>
              <div class="answer__collapse-wrapper collapse__wrapper">
                <div class="collapse__item answer__item" data-collapse-item>
                  <div class="collapse__trigger answer__trigger" data-collapse-trigger>
                    <p>Как можно купировать болевой синдром при проктите и геморрое?</p>
                    <span class="answer__collapse-icon" data-collapse-icon></span>
                  </div>
                  <div class="collapse__content answer__content" data-collapse-content>
                    <p>Для пупочной грыжи методом выбора является метод IPOMМы используем
                      протез Reperen - самораскрывающийся композитный двухслойный нерезорбируемый эндопротез.
                      Соответственно, протез располагается непосредственно в брюшинной полости касается органов
                      специальным антиадгезивным покрытием Reperen</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="answer__bottom">
              <a class="answer__bottom-link" href="#">
                <p>Все ответы врачей</p>
                <svg>
                  <use xlink:href="assets/sprite/sprite.svg#icon-link"></use>
                </svg>
              </a>
              <a class="button" href="#">Задать вопрос</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="service-block mb-80">
    <div class="container">
      <div class="service-block__header">
        <h2 class="title">Отзывы</h2>
        <a class="show-more show-more--link" href="#">
          <span>Читать все отзывы</span>
          <svg>
            <use xlink:href="assets/sprite/sprite.svg#icon-arrow-min"></use>
          </svg>
        </a>
      </div>
      <div class="slider slider--review mb-50" data-slider data-slider-slides="3">
        <div class="swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <article class="card card--review review-card">
                <div class="review-card__content">
                  <div class="review-card__title">Евгения</div>
                  <div class="review-card__text">
                    <p>Хочу выразить благодарность замечательному неврологу, профессионалу своего дела. Меня давно
                      мучили головные боли, я не спала нормально. Обратилась к Туяне Батуевне. Она назначила
                      анализы, подобрала лечение. переживала за меня, беспокоилась. Все помогло и быстро! Очень
                      внимательный доктор с широким кругозором знаний. Туяна Батуевна, спасибо Вам огромное за
                      помощь, за поддержку, за образец высокого звания Врач. С глубоким уважением, Евгения.</p>
                  </div>
                  <address class="review-card__address">
                    <a target="_blank" href="https://yandex.ru/maps/-/CCUgb2hVCA">Медэксперт на Иванникова</a>
                  </address>
                  <div class="review-card__bottom">
                    <p class="review-card__bottom-text--accent">Иваненко Людмила Борисовна</p>
                    <p class="review-card__bottom-text">Нефролог</p>
                  </div>
                </div>
              </article>
            </div>
            <div class="swiper-slide">
              <article class="card card--review review-card">
                <div class="review-card__content">
                  <div class="review-card__title">Евгения</div>
                  <div class="review-card__text">
                    <p>Хочу выразить благодарность замечательному неврологу, профессионалу своего дела. Меня давно
                      мучили головные боли, я не спала нормально. Обратилась к Туяне Батуевне. Она назначила
                      анализы, подобрала лечение. переживала за меня, беспокоилась. Все помогло и быстро! Очень
                      внимательный доктор с широким кругозором знаний. Туяна Батуевна, спасибо Вам огромное за
                      помощь, за поддержку, за образец высокого звания Врач. С глубоким уважением, Евгения.</p>
                  </div>
                  <address class="review-card__address">
                    <a target="_blank" href="https://yandex.ru/maps/-/CCUgb2hVCA">Медэксперт на Иванникова</a>
                  </address>
                  <div class="review-card__bottom">
                    <p class="review-card__bottom-text--accent">Иваненко Людмила Борисовна</p>
                    <p class="review-card__bottom-text">Нефролог</p>
                  </div>
                </div>
              </article>
            </div>
            <div class="swiper-slide">
              <article class="card card--review review-card">
                <div class="review-card__content">
                  <div class="review-card__title">Евгения</div>
                  <div class="review-card__text">
                    <p>Хочу выразить благодарность замечательному неврологу, профессионалу своего дела. Меня давно
                      мучили головные боли, я не спала нормально. Обратилась к Туяне Батуевне. Она назначила
                      анализы, подобрала лечение. переживала за меня, беспокоилась. Все помогло и быстро! Очень
                      внимательный доктор с широким кругозором знаний. Туяна Батуевна, спасибо Вам огромное за
                      помощь, за поддержку, за образец высокого звания Врач. С глубоким уважением, Евгения.</p>
                  </div>
                  <address class="review-card__address">
                    <a target="_blank" href="https://yandex.ru/maps/-/CCUgb2hVCA">Медэксперт на Иванникова</a>
                  </address>
                  <div class="review-card__bottom">
                    <p class="review-card__bottom-text--accent">Иваненко Людмила Борисовна</p>
                    <p class="review-card__bottom-text">Нефролог</p>
                  </div>
                </div>
              </article>
            </div>
            <div class="swiper-slide">
              <article class="card card--review review-card">
                <div class="review-card__content">
                  <div class="review-card__title">Евгения</div>
                  <div class="review-card__text">
                    <p>Хочу выразить благодарность замечательному неврологу, профессионалу своего дела. Меня давно
                      мучили головные боли, я не спала нормально. Обратилась к Туяне Батуевне. Она назначила
                      анализы, подобрала лечение. переживала за меня, беспокоилась. Все помогло и быстро! Очень
                      внимательный доктор с широким кругозором знаний. Туяна Батуевна, спасибо Вам огромное за
                      помощь, за поддержку, за образец высокого звания Врач. С глубоким уважением, Евгения.</p>
                  </div>
                  <address class="review-card__address">
                    <a target="_blank" href="https://yandex.ru/maps/-/CCUgb2hVCA">Медэксперт на Иванникова</a>
                  </address>
                  <div class="review-card__bottom">
                    <p class="review-card__bottom-text--accent">Иваненко Людмила Борисовна</p>
                    <p class="review-card__bottom-text">Нефролог</p>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
        <div class="slider__controls">
          <button class="slider__button slider__button--prev" type="button" data-slider-prev>
            <svg>
              <use xlink:href="assets/sprite/sprite.svg#icon-arrow"></use>
            </svg>
          </button>
          <button class="slider__button slider__button--next" type="button" data-slider-next>
            <svg>
              <use xlink:href="assets/sprite/sprite.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>
      </div>
      <a class="button centered" href="#">Оставить отзыв</a>
    </div>
  </section>
  <section class="section mb-80">
    <div class="container">
      <div class="columns">
        <div class="columns__col--6 columns__col-mob--12">
          <a class="link link--arrow" href="#" target="_blank">
            <p class="link--arrow__text">Обработка данных</p>
            <svg class="link--arrow__icon">
              <use xlink:href="assets/sprite/sprite.svg#icon-arrow"></use>
            </svg>
          </a>
        </div>
        <div class="columns__col--6 columns__col-mob--12">
          <a class="link link--arrow" href="#" target="_blank">
            <p class="link--arrow__text">Страховые компании</p>
            <svg class="link--arrow__icon">
              <use xlink:href="assets/sprite/sprite.svg#icon-arrow"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </section>
</main>
<%= htmlWebpackPlugin.options.sectionFooter %>
<%= htmlWebpackPlugin.options.temp %>
</body>
</html>