<!DOCTYPE html>
<html lang="ru">
<head>
  <%= htmlWebpackPlugin.options.head %>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body class="body">
<%= htmlWebpackPlugin.options.sectionHeader %>
<main class="main">
  <section class="section">
    <div class="container">
      <div class="breadcrumbs">
        <a class="breadcrumbs__link" href="./">Главная</a>
        <a class="breadcrumbs__link" href="./">Пациентам</a>
        <span class="breadcrumbs__curr-page">Правила оплаты</span>
      </div>
    </div>
  </section>
  <section class="section mb-80">
    <div class="container">
      <h1 class="title title--page mb-40">Правила оплаты</h1>
      <div class="columns">
        <div class="columns__col--4 columns__col-tab--4 columns__col-mob--12">
          <a class="card card--gray" href="#" download="">
            <svg class="card--gray__icon">
              <use xlink:href="assets/sprite/sprite.svg#icon-file"></use>
            </svg>
            <p class="card--gray__text">Правила и обязанности граждан в сфере охраны труда</p>
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="section mb-80">
    <div class="container">
      <h2 class="title title--page">заголовок 1</h2>
      <div class="editor editor--18 fw--300 mb-20">
        <p class="fw--500">заголовок 3</p>
        <p>контент Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab asperiores commodi culpa cumque
          cupiditate dignissimos dolorem in, nemo nesciunt non nostrum quae repellendus sint sunt tenetur? Adipisci
          beatae illum similique.</p>
      </div>
      <div class="editor editor--18 fw--300 mb-40">
        <p class="fw--500">заголовок 3</p>
        <ul class="list list--dots">
          <li>паспорт гражданина РФ,</li>
          <li>иностранный паспорт, вид на жительство, разрешение на временное проживание или иной документ,
            удостоверяющий личность, выданный иностранным государством – для иностранных граждан,
          </li>
          <li>загранпаспорт гражданина РФ (для граждан РФ, постоянно проживающих за пределами РФ),</li>
          <li>временное удостоверение личности гражданина РФ (форма 2-П),</li>
          <li>удостоверение личности военнослужащего, военный билет,</li>
          <li>удостоверение личности моряка.</li>
        </ul>
      </div>

      <div class="editor editor--18 fw--300 mb-20">
        <p class="fw--500">заголовок 3</p>
        <p>Вы должны быть законным представителем ребенка (то есть одним из родителей, усыновителей). <span
          class="color--green"> При себе необходимо
          иметь паспорт и свидетельство о рождении ребенка или паспорт для несовершеннолетних от 14 до 18 лет.</span>
        </p>
        <p>
          Если Вы не являетесь законным представителем (то есть приходитесь ребенку бабушкой/дедушкой, тетей/дядей,
          братом/сестрой, няней и иным лицом) – вам обязательно нужно предъявить в клинике нотариально оформленную
          доверенность, предусматривающую полномочие указанного лица (то есть Вас) осуществлять определенные действия от
          имени законного представителя несовершеннолетнего (доверенность от законного представителя несовершеннолетнего
          лица) <span
          class="color--green">или законный представитель может оформить доверенность на Вас в клинике.</span></p>
      </div>
      <h2 class="title title--page">заголовок 2</h2>
      <div class="editor editor--18 fw--300 mb-20">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet atque doloremque eaque esse maxime, quos saepe
          vel? Aperiam autem, corporis doloribus expedita explicabo, minima natus officiis, quisquam quo saepe sed.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet atque doloremque eaque esse maxime, quos saepe
          vel? Aperiam autem, corporis doloribus expedita explicabo, minima natus officiis, quisquam quo saepe sed. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet atque doloremque eaque esse maxime, quos saepe
          vel? Aperiam autem, corporis doloribus expedita explicabo, minima natus officiis, quisquam quo saepe sed. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet atque doloremque eaque esse maxime, quos saepe
          vel? Aperiam autem, corporis doloribus expedita explicabo, minima natus officiis, quisquam quo saepe sed.</p>
      </div>
    </div>
  </section>
</main>
<%= htmlWebpackPlugin.options.sectionFooter %>
<%= htmlWebpackPlugin.options.temp %>
</body>
</html>