<!DOCTYPE html>
<html lang="ru">
<head>
  <%= htmlWebpackPlugin.options.head %>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body class="body">
<div class="main-container">
  <%= htmlWebpackPlugin.options.sectionHeader %>
  <main class="main main--has-intro">
    <section class="section page-intro mb-80 mbm-60">
      <div class="container">
        <div class="columns">
          <div class="columns__col--6 columns__col-mob--12">
            <div class="page-intro__content">
              <div class="page-intro__top">
                <section class="section">
                  <div class="breadcrumbs">
                    <a class="breadcrumbs__link" href="./">Главная</a>
                    <a class="breadcrumbs__link" href="./">Пациентам</a>
                    <span class="breadcrumbs__curr-page">Отзывы</span>
                  </div>
                </section>
                <h1 class="title title--page title--page-intro">Отзывы</h1>
                <div class="page-intro__text">
                  <p>Здесь Вы можете оставить отзыв о работе клиник и специалистов.
                    Сообщения, содержащие нецензурные выражения, оскорбления
                    или спам будут удалены без рассмотрения</p>
                </div>
                <div class="page-intro__text only-mobile">
                  <p>Отзывы публикуются после проверки.</p>
                </div>
              </div>

              <div class="page-intro__bottom mob-hidden">
                <p>Отзывы публикуются после проверки.</p>
              </div>
            </div>
          </div>
          <div class="columns__col--6 columns__col-mob--12">
            <picture class="page-intro__picture">
              <img src="./assets/images/about-pic.svg" alt="">
            </picture>
          </div>
        </div>
      </div>
    </section>
    <section class="section mb-80">
      <div class="container">
        <h2 class="title mb-40">Оставить отзыв</h2>
        <div class="form form--big mb-80">
          <form action="#" data-form>
            <div class="columns">
              <div class="columns__col--8 columns__col-tab--12">
                <div class="form__block-inputs">
                  <label class="form__label">
                    <input class="form__input" type="text" placeholder="ФИО">
                  </label>
                  <label class="form__label">
                    <input class="form__input" type="email" placeholder="Электронная почта">
                  </label>
                  <label class="form__label">
                    <input class="form__input" type="tel" placeholder="Контактный телефон" data-tel>
                  </label>
                  <label class="form__label">
                    <textarea class="form__input" name="review" cols="30" rows="10" placeholder="Отзыв"></textarea>
                  </label>
                </div>
              </div>
              <div class="columns__col--4 columns__col-tab--12 mb-15 mbm-0">


                <p class="fz--18 fw--500 mb-25 mob-hidden">В какую из клиник Вы обращались?</p>
                <div class="form__block-checkbox mob-hidden">
                  <label class="checkbox checkbox--square">
                    <input class="form__checkbox-btn" type="radio" name="clinic" value="0" checked>
                    <span class="form__checkbox-text">Медэксперт на Леонова</span>
                  </label>
                  <label class="checkbox checkbox--square">
                    <input class="form__checkbox-btn" type="radio" name="clinic" value="0">
                    <span class="form__checkbox-text">Медэксперт на Иванникова</span>
                  </label>
                  <label class="checkbox checkbox--square">
                    <input class="form__checkbox-btn" type="radio" name="clinic" value="0">
                    <span class="form__checkbox-text">Медэксперт на Пражской</span>
                  </label>
                  <label class="checkbox checkbox--square">
                    <input class="form__checkbox-btn" type="radio" name="clinic" value="0">
                    <span class="form__checkbox-text">Медэксперт Орто</span>
                  </label>
                  <label class="checkbox checkbox--square">
                    <input class="form__checkbox-btn" type="radio" name="clinic" value="0">
                    <span class="form__checkbox-text">Медэксперт на Победе</span>
                  </label>
                  <label class="checkbox checkbox--square">
                    <input class="form__checkbox-btn" type="radio" name="clinic" value="0">
                    <span class="form__checkbox-text">Медэксперт на Интернациональной</span>
                  </label>
                  <label class="checkbox checkbox--square">
                    <input class="form__checkbox-btn" type="radio" name="clinic" value="0">
                    <span class="form__checkbox-text">Медэксперт на Лефорта</span>
                  </label>
                  <label class="checkbox checkbox--square">
                    <input class="form__checkbox-btn" type="radio" name="clinic" value="0">
                    <span class="form__checkbox-text">Медэксперт на Челнокова</span>
                  </label>
                  <label class="checkbox checkbox--square">
                    <input class="form__checkbox-btn" type="radio" name="clinic" value="0">
                    <span class="form__checkbox-text">Медэксперт на Космической</span>
                  </label>
                  <label class="checkbox checkbox--square">
                    <input class="form__checkbox-btn" type="radio" name="clinic" value="0">
                    <span class="form__checkbox-text">Медэксперт на Московском</span>
                  </label>
                  <label class="checkbox checkbox--square">
                    <input class="form__checkbox-btn" type="radio" name="clinic" value="0">
                    <span class="form__checkbox-text">Медэксперт в Советске</span>
                  </label>
                  <label class="checkbox checkbox--square">
                    <input class="form__checkbox-btn" type="radio" name="clinic" value="0">
                    <span class="form__checkbox-text">Медэксперт на 9 Апреля</span>
                  </label>
                  <label class="checkbox checkbox--square">
                    <input class="form__checkbox-btn" type="radio" name="clinic" value="0">
                    <span class="form__checkbox-text">Доктор ЛОР</span>
                  </label>
                  <label class="checkbox checkbox--square">
                    <input class="form__checkbox-btn" type="radio" name="clinic" value="0">
                    <span class="form__checkbox-text">Стоматология Медэксперт</span>
                  </label>
                  <label class="checkbox checkbox--square">
                    <input class="form__checkbox-btn" type="radio" name="clinic" value="0">
                    <span class="form__checkbox-text">Лаборатория Медэксперт</span>
                  </label>
                </div>
                <label class="form__select-label only-mobile">
                  <select class="form__select" name="clinics">
                    <option disabled>В какую из клиник Вы обращались?</option>
                    <option value="">Медэксперт на Леонова</option>
                    <option value="">Медэксперт на Челнокова</option>
                    <option value="">Медэксперт на Космической</option>
                    <option value="">Медэксперт на Московском</option>
                    <option value="">Медэксперт в Советске</option>
                    <option value="">Медэксперт в Советске</option>
                    <option value="">Медэксперт на 9 Апреля</option>
                    <option value="">Доктор ЛОР</option>
                    <option value="">Стоматология Медэксперт</option>
                    <option value="">Лаборатория Медэксперт</option>
                  </select>
                </label>
              </div>
              <div class="columns__col--12 align-items-center mob-ai-start flex flex--mob-column gap-30">
                <button class="button review__form-btn order-m-2" type="submit" data-form-button>Отправить</button>
                <label class="checkbox checkbox--square checkbox--square-agreement order-m-1">
                  <input type="checkbox" name="agreement" value="yes" checked>
                  <span class="form__checkbox-text">Нажимая кнопку отправить вы соглашаетесь с&nbsp;
                <a href="#">Полититикой обработки персональных данных</a></span>
                </label>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
    <section class="section mb-100">
      <div class="container">
        <h2 class="title mb-40">Отзывы</h2>
        <div class="columns">
          <div class="columns__col--4 columns__col-tab--6 columns__col-mob--12">
            <article class="card card--review">
              <div class="card__content card--no-padding">
                <div class="card__title">Евгения</div>
                <div class="card__text card__text--14 card__text-lc card__text-lc--11">
                  <p>Хочу выразить благодарность замечательному неврологу, профессионалу своего дела. Меня давно
                    мучили головные боли, я не спала нормально. Обратилась к Туяне Батуевне. Она назначила
                    мучили головные боли, я не спала нормально. Обратилась к Туяне Батуевне. Она назначила
                    анализы, подобрала лечение. переживала за меня, беспокоилась. Все помогло и быстро! Очень
                    внимательный доктор с широким кругозором знаний. Туяна Батуевна, спасибо Вам огромное за
                    внимательный доктор с широким кругозором знаний. Туяна Батуевна, спасибо Вам огромное за
                    помощь, за поддержку, за образец высокого звания Врач. С глубоким уважением, Евгения.</p>
                </div>
                <div class="card__bottom card__bottom--line">
                  <address class="review-card__address mb-10">
                    <a target="_blank" href="https://yandex.ru/maps/-/CCUgb2hVCA">Медэксперт на Иванникова</a>
                  </address>
                  <p class="card__bottom-text--accent">Иваненко Людмила Борисовна</p>
                  <p class="card__bottom-text">Нефролог</p>
                </div>
              </div>
            </article>
          </div>
          <div class="columns__col--4 columns__col-tab--6 columns__col-mob--12">
            <article class="card card--review">
              <div class="card__content card--no-padding">
                <div class="card__title">Евгения</div>
                <div class="card__text card__text--14 card__text-lc card__text-lc--11">
                  <p>Хочу выразить благодарность замечательному неврологу, профессионалу своего дела. Меня давно
                    мучили головные боли, я не спала нормально. Обратилась к Туяне Батуевне. Она назначила
                    мучили головные боли, я не спала нормально. Обратилась к Туяне Батуевне. Она назначила
                    анализы, подобрала лечение. переживала за меня, беспокоилась. Все помогло и быстро! Очень
                    внимательный доктор с широким кругозором знаний. Туяна Батуевна, спасибо Вам огромное за
                    внимательный доктор с широким кругозором знаний. Туяна Батуевна, спасибо Вам огромное за
                    помощь, за поддержку, за образец высокого звания Врач. С глубоким уважением, Евгения.</p>
                </div>
                <div class="card__bottom card__bottom--line">
                  <address class="review-card__address mb-10">
                    <a target="_blank" href="https://yandex.ru/maps/-/CCUgb2hVCA">Медэксперт на Иванникова</a>
                  </address>
                  <p class="card__bottom-text--accent">Иваненко Людмила Борисовна</p>
                  <p class="card__bottom-text">Нефролог</p>
                </div>
              </div>
            </article>
          </div>
          <div class="columns__col--4 columns__col-tab--6 columns__col-mob--12">
            <article class="card card--review">
              <div class="card__content card--no-padding">
                <div class="card__title">Евгения</div>
                <div class="card__text card__text--14 card__text-lc card__text-lc--11">
                  <p>Хочу выразить благодарность замечательному неврологу, профессионалу своего дела. Меня давно
                    мучили головные боли, я не спала нормально. Обратилась к Туяне Батуевне. Она назначила
                    мучили головные боли, я не спала нормально. Обратилась к Туяне Батуевне. Она назначила
                    анализы, подобрала лечение. переживала за меня, беспокоилась. Все помогло и быстро! Очень
                    внимательный доктор с широким кругозором знаний. Туяна Батуевна, спасибо Вам огромное за
                    внимательный доктор с широким кругозором знаний. Туяна Батуевна, спасибо Вам огромное за
                    помощь, за поддержку, за образец высокого звания Врач. С глубоким уважением, Евгения.</p>
                </div>
                <div class="card__bottom card__bottom--line">
                  <address class="review-card__address mb-10">
                    <a target="_blank" href="https://yandex.ru/maps/-/CCUgb2hVCA">Медэксперт на Иванникова</a>
                  </address>
                  <p class="card__bottom-text--accent">Иваненко Людмила Борисовна</p>
                  <p class="card__bottom-text">Нефролог</p>
                </div>
              </div>
            </article>
          </div>
          <div class="columns__col--4 columns__col-tab--6 columns__col-mob--12">
            <article class="card card--review">
              <div class="card__content card--no-padding">
                <div class="card__title">Евгения</div>
                <div class="card__text card__text--14 card__text-lc card__text-lc--11">
                  <p>Хочу выразить благодарность замечательному неврологу, профессионалу своего дела. Меня давно
                    мучили головные боли, я не спала нормально. Обратилась к Туяне Батуевне. Она назначила
                    мучили головные боли, я не спала нормально. Обратилась к Туяне Батуевне. Она назначила
                    анализы, подобрала лечение. переживала за меня, беспокоилась. Все помогло и быстро! Очень
                    внимательный доктор с широким кругозором знаний. Туяна Батуевна, спасибо Вам огромное за
                    внимательный доктор с широким кругозором знаний. Туяна Батуевна, спасибо Вам огромное за
                    помощь, за поддержку, за образец высокого звания Врач. С глубоким уважением, Евгения.</p>
                </div>
                <div class="card__bottom card__bottom--line">
                  <address class="review-card__address mb-10">
                    <a target="_blank" href="https://yandex.ru/maps/-/CCUgb2hVCA">Медэксперт на Иванникова</a>
                  </address>
                  <p class="card__bottom-text--accent">Иваненко Людмила Борисовна</p>
                  <p class="card__bottom-text">Нефролог</p>
                </div>
              </div>
            </article>
          </div>
          <div class="columns__col--4 columns__col-tab--6 columns__col-mob--12">
            <article class="card card--review">
              <div class="card__content card--no-padding">
                <div class="card__title">Евгения</div>
                <div class="card__text card__text--14 card__text-lc card__text-lc--11">
                  <p>Хочу выразить благодарность замечательному неврологу, профессионалу своего дела. Меня давно
                    мучили головные боли, я не спала нормально. Обратилась к Туяне Батуевне. Она назначила
                    мучили головные боли, я не спала нормально. Обратилась к Туяне Батуевне. Она назначила
                    анализы, подобрала лечение. переживала за меня, беспокоилась. Все помогло и быстро! Очень
                    внимательный доктор с широким кругозором знаний. Туяна Батуевна, спасибо Вам огромное за
                    внимательный доктор с широким кругозором знаний. Туяна Батуевна, спасибо Вам огромное за
                    помощь, за поддержку, за образец высокого звания Врач. С глубоким уважением, Евгения.</p>
                </div>
                <div class="card__bottom card__bottom--line">
                  <address class="review-card__address mb-10">
                    <a target="_blank" href="https://yandex.ru/maps/-/CCUgb2hVCA">Медэксперт на Иванникова</a>
                  </address>
                  <p class="card__bottom-text--accent">Иваненко Людмила Борисовна</p>
                  <p class="card__bottom-text">Нефролог</p>
                </div>
              </div>
            </article>
          </div>
          <div class="columns__col--4 columns__col-tab--6 columns__col-mob--12">
            <article class="card card--review">
              <div class="card__content card--no-padding">
                <div class="card__title">Евгения</div>
                <div class="card__text card__text--14 card__text-lc card__text-lc--11">
                  <p>Хочу выразить благодарность замечательному неврологу, профессионалу своего дела. Меня давно
                    мучили головные боли, я не спала нормально. Обратилась к Туяне Батуевне. Она назначила
                    мучили головные боли, я не спала нормально. Обратилась к Туяне Батуевне. Она назначила
                    анализы, подобрала лечение. переживала за меня, беспокоилась. Все помогло и быстро! Очень
                    внимательный доктор с широким кругозором знаний. Туяна Батуевна, спасибо Вам огромное за
                    внимательный доктор с широким кругозором знаний. Туяна Батуевна, спасибо Вам огромное за
                    помощь, за поддержку, за образец высокого звания Врач. С глубоким уважением, Евгения.</p>
                </div>
                <div class="card__bottom card__bottom--line">
                  <address class="review-card__address mb-10">
                    <a target="_blank" href="https://yandex.ru/maps/-/CCUgb2hVCA">Медэксперт на Иванникова</a>
                  </address>
                  <p class="card__bottom-text--accent">Иваненко Людмила Борисовна</p>
                  <p class="card__bottom-text">Нефролог</p>
                </div>
              </div>
            </article>
          </div>
          <div class="columns__col--12 centered">
            <button class="button mt-10">Показать еще</button>
          </div>
        </div>
      </div>
    </section>
  </main>
  <%= htmlWebpackPlugin.options.sectionFooter %>
  <%= htmlWebpackPlugin.options.temp %>
</div>
</body>
</html>