<!DOCTYPE html>
<html lang="ru">
<head>
  <%= htmlWebpackPlugin.options.head %>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body class="body">
<%= htmlWebpackPlugin.options.sectionHeader %>
<main class="main">
  <section class="section">
    <div class="container">
      <div class="breadcrumbs mb-45 mbm-35">
        <a class="breadcrumbs__link" href="./">Главная</a>
        <a class="breadcrumbs__link" href="./">Услуги</a>
        <span class="breadcrumbs__curr-page">Акции</span>
      </div>
    </div>
  </section>
  <section class="section mb-100">
    <div class="container">
      <h1 class="title title--page mb-40 mbm-30">Акции и скидки</h1>
      <div class="sales-page">
        <div class="columns mb-50">
          <div class="columns__col--6 columns__col-tab--6 columns__col-mob--12">
            <a class="article-img card--bg" target="_blank" href="#">
              <div class="card--bg__content article-img__content">
                <div class="card__title">Скидка 20% на лабораторные услуги</div>
                <div class="card__content-bottom">
                  <p class="card--bg__link button button--empty">Подробнее</p>
                </div>
              </div>
              <img class="article-img__bg card--bg__bg" src="assets/images/news-pic-2.jpg" alt="">
            </a>
          </div>
          <div class="columns__col--6 columns__col-tab--6 columns__col-mob--12">
            <a class="article-img card--bg" target="_blank" href="#">
              <div class="card--bg__content article-img__content">
                <div class="card__title">Первичный прием
                  врача за 1250 рублей!
                </div>
                <div class="card__content-bottom">
                  <p class="card--bg__link button button--empty">Подробнее</p>
                </div>
              </div>
              <img class="article-img__bg card--bg__bg" src="assets/images/news-pic-2.jpg" alt="">
            </a>
          </div>
          <div class="columns__col--6 columns__col-tab--6 columns__col-mob--12">
            <a class="article-img card--bg" target="_blank" href="#">
              <div class="card--bg__content article-img__content">
                <div class="card__title">Ультразвуковая чистка полости рта за 2400 рублей!</div>
                <div class="card__content-bottom">
                  <p class="card--bg__link button button--empty">Подробнее</p>
                </div>
              </div>
              <img class="article-img__bg card--bg__bg" src="assets/images/sales-page-pic-3.jpg" alt="">
            </a>
          </div>
          <div class="columns__col--6 columns__col-tab--6 columns__col-mob--12">
            <a class="article-img card--bg" target="_blank" href="#">
              <div class="card--bg__content article-img__content">
                <div class="card__title">Скидка для ветеранов ВОВ и инвалидов 1 группы 60 %</div>
                <div class="card__content-bottom">
                  <p class="card--bg__link button button--empty">Подробнее</p>
                </div>
              </div>
              <img class="article-img__bg card--bg__bg" src="assets/images/sales-page-pic-4.jpg" alt="">
            </a>
          </div>
          <div class="columns__col--6 columns__col-tab--6 columns__col-mob--12">
            <a class="article-img card--bg" target="_blank" href="#">
              <div class="card--bg__content article-img__content">
                <div class="card__title">Скидка 20% на лабораторные услуги</div>
                <div class="card__content-bottom">
                  <p class="card--bg__link button button--empty">Подробнее</p>
                </div>
              </div>
              <img class="article-img__bg card--bg__bg" src="assets/images/news-pic-2.jpg" alt="">
            </a>
          </div>
          <div class="columns__col--6 columns__col-tab--6 columns__col-mob--12">
            <a class="article-img card--bg" target="_blank" href="#">
              <div class="card--bg__content article-img__content">
                <div class="card__title">Первичный прием
                  врача за 1250 рублей!
                </div>
                <div class="card__content-bottom">
                  <p class="card--bg__link button button--empty">Подробнее</p>
                </div>
              </div>
              <img class="article-img__bg card--bg__bg" src="assets/images/news-pic-2.jpg" alt="">
            </a>
          </div>
          <div class="columns__col--6 columns__col-tab--6 columns__col-mob--12">
            <a class="article-img card--bg" target="_blank" href="#">
              <div class="card--bg__content article-img__content">
                <div class="card__title">Ультразвуковая чистка полости рта за 2400 рублей!</div>
                <div class="card__content-bottom">
                  <p class="card--bg__link button button--empty">Подробнее</p>
                </div>
              </div>
              <img class="article-img__bg card--bg__bg" src="assets/images/sales-page-pic-3.jpg" alt="">
            </a>
          </div>
          <div class="columns__col--6 columns__col-tab--6 columns__col-mob--12">
            <a class="article-img card--bg" target="_blank" href="#">
              <div class="card--bg__content article-img__content">
                <div class="card__title">Скидка для ветеранов ВОВ и инвалидов 1 группы 60 %</div>
                <div class="card__content-bottom">
                  <p class="card--bg__link button button--empty">Подробнее</p>
                </div>
              </div>
              <img class="article-img__bg card--bg__bg" src="assets/images/sales-page-pic-4.jpg" alt="">
            </a>
          </div>
        </div>
        <a href="#" class="button button--245 centered">Показать еще</a>
      </div>
    </div>
  </section>
</main>
<%= htmlWebpackPlugin.options.sectionFooter %>
<%= htmlWebpackPlugin.options.temp %>
</body>
</html>