<!DOCTYPE html>
<html lang="ru">
<head>
  <%= htmlWebpackPlugin.options.head %>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body class="body">
<div class="main-container">
  <%= htmlWebpackPlugin.options.sectionHeader %>
  <main class="main">
    <section class="section">
      <div class="container">
        <div class="breadcrumbs">
          <a class="breadcrumbs__link" href="./">Главная</a>
          <span class="breadcrumbs__curr-page">Поиск</span>
        </div>
      </div>
    </section>
    <section class="section mb-60 mbm-30">
      <div class="container">
        <h1 class="title title--page mb-30">Поиск</h1>
        <div class="columns">
          <div class="columns__col--12">
            <div class="form search-page">
              <form action="#" data-search-form>
                <div class="search-page__wrapper">
                  <label class="form__label">
                    <input class="form__input" type="text" placeholder="Поиск">
                  </label>
                  <button class="button form__submit-btn mob-hidden" type="submit" data-search-btn>Найти</button>
                  <button class="search-page__submit-btn" type="submit" data-search-btn>
                    <svg>
                      <use xlink:href="assets/sprite/sprite.svg#icon-search"></use>
                    </svg>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section mb-110">
      <div class="container">
        <h2 class="title mb-40 mbm-20">Результаты поиска</h2>
        <article class="card-search">
          <div class="card-search__header">
            <p class="fz--24 fzm--20 fw--600">Медицина</p>
            <a href="#" class="button button--dark card-search__btn mob-hidden">Перейти</a>
          </div>
          <div class="card-search__content-wrapper">
            <div class="card-search__content">
              <p>Таким образом, высокотехнологичная концепция общественного Таким образом, высокотехнологичная концепция
                общественного Таким образом, высокотехнологичная концепция общественного <b>медицина</b> уклада создаёт
                предпосылки для
                стандартных подходов.
                Приятно, граждане, наблюдать, как многие известные личности лишь добавляют фракционных разногласий и
                смешаны
                Приятно, граждане, наблюдать, как многие известные личности лишь добавляют фракционных разногласий и
                смешаны
                Приятно, граждане, наблюдать, как многие известные личности лишь добавляют фракционных разногласий и
                смешаны
                с не уникальными данными до степени совершенной неузнаваемости, из-за чего возрастает их статус
                бесполезности. В рамках спецификации современных стандартов, стремящиеся вытеснить традиционное
                производство, нанотехнологии, вне зависимости от их уровня, должны быть подвергнуты целой серии
                независимых
                исследований.</p>

              <p>Таким образом, высокотехнологичная концепция общественного уклада создаёт предпосылки для стандартных
                подходов.
                Приятно, граждане, наблюдать, как многие известные личности лишь добавляют фракционных разногласий и
                смешаны
                с не уникальными данными до степени совершенной неузнаваемости, из-за чего возрастает их статус
                бесполезности. В рамках спецификации современных стандартов, стремящиеся вытеснить <b>медицина</b>
                традиционное
                производство, нанотехнологии, вне зависимости от их уровня, должны быть подвергнут <b>медицина</b> целой
                серии
                независимых исследований.</p>
            </div>
            <a href="#" class="button button--dark card-search__btn only-mobile">Перейти</a>
          </div>
        </article>
        <article class="card-search">
          <div class="card-search__header">
            <p class="fz--24 fzm--20 fw--600">Медицина</p>
            <a href="#" class="button button--dark card-search__btn mob-hidden">Перейти</a>
          </div>
          <div class="card-search__content-wrapper">
            <div class="card-search__content">
              <p>Таким образом, высокотехнологичная концепция общественного <b>медицина</b> уклада создаёт предпосылки
                для
                стандартных подходов.
                Приятно, граждане, наблюдать, как многие известные личности лишь добавляют фракционных разногласий и
                смешаны
                с не уникальными данными до степени совершенной неузнаваемости, из-за чего возрастает их статус
                бесполезности. В рамках спецификации современных стандартов, стремящиеся вытеснить традиционное
                производство, нанотехнологии, вне зависимости от их уровня, должны быть подвергнуты целой серии
                независимых
                исследований.</p>

              <p>Таким образом, высокотехнологичная концепция общественного уклада создаёт предпосылки для стандартных
                подходов.
                Приятно, граждане, наблюдать, как многие известные личности лишь добавляют фракционных разногласий и
                смешаны
                с не уникальными данными до степени совершенной неузнаваемости, из-за чего возрастает их статус
                бесполезности. В рамках спецификации современных стандартов, стремящиеся вытеснить <b>медицина</b>
                традиционное
                производство, нанотехнологии, вне зависимости от их уровня, должны быть подвергнут <b>медицина</b> целой
                серии
                независимых исследований.</p>
            </div>
            <a href="#" class="button button--dark card-search__btn only-mobile">Перейти</a>
          </div>
        </article>
      </div>
    </section>
  </main>
  <%= htmlWebpackPlugin.options.sectionFooter %>
  <%= htmlWebpackPlugin.options.temp %>
</div>
</body>
</html>