<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head>
  <%= htmlWebpackPlugin.options.head %>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body class="body">
<div class="main-container">
  <%= htmlWebpackPlugin.options.sectionHeader %>
  <main class="main">
    <section class="section">
      <div class="container">
        <div class="breadcrumbs">
          <a class="breadcrumbs__link" href="./">Главная</a>
          <span class="breadcrumbs__curr-page">Услуги</span>
        </div>
      </div>
    </section>
    <section class="section mb-90">
      <div class="container">
        <h1 class="title title--page">Услуги</h1>
        <form class="search mb-80" data-form>
          <label class="search__label">
            <input class="search__input" type="text" placeholder="Поиск по сайту">
          </label>
          <button class="search__button" type="submit">
            <svg class="search__icon">
              <use xlink:href="assets/sprite/sprite.svg#icon-search"></use>
            </svg>
          </button>
          <p class="search__text">Например: <span>общий анализ крови</span></p>
        </form>
        <div class="tabs" data-tabs-container>
          <div class="tabs__controls tabs__controls--line">
            <p class="tabs__trigger tabs__trigger--desk active" data-tabs-trigger data-tabs="tab-1">Для взрослых</p>
            <p class="tabs__trigger tabs__trigger--desk" data-tabs-trigger data-tabs="tab-2">Для детей</p>
          </div>
          <ul class="tabs__list">
            <li class="tabs__item active" id="tab-1" data-tabs-list>
              <!--            <p class="tabs__trigger tabs__trigger&#45;&#45;mob" data-tabs-trigger data-tabs="tab-1">Для взрослых</p>-->
              <ul class="tabs__item-list">
                <li class="tabs__item-item">
                  <a class="tabs__item-link" href="#">Ревматология</a>
                </li>
                <li class="tabs__item-item">
                  <a class="tabs__item-link" href="#">Спортивная медицина</a>
                </li>
                <li class="tabs__item-item">
                  <a class="tabs__item-link" href="#">Реабилитация</a>
                </li>
                <li class="tabs__item-item">
                  <a class="tabs__item-link" href="#">Терапия</a>
                </li>
                <li class="tabs__item-item">
                  <a class="tabs__item-link" href="#">Травматология-ортопедия</a>
                </li>
                <li class="tabs__item-item">
                  <a class="tabs__item-link" href="#">Урология</a>
                </li>
                <li class="tabs__item-item">
                  <a class="tabs__item-link" href="#">Физиотерапия</a>
                </li>
                <li class="tabs__item-item">
                  <a class="tabs__item-link" href="#">Флебология</a>
                </li>
                <li class="tabs__item-item">
                  <a class="tabs__item-link" href="#">Хирургия</a>
                </li>
                <li class="tabs__item-item">
                  <a class="tabs__item-link" href="#">Эндокринология</a>
                </li>
                <li class="tabs__item-item">
                  <a class="tabs__item-link" href="#">Аллергология</a>
                </li>
                <li class="tabs__item-item">
                  <a class="tabs__item-link" href="#">Иммунология</a>
                </li>
                <li class="tabs__item-item">
                  <a class="tabs__item-link" href="#">Гастроэнтерология</a>
                </li>
                <li class="tabs__item-item">
                  <a class="tabs__item-link" href="#">Гематология</a>
                </li>
                <li class="tabs__item-item">
                  <a class="tabs__item-link" href="#">Гинекология и акушерство</a>
                </li>
                <li class="tabs__item-item">
                  <a class="tabs__item-link" href="#">Дерматовенералогия</a>
                </li>
                <li class="tabs__item-item">
                  <a class="tabs__item-link" href="#">Иммунопрофилактика</a>
                </li>
                <li class="tabs__item-item">
                  <a class="tabs__item-link" href="#">Инфекционные заболевания</a>
                </li>
                <li class="tabs__item-item">
                  <a class="tabs__item-link" href="#">Кардиология</a>
                </li>
                <li class="tabs__item-item">
                  <a class="tabs__item-link" href="#">Массаж и ЛФК</a>
                </li>
                <li class="tabs__item-item">
                  <a class="tabs__item-link" href="#">Колопроктология</a>
                </li>
                <li class="tabs__item-item">
                  <a class="tabs__item-link" href="#">Диетология</a>
                </li>
                <li class="tabs__item-item">
                  <a class="tabs__item-link" href="#">Логопедия</a>
                </li>
                <li class="tabs__item-item">
                  <a class="tabs__item-link" href="#">Медосвидетельствование / справки</a>
                </li>
                <li class="tabs__item-item">
                  <a class="tabs__item-link" href="#">Маммология</a>
                </li>
                <li class="tabs__item-item">
                  <a class="tabs__item-link" href="#">Наркология</a>
                </li>
                <li class="tabs__item-item">
                  <a class="tabs__item-link" href="#">Неврология</a>
                </li>
                <li class="tabs__item-item">
                  <a class="tabs__item-link" href="#">Профпатология</a>
                </li>
                <li class="tabs__item-item">
                  <a class="tabs__item-link" href="#">Психиатрия</a>
                </li>
                <li class="tabs__item-item">
                  <a class="tabs__item-link" href="#">Профосмотры</a>
                </li>
                <li class="tabs__item-item">
                  <a class="tabs__item-link" href="#">Нефрология</a>
                </li>
                <li class="tabs__item-item">
                  <a class="tabs__item-link" href="#">Онкология</a>
                </li>
                <li class="tabs__item-item">
                  <a class="tabs__item-link" href="#">Отоларингология</a>
                </li>
                <li class="tabs__item-item">
                  <a class="tabs__item-link" href="#">Офтальмология</a>
                </li>
                <li class="tabs__item-item">
                  <a class="tabs__item-link" href="#">Педиатрия</a>
                </li>
                <li class="tabs__item-item">
                  <a class="tabs__item-link" href="#">Психотерапия</a>
                </li>
                <li class="tabs__item-item">
                  <a class="tabs__item-link" href="#">Пульмонология</a>
                </li>
              </ul>
            </li>
            <li class="tabs__item" id="tab-2" data-tabs-list>
              <!--            <p class="tabs__trigger tabs__trigger&#45;&#45;mob" data-tabs-trigger data-tabs="tab-2">Для детей</p>-->
              <ul class="tabs__item-list">
                <li class="tabs__item-item">
                  <a class="tabs__item-link" href="#">Наркология</a>
                </li>
                <li class="tabs__item-item">
                  <a class="tabs__item-link" href="#">Неврология</a>
                </li>
                <li class="tabs__item-item">
                  <a class="tabs__item-link" href="#">Профпатология</a>
                </li>
                <li class="tabs__item-item">
                  <a class="tabs__item-link" href="#">Психиатрия</a>
                </li>
                <li class="tabs__item-item">
                  <a class="tabs__item-link" href="#">Профосмотры</a>
                </li>
                <li class="tabs__item-item">
                  <a class="tabs__item-link" href="#">Нефрология</a>
                </li>
                <li class="tabs__item-item">
                  <a class="tabs__item-link" href="#">Онкология</a>
                </li>
                <li class="tabs__item-item">
                  <a class="tabs__item-link" href="#">Отоларингология</a>
                </li>
                <li class="tabs__item-item">
                  <a class="tabs__item-link" href="#">Офтальмология</a>
                </li>
                <li class="tabs__item-item">
                  <a class="tabs__item-link" href="#">Педиатрия</a>
                </li>
                <li class="tabs__item-item">
                  <a class="tabs__item-link" href="#">Психотерапия</a>
                </li>
                <li class="tabs__item-item">
                  <a class="tabs__item-link" href="#">Пульмонология</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <section class="section mb-80">
      <div class="container">
        <h2 class="title mb-30 mbm-40">Лабораторные исследования</h2>
        <div class="columns">
          <div class="columns__col--7 columns__col-tab--12 columns__col-mob--12 mbm-30">
            <div class="block-links column column--2">
              <a class="block-links__link" href="#">Аллергодиагностика</a>
              <a class="block-links__link" href="#">Бактериологические исследования</a>
              <a class="block-links__link" href="#">Биохимические исследования</a>
              <a class="block-links__link" href="#">Диагностика инфекционных возбудителей</a>
              <a class="block-links__link" href="#">Гормональные исследования и онкомаркеры</a>
              <a class="block-links__link" href="#">Общеклинические исследования</a>
              <a class="block-links__link" href="#">Патоморфология</a>
              <a class="block-links__link" href="#">ПЦР генетические исследования</a>
              <a class="block-links__link" href="#">ПЦР-диагностика в реальном времени</a>
              <a class="block-links__link" href="#">Иммуногематология</a>
              <a class="block-links__link" href="#">Иммунологические исследования</a>
              <a class="block-links__link" href="#">Исследования клеща</a>
              <a class="block-links__link" href="#">Комплексные исследования (для операций в том числе)</a>
              <a class="block-links__link" href="#">Напряженность иммунитета (тесты перед вакцинацией)</a>
              <a class="block-links__link" href="#">Профили исследований</a>
              <a class="block-links__link" href="#">Акции Лабораторная диагностика</a>
              <a class="block-links__link" href="#">Для детских медосмотров</a>
              <a class="block-links__link" href="#">Для диагностических пакетов</a>
              <a class="block-links__link" href="#">Генодиагностика</a>
            </div>
          </div>
          <div class="columns__col--1 tab-hidden mob-hidden"></div>
          <div class="columns__col--4 columns__col-tab--12">
            <a class="link-row link-row--big" href="#">
              <div class="link-row__content">
                <div class="link-row__text">
                  <p>Исследования</p>
                  <p>на СOVID-19</p>
                </div>
                <svg class="link-row__icon-round">
                  <use xlink:href="assets/sprite/sprite.svg#icon-link"></use>
                </svg>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>
    <section class="section mb-100">
      <div class="container">
        <div class="columns mb-30">
          <div class="columns__col--4 columns__col-tab--6 columns__col-mob--12">
            <a class="link-row link-row--small" href="#">
              <div class="link-row__content">
                <svg class="link-row__content-icon">
                  <use xlink:href="assets/sprite/sprite.svg#icon-med-1"></use>
                </svg>
                <div class="link-row__text">
                  <p>Диагностика</p>
                </div>
              </div>
              <svg class="link-row__icon-round">
                <use xlink:href="assets/sprite/sprite.svg#icon-link"></use>
              </svg>
            </a>
          </div>
          <div class="columns__col--4 columns__col-tab--6 columns__col-mob--12">
            <a class="link-row link-row--small" href="#">
              <div class="link-row__content">
                <svg class="link-row__content-icon">
                  <use xlink:href="assets/sprite/sprite.svg#icon-med-2"></use>
                </svg>
                <div class="link-row__text">
                  <p>Восстановление</p>
                </div>
              </div>
              <svg class="link-row__icon-round">
                <use xlink:href="assets/sprite/sprite.svg#icon-link"></use>
              </svg>
            </a>
          </div>
          <div class="columns__col--4 columns__col-tab--6 columns__col-mob--12">
            <a class="link-row link-row--small" href="#">
              <div class="link-row__content">
                <svg class="link-row__content-icon">
                  <use xlink:href="assets/sprite/sprite.svg#icon-med-3"></use>
                </svg>
                <div class="link-row__text">
                  <p>Первая помощь</p>
                </div>
              </div>
              <svg class="link-row__icon-round">
                <use xlink:href="assets/sprite/sprite.svg#icon-link"></use>
              </svg>
            </a>
          </div>
          <div class="columns__col--4 columns__col-tab--6 columns__col-mob--12">
            <a class="link-row link-row--small" href="#">
              <div class="link-row__content">
                <svg class="link-row__content-icon">
                  <use xlink:href="assets/sprite/sprite.svg#icon-med-4"></use>
                </svg>
                <div class="link-row__text">
                  <p>Программы для детей</p>
                </div>
              </div>
              <svg class="link-row__icon-round">
                <use xlink:href="assets/sprite/sprite.svg#icon-link"></use>
              </svg>
            </a>
          </div>
          <div class="columns__col--4 columns__col-tab--6 columns__col-mob--12">
            <a class="link-row link-row--small" href="#">
              <div class="link-row__content">
                <svg class="link-row__content-icon">
                  <use xlink:href="assets/sprite/sprite.svg#icon-med-5"></use>
                </svg>
                <div class="link-row__text">
                  <p>Вакцинация</p>
                </div>
              </div>
              <svg class="link-row__icon-round">
                <use xlink:href="assets/sprite/sprite.svg#icon-link"></use>
              </svg>
            </a>
          </div>
          <div class="columns__col--4 columns__col-tab--6 columns__col-mob--12">
            <a class="link-row link-row--small" href="#">
              <div class="link-row__content">
                <svg class="link-row__content-icon">
                  <use xlink:href="assets/sprite/sprite.svg#icon-med-6"></use>
                </svg>
                <div class="link-row__text">
                  <p>Медицинские программы</p>
                </div>
              </div>
              <svg class="link-row__icon-round">
                <use xlink:href="assets/sprite/sprite.svg#icon-link"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="columns">
          <div class="columns__col--4 columns__col-mob--12">
            <a class="link-row link-row--blank" href="#">
              <div class="link-row__content">
                <svg class="link-row__content-icon">
                  <use xlink:href="assets/sprite/sprite.svg#icon-price"></use>
                </svg>
                <div class="link-row__text">
                  <p>Цены по направлениям</p>
                </div>
              </div>
            </a>
          </div>
          <div class="columns__col--4 columns__col-mob--12">
            <a class="link-row link-row--blank" href="#">
              <div class="link-row__content">
                <svg class="link-row__content-icon">
                  <use xlink:href="assets/sprite/sprite.svg#icon-price-list"></use>
                </svg>
                <div class="link-row__text">
                  <p>Скачать прайс лист</p>
                </div>
              </div>
            </a>
          </div>
          <div class="columns__col--4 columns__col-mob--12">
            <a class="link-row link-row--blank" href="#">
              <div class="link-row__content">
                <svg class="link-row__content-icon">
                  <use xlink:href="assets/sprite/sprite.svg#icon-sales"></use>
                </svg>
                <div class="link-row__text">
                  <p>Акции</p>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>
  </main>
  <%= htmlWebpackPlugin.options.sectionFooter %>
  <%= htmlWebpackPlugin.options.temp %>
</div>
</body>
</html>