<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head>
  <%= htmlWebpackPlugin.options.head %>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body class="body">
<%= htmlWebpackPlugin.options.sectionHeader %>
<main class="main">
  <section class="section mb-55 mbm-35">
    <div class="container">
      <div class="breadcrumbs">
        <a class="breadcrumbs__link" href="./">Главная</a>
        <a class="breadcrumbs__link" href="./">Новости</a>
        <span class="breadcrumbs__curr-page">Налоговый вычет</span>
      </div>
    </div>
  </section>
  <section class="section mb-100">
    <div class="container">
      <h1 class="title title--page mb-50">Оформление документов для получения вычета</h1>
      <div class="columns">
        <div class="columns__col--9 columns__col-tab--12">
          <div class="editor editor--18 mb-35 mbm-20">
            <h3 class="fz--24 fzm--18 fw--500 mb-25">Мы перешли на электронный документооборот</h3>
            <p>Консультации по справкам по электронной почте не ведутся. Все пересылаемые документы соответствуют
              законодательству РФ.</p>
            <p>Заявки на оформление справок для получения налогового вычета (в свободной форме) присылайте на адрес <a
              href="mailto:nalog@mdx39.ru">nalog@mdx39.ru</a></p>
          </div>
          <div class="color-block color-block--pink justify-content-center mb-50 mbm-25">
            <p>По телефону заявки не принимаются!</p>
          </div>
          <div class="editor editor--18 mb-30">
            <h3 class="fz--24 fzm--18 fw--500 mb-25">Стадии оформления налогового вычета:</h3>
            <p class="fw--500">&mdash; Заполнение заявки</p>
            <p>Заявка составляется в произвольной форме.</p>
            <p>В заявке указываются <b>только запрашиваеммые данные:</b></p>
            <ul class="list list--line mb-40">
              <li>полное ФИО налогоплательщика;</li>
              <li>дата рождения налогоплательщика;</li>
              <li>год, за который оформляется налоговый вычет (не больше трёх лет);</li>
              <li>контактный телефон (для обратной связи)</li>
            </ul>
            <p>Если налогоплательщик и пациент разные лица, в заявке <b>обязательно</b> указать:</p>
            <ul class="list list--line">
              <li>полное ФИО заявителя (налогоплательщика);</li>
              <li>полное ФИО пациента;</li>
              <li>дату рождения пациента;</li>
              <li>год, за который оформляется налоговый вычет (не более трёх лет);</li>
              <li>контактный телефон заявителя.</li>
            </ul>
          </div>
          <div class="color-block color-block--pink mb-30">
            <div class="flex flex--column">
              <p>Внимательно и полностью указывайте данные в заявке!</p>
              <p>Если информация в заявке приведена не полностью, заявка не может быть рассмотрена!</p>
            </div>
          </div>
          <div class="editor editor--18 mb-30">
            <p class="fw--500">&mdash; Отправка заявки на почту: <a class="color--green link link--underline"
                                                                    href="mailto: nalog@mdx39.ru"> nalog@mdx39.ru</a>
            </p>
            <p>Заполненную и проверенную заявку Вы отправляете <b>со своего адреса</b> электронной почты на электронную
              почту <a class="color--green link link--underline fw--400" href="mailto: nalog@mdx39.ru"> nalog@mdx39.ru</a></p>
          </div>
          <div class="editor editor--18 mb-40">
            <p class="fw--500 mb-20">&mdash; Получение документов</p>
            <div class="color-block color-block--pink mb-30">
              <p>Пакет документов будет выслан на ту электронную почту, с которой Вы отправляли заявку на получение
                налогового вычета. Пожалуйста, проверяйте весь пакет документов.</p>
            </div>
          </div>
          <div class="editor editor--18 mb-30">
            <p>Примерный срок готовности справок – 15 рабочих дней.</p>
            <p> Данный пакет документов Вы можете САМОСТОЯТЕЛЬНО переслать в <a
              class="color--green link link--underline fw--400"
              href="https://www.nalog.gov.ru/rn77/taxation/taxes/ndfl/nalog_vichet/soc_nv/soc_nv_pm/">Федеральную
              Налоговую Службу по
              инструкции.</a></p>
            <p>Наиболее удобный способ заполнения налоговой декларации или заявления и представления таких документов в
              налоговый орган - в режиме онлайн посредством <a class="color--green link link--underline fw--400"
                                                               href="https://lkfl2.nalog.ru/lkfl/">интернет-сервиса
                «Личный кабинет налогоплательщика для
                физических лиц».</a></p>
            <p>Согласно <a class="color--green link link--underline fw--400"
                           href="https://nkrfkod.ru/zakonodatelstvo/pismo-fns-rossii-ot-25032022-n-bs-4-113605/">Письму
              Министерства финансов РФ от 25.03.2022г.</a>, договор на оказание медицинских услуг и
              лицензия не обязательны.</p>
          </div>
          <div class="color-block color-block--green">
            <p>«Конкретный перечень документов, подтверждающих право налогоплательщиков на получение социального
              налогового вычета по расходам на медицинские услуги, Кодексом не установлен.Таким образом, в случае
              представления налогоплательщиком в налоговый орган Справки об оплате медицинских услуг непредставление
              налогоплательщиком соответствующего договора на оказание медицинских услуг и (или) документов,
              подтверждающих оплату, не может являться основанием для отказа в предоставлении такого вычета»</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<%= htmlWebpackPlugin.options.sectionFooter %>
<%= htmlWebpackPlugin.options.temp %>
</body>
</html>