.docs-detail {
  &__picture {
    height: rem(324);
    max-width: rem(270);
    border-radius: rem(20);
    overflow: hidden;
    @include r(767) {
      height: rem(390);
      max-width: none;
      margin-bottom: rem(15);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: rem(620);
    height: rem(324);
    @include r(767) {
      height: auto;
    }
  }

  &__card-wrapper-btns {
    display: flex;
    align-items: center;
    @include r(767) {
      flex-wrap: wrap;
      justify-content: space-between;
      row-gap: rem(25);
    }
  }

  &__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__links--top {
    width: 100%;
    max-width: rem(310);
  }

  &__links--bottom {
    width: 100%;
    max-width: rem(425);
    margin-bottom: rem(30);
    @include r(767) {
      flex-direction: column;
      align-items: flex-start;
      row-gap: rem(25);
    }

    a {
      text-decoration: underline;
      text-underline-offset: 3px;
    }
  }

  &__btn {
    height: rem(60) !important;
    @include r(767) {
      height: rem(50) !important;
    }
  }
}