.news-page {
  &__intro-picture {
    @include r(767) {
      height: rem(300);
      bottom: 0;
    }
  }
  &__intro-button {
    width: rem(188);
    @include r(767) {
      width: rem(160);
    }
  }
}