@import "modules/body/body";
@import "modules/breadcrumbs/breadcrumbs";
@import "modules/header/header";
@import "modules/mob-menu/mob-menu";
@import "modules/service-block/service-block";
@import "modules/columns/columns";
@import "modules/column/column";
@import "modules/fancybox/fancybox";
@import "modules/container/container";
@import "modules/footer/footer";

//BLOCKS
@import "modules/accent-block/accent-block";
@import "modules/address/address";
@import "modules/answer/answer";
@import "modules/appointment/appointment";
@import "modules/article/article";
@import "modules/article-address/article-address";
@import "modules/article-img/article-img";
@import "modules/block-links/block-links";
@import "modules/block-scroll/block-scroll";
@import "modules/card/card";
@import "modules/card-eco/card-eco";
@import "modules/card-gallery/card-gallery";
@import "modules/card-lab/card-lab";
@import "modules/card-news/card-news";
@import "modules/card-search/card-search";
@import "modules/clinics-map/clinics-map";
@import "modules/calendar/calendar";
@import "modules/collapse/collapse";
@import "modules/color-block/color-block";
@import "modules/docs-detail/docs-detail";
@import "modules/section/section";
@import "modules/labs/labs";
@import "modules/lk/lk";
@import "modules/link-row/link-row";
@import "modules/main/main";
@import "modules/nav/nav";
@import "modules/news/news";
@import "modules/page-intro/page-intro";
@import "modules/price-block/price-block";
@import "modules/rating/rating";
@import "modules/review/review";
@import "modules/review-card/review-card";
@import "modules/search-header/search-header";
@import "modules/search-page/search-page";
@import "modules/search/search";
@import "modules/tabs/tabs";
@import "modules/tel/tel";
@import "modules/grid/grid";
@import "modules/icon/icon";
@import "modules/intro-slider/intro-slider";
@import "modules/sales-block/sales-block";
@import "modules/sales-block-slider/sales-block-slider";
@import "modules/slider/slider";
@import "modules/userpic-circle/userpic-circle";
@import "modules/video-content/video-content";

//UI
@import "modules/button/button";
@import "modules/button-plus/button-plus";
@import "modules/button-reset/button-reset";
@import "modules/form/form";
@import "modules/checkbox/checkbox";
@import "modules/input/input";
@import "modules/logo/logo";
@import "modules/link/link";

//EDITOR
@import "modules/editor/editor";
@import "modules/title/title";
@import "modules/img/img";
@import "modules/list/list";

// PAGES
@import "modules/about/about";
@import "modules/advisors/advisors";
@import "modules/license/license";
@import "modules/services/services";
@import "modules/services-detail/services-detail";
@import "modules/history/history";
@import "modules/vacancy/vacancy";
@import "modules/not-found/not-found";
@import "modules/news-page/news-page";
@import "modules/news-detail/news-detail";

//MODALS
@import "modules/lab-price/lab-price";