.card-eco {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: rem(50) rem(40);
  height: rem(300);
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  transition: all .3s ease-in-out;

  &:hover {
    .card-eco__icon:before,
    .card-eco__icon:after {
      animation-name: scale;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
    .card-eco__icon {
      transform: scale(1.1);
    }
  }

  &__icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: rem(35);
    left: rem(20);
    transition: all .3s ease-in-out;

    svg {
      position: relative;
      z-index: 3;
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: rem(347);
      height: rem(347);
      border-radius: 50%;
      z-index: 0;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: rem(225);
      height: rem(225);
      border-radius: 50%;
      z-index: 1;
    }
  }

  &__title {
    font-size: rem(32);
    font-weight: 500;
    margin-bottom: rem(25);
  }

  &__text {
    max-width: rem(276);
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 10;

    time {
      font-weight: 400;
    }
  }

  &__link {
    position: absolute;
    bottom: rem(30);
    right: rem(40);
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &--wide__bottom {
    position: absolute;
    bottom: rem(0);
    width: calc(100% - 80px);
  }

  &--wide {
    height: rem(185);
    padding: rem(30) rem(40);

    .card-eco__icon {
      top: rem(-20);
      left: rem(-280);
    }

    .card-eco__icon:after {
      width: rem(320);
      height: rem(320);
    }

    .card-eco__icon:before {
      width: rem(494);
      height: rem(494);
    }

    .card-eco__title {
      margin-bottom: rem(5);
    }
  }

  &--tel {
    background-color: #F2F4F6;

    .card-eco__icon svg {
      width: rem(100);
      height: rem(100);
    }

    .card-eco__icon:after {
      background-color: #548CF6;
    }

    .card-eco__icon:before {
      background-color: #DEECF4;
    }
  }

  &--telegram {
    background-color: #E8F6FD;

    .card-eco__icon svg {
      width: rem(110);
      height: rem(90);
    }

    .card-eco__icon:after {
      background-color: #2AA1DD;
    }

    .card-eco__icon:before {
      background-color: #D5EEFA;
    }
  }

  &--viber {
    background-color: #DFD5EC;

    .card-eco__icon svg {
      width: rem(100);
      height: rem(115);
    }

    .card-eco__icon:after {
      background-color: #864CB2;
    }

    .card-eco__icon:before {
      background-color: #D6C8E7;
    }
  }

  &--callback {
    background-color: #EDF8E9;

    .card-eco__icon svg {
      width: rem(80);
      height: rem(80);
    }

    .card-eco__icon:after {
      background-color: #4DBB26;
    }

    .card-eco__icon:before {
      background-color: #DEF3D6;
    }
  }

  &--vk {
    background-color: #CCE3FD;

    .card-eco__icon svg {
      width: rem(105);
      height: rem(70);
    }

    .card-eco__icon:after {
      background-color: #548CF6;
    }

    .card-eco__icon:before {
      background-color: #C0DBFD;
    }
  }
}

@keyframes scale {
  0% {
    transform: translate(-50%, -50%) scale(1)
  }
  30% {
    transform: translate(-50%, -50%) scale(1.1)
  }
  60% {
    transform: translate(-50%, -50%) scale(1.2)
  }
  90% {
    transform: translate(-50%, -50%) scale(1.1)
  }
  100% {
    transform: translate(-50%, -50%) scale(1)
  }
}