.block-links {
  &__link {
    display: block;
    width: 100%;
    text-decoration: none;
    font-size: rem(16);
    font-weight: 300;
    margin-bottom: rem(11);
    &:last-child {
      margin-bottom: 0;
    }
  }
}