.news {
  padding: rem(40) rem(100) rem(55);
  border-radius: rem(10);
  background-color: #F2F4F6;
  @include r(1200) {
    padding: rem(40) rem(20);
  }
  @include r(767) {
    padding: rem(43) rem(23) rem(40);
  }

  &__title {
    margin-bottom: rem(40);
    @include r(767) {
      margin-bottom: rem(30);
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: rem(20);
  }
}