<!DOCTYPE html>
<html lang="ru">

<head>
  <%= htmlWebpackPlugin.options.head %>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body class="body">
<div class="main-container">
  <%= htmlWebpackPlugin.options.sectionHeader %>
  <main class="main main--index">
    <section class="section  mb-50 mbm-35">
      <div class="container container--no-padding">
        <div class="intro-slider slider" data-slider data-slider-slides="1" data-slider-slides-tab="1" data-slider-slides-mob="1">
          <div class="swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="intro-slider__slide">
                  <a href="#">
                    <div class="intro-slider__content">
                      <div class="intro-slider__content-wrapper">
                        <p class="title title--page">Стоматология</p>
                        <p class="title title--page">для детей и взрослых</p>
                      </div>
                      <p class="intro-slider__text"></p>
                      <a href="#" class="button">Подробнее</a>
                    </div>
                    <picture class="intro-slider__picture">
                      <source media="(max-width:767px)" srcset="assets/images/banner-intro-1-mob.jpg">
                      <img src="assets/images/banner-intro-1.jpg" alt="">
                    </picture>
                  </a>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="intro-slider__slide">
                  <a href="#">
                    <div class="intro-slider__content">
                      <div class="intro-slider__content-wrapper">
                        <p class="title title--page">Стоматология</p>
                        <p class="title title--page">для детей и взрослых</p>
                      </div>
                      <p class="intro-slider__text"></p>
                      <a href="#" class="button">Подробнее</a>
                    </div>
                    <picture class="intro-slider__picture">
                      <source media="(max-width:767px)" srcset="assets/images/banner-intro-1-mob.jpg">
                      <img src="assets/images/banner-intro-1.jpg" alt="">
                    </picture>
                  </a>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="intro-slider__slide">
                  <a href="#">
                    <div class="intro-slider__content">
                      <div class="intro-slider__content-wrapper">
                        <p class="title title--page">Стоматология</p>
                        <p class="title title--page">для детей и взрослых</p>
                      </div>
                      <p class="intro-slider__text"></p>
                      <a href="#" class="button">Подробнее</a>
                    </div>
                    <picture class="intro-slider__picture">
                      <source media="(max-width:767px)" srcset="assets/images/banner-intro-1-mob.jpg">
                      <img src="assets/images/banner-intro-1.jpg" alt="">
                    </picture>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="slider__pagination" data-slider-pagination></div>
        </div>
      </div>
    </section>
    <section class="section mb-85 mbm-70">
      <div class="container">
        <form class="search" action="#" method="post" data-form>
          <label class="search__label">
            <input class="search__input" type="text" placeholder="Поиск по сайту">
          </label>
          <button class="search__button" type="submit">
            <svg class="search__icon">
              <use xlink:href="assets/sprite/sprite.svg#icon-search"></use>
            </svg>
          </button>
          <p class="search__text">Например: <span>общий анализ крови</span></p>
        </form>
      </div>
    </section>
    <section class="section mb-80">
      <div class="container">
        <div class="services">
          <h1 class="title mb-40">Медицинские услуги сети клиник “Медэксперт”</h1>
          <div class="columns columns--gap-mob-10">
            <div class="columns__col--6 columns__col-tab--6 columns__col-mob--12">
              <div class="services__article" style="background-color: #E0ECF9">
                <picture class="services__picture">
                  <img src="assets/images/cat-1.jpg" alt="">
                </picture>
                <div class="services__title">Хирургия</div>
                <div class="services__info">
                  <p>Разнообразный и богатый опыт рамки и место обучения кадров способствует подготовки и реализации
                    новых предложений.</p>
                </div>
              </div>
            </div>
            <div class="columns__col--3 columns__col-tab--6 columns__col-mob--12">
              <div class="services__article" style="background-color: #F9EFE0">
                <picture class="services__picture">
                  <img src="assets/images/cat-2.jpg" alt="">
                </picture>
                <div class="services__title">Кардиология</div>
                <div class="services__info">
                  <p>Разнообразный Разнообразный и богатый опыт рамки и место обучения кадров способствует</p>
                </div>
              </div>
            </div>
            <div class="columns__col--3 columns__col-tab--6 columns__col-mob--12">
              <div class="services__article" style="background-color: #F6E9E9">
                <picture class="services__picture">
                  <img src="assets/images/cat-3.jpg" alt="">
                </picture>
                <div class="services__title">Логопедия</div>
                <div class="services__info">
                  <p>Разнообразный и богатый опыт рамки рамки рамки и место обучения обучения кадров способствует </p>
                </div>
              </div>
            </div>
            <div class="columns__col--3 columns__col-tab--6 columns__col-mob--12">
              <div class="services__article" style="background-color: #F5E9F6">
                <picture class="services__picture">
                  <img src="assets/images/cat-4.jpg" alt="">
                </picture>
                <div class="services__title">Отоларингология</div>
                <div class="services__info">
                  <p>Разнообразный и богатый опыт рамки и место обучения кадровреализации новых
                    предложений.</p>
                </div>
              </div>
            </div>
            <div class="columns__col--3 columns__col-tab--6 columns__col-mob--12">
              <div class="services__article" style="background-color: #F6F6E9">
                <picture class="services__picture">
                  <img src="assets/images/cat-5.jpg" alt="">
                </picture>
                <div class="services__title">Педиатрия</div>
                <div class="services__info">
                  <p>Разнообразный и богатый опыт рамки и место способствует подготовки и реализации новых
                    предложений.</p>
                </div>
              </div>
            </div>
            <div class="columns__col--6 columns__col-tab--6 columns__col-mob--12">
              <div class="services__article" style="background-color: #E0E5F9">
                <picture class="services__picture">
                  <img src="assets/images/cat-6.jpg" alt="">
                </picture>
                <div class="services__title">Психотерапия</div>
                <div class="services__info">
                  <p>Разнообразный и богатый обучения кадров способствует подготовки и реализации новых
                    предложений.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section mb-80 mbm-110">
      <div class="container">
        <div class="slider slider--sales-block" data-slider data-slider-slides="2">
          <div class="swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <a class="sales-block__article article-img" href="#">
                  <div class="article-img__content">
                    <div class="sales-block__title">Экономим по выходным!</div>
                    <div class="sales-block__info">
                      <p>Комплексные лабораторные исследования </p>
                      <p>со скидкой до 50%</p>
                    </div>
                    <p class="sales-block__link">читать
                      <svg>
                        <use xlink:href="assets/sprite/sprite.svg#icon-link"></use>
                      </svg>
                    </p>
                  </div>
                  <img class="article-img__bg" src="assets/images/card-sale-1.jpg" alt="">
                </a>
              </div>
              <div class="swiper-slide">
                <a class="sales-block__article article-img" href="#">
                  <div class="article-img__content">
                    <div class="sales-block__title">Выгодная и удобная диагностика за 1 день!</div>
                    <div class="sales-block__info">
                      <p>диагностические пакеты</p>
                    </div>
                    <p class="sales-block__link">читать
                      <svg>
                        <use xlink:href="assets/sprite/sprite.svg#icon-link"></use>
                      </svg>
                    </p>
                  </div>
                  <img class="article-img__bg" src="assets/images/card-sale-2.jpg" alt="">
                </a>
              </div>
              <div class="swiper-slide">
                <a class="sales-block__article article-img" href="#">
                  <div class="article-img__content">
                    <div class="sales-block__title">Выгодная и удобная диагностика за 1 день!</div>
                    <div class="sales-block__info">
                      <p>диагностические пакеты</p>
                    </div>
                    <p class="sales-block__link">читать
                      <svg>
                        <use xlink:href="assets/sprite/sprite.svg#icon-link"></use>
                      </svg>
                    </p>
                  </div>
                  <img class="article-img__bg" src="assets/images/card-sale-2.jpg" alt="">
                </a>
              </div>
              <div class="swiper-slide">
                <a class="sales-block__article article-img" href="#">
                  <div class="article-img__content">
                    <div class="sales-block__title">Экономим по выходным!</div>
                    <div class="sales-block__info">
                      <p>Комплексные лабораторные исследования </p>
                      <p>со скидкой до 50%</p>
                    </div>
                    <p class="sales-block__link">читать
                      <svg>
                        <use xlink:href="assets/sprite/sprite.svg#icon-link"></use>
                      </svg>
                    </p>
                  </div>
                  <img class="article-img__bg" src="assets/images/card-sale-1.jpg" alt="">
                </a>
              </div>
              <div class="swiper-slide">
                <a class="sales-block__article article-img" href="#">
                  <div class="article-img__content">
                    <div class="sales-block__title">Выгодная и удобная диагностика за 1 день!</div>
                    <div class="sales-block__info">
                      <p>диагностические пакеты</p>
                    </div>
                    <p class="sales-block__link">читать
                      <svg>
                        <use xlink:href="assets/sprite/sprite.svg#icon-link"></use>
                      </svg>
                    </p>
                  </div>
                  <img class="article-img__bg" src="assets/images/card-sale-2.jpg" alt="">
                </a>
              </div>
            </div>

          </div>
          <div class="slider__pagination slider__pagination--sales-block" data-slider-pagination></div>
        </div>
      </div>
    </section>
    <section class="section mb-80 mbm-35">
      <div class="container container--no-padding">
        <div class="columns columns--gap-mob-20">
          <div class="columns__col--6 columns__col-tab--6 columns__col-mob--12">
            <aside class="news">
              <div class="news__title title">Последние новости</div>
              <div class="news__inner">
                <a class="card card--md" href="#">
                  <picture class="card__picture">
                    <img src="assets/images/news-pic-1.jpg" alt="">
                  </picture>
                  <div class="card__content">
                    <div class="card__title">Название новости</div>
                    <div class="card__text--14 card__text-lc card__text-lc--3">
                      <p>Таким образом консультация с широким активом в значительной степени обуславливает создание
                        соответствующий условий активизации.</p>
                    </div>
                    <div class="card__content-bottom">
                      <time class="news__article-time" datetime="2023-01-24">24.01.23</time>
                    </div>
                  </div>
                </a>
                <a class="card card--md" href="#">
                  <picture class="card__picture">
                    <img src="assets/images/news-pic-2.jpg" alt="">
                  </picture>
                  <div class="card__content">
                    <div class="card__title">Название новости</div>
                    <div class="card__text--14 card__text-lc card__text-lc--3">
                      <p>Таким образом консультация с широким активом в значительной степени обуславливает создание
                        соответствующий условий активизации.</p>
                      <p>Таким образом консультация с широким активом в значительной степени обуславливает создание
                        соответствующий условий активизации.</p>
                    </div>
                    <div class="card__content-bottom">
                      <time class="news__article-time" datetime="2023-01-24">24.01.23</time>
                    </div>
                  </div>
                </a>
              </div>
            </aside>
          </div>
          <div class="columns__col--6 columns__col-tab--6 columns__col-mob--12">
            <div class="answer">
              <div class="answer__title title">Ответы на вопросы</div>
              <div class="answer__collapse collapse" data-collapse data-duration="700">
                <div class="answer__collapse-wrapper collapse__wrapper">
                  <div class="collapse__item answer__item" data-collapse-item>
                    <div class="collapse__trigger answer__trigger" data-collapse-trigger>
                      <p>Каким способом вшивается сетчатый имплантат при герниопластике пупочной грыжи</p>
                      <span class="button-plus active" data-collapse-icon></span>
                    </div>
                    <div class="collapse__content answer__content collapse-show" data-collapse-content
                         style="transition: max-height 700ms ease 0s; max-height: 140px; height: 140px;">
                      <div class="collapse__inner answer__collapse-inner">
                        <p>Для пупочной грыжи методом выбора является метод IPOMМы используем
                          протез Reperen - самораскрывающийся композитный двухслойный нерезорбируемый эндопротез.
                          Соответственно, протез располагается непосредственно в брюшинной полости касается органов
                          специальным антиадгезивным покрытием Reperen</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="answer__collapse-wrapper collapse__wrapper">
                  <div class="collapse__item answer__item" data-collapse-item>
                    <div class="collapse__trigger answer__trigger" data-collapse-trigger>
                      <p>Как можно купировать болевой синдром при проктите и геморрое?</p>
                      <span class="button-plus" data-collapse-icon></span>
                    </div>
                    <div class="collapse__content answer__content" data-collapse-content>
                      <div class="collapse__inner answer__collapse-inner">
                        <p>Для пупочной грыжи методом выбора является метод IPOMМы используем
                          протез Reperen - самораскрывающийся композитный двухслойный нерезорбируемый эндопротез.
                          Соответственно, протез располагается непосредственно в брюшинной полости касается органов
                          специальным антиадгезивным покрытием Reperen</p>
                        <p>Для пупочной грыжи методом выбора является метод IPOMМы используем
                          протез Reperen - самораскрывающийся композитный двухслойный нерезорбируемый эндопротез.
                          Соответственно, протез располагается непосредственно в брюшинной полости касается органов
                          специальным антиадгезивным покрытием Reperen</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="answer__collapse-wrapper collapse__wrapper">
                  <div class="collapse__item answer__item" data-collapse-item>
                    <div class="collapse__trigger answer__trigger" data-collapse-trigger>
                      <p>Дочь прошла обследование и обнаружилась киста</p>
                      <span class="button-plus" data-collapse-icon></span>
                    </div>
                    <div class="collapse__content answer__content" data-collapse-content>
                      <div class="collapse__inner answer__collapse-inner">
                        <p>Для пупочной грыжи методом выбора является метод IPOMМы используем
                          протез Reperen - самораскрывающийся композитный двухслойный нерезорбируемый эндопротез.
                          Соответственно, протез располагается непосредственно в брюшинной полости касается органов
                          специальным антиадгезивным покрытием Reperen</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="answer__collapse-wrapper collapse__wrapper">
                  <div class="collapse__item answer__item" data-collapse-item>
                    <div class="collapse__trigger answer__trigger" data-collapse-trigger>
                      <p>Могу ли я снова заболеть ветрянкой?</p>
                      <span class="button-plus" data-collapse-icon></span>
                    </div>
                    <div class="collapse__content answer__content" data-collapse-content>
                      <div class="collapse__inner answer__collapse-inner">
                        <p>Для пупочной грыжи методом выбора является метод IPOMМы используем
                          протез Reperen - самораскрывающийся композитный двухслойный нерезорбируемый эндопротез.
                          Соответственно, протез располагается непосредственно в брюшинной полости касается органов
                          специальным антиадгезивным покрытием Reperen</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="answer__collapse-wrapper collapse__wrapper">
                  <div class="collapse__item answer__item" data-collapse-item>
                    <div class="collapse__trigger answer__trigger" data-collapse-trigger>
                      <p>Как можно купировать болевой синдром при проктите и геморрое?</p>
                      <span class="button-plus" data-collapse-icon></span>
                    </div>
                    <div class="collapse__content answer__content" data-collapse-content>
                      <div class="collapse__inner answer__collapse-inner">
                        <p>Для пупочной грыжи методом выбора является метод IPOMМы используем
                          протез Reperen - самораскрывающийся композитный двухслойный нерезорбируемый эндопротез.
                          Соответственно, протез располагается непосредственно в брюшинной полости касается органов
                          специальным антиадгезивным покрытием Reperen</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="answer__bottom">
                <a class="answer__bottom-link" href="#">
                  <p>Все ответы врачей</p>
                  <svg>
                    <use xlink:href="assets/sprite/sprite.svg#icon-link"></use>
                  </svg>
                </a>
                <a class="button" href="#">Задать вопрос</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section mb-80">
      <div class="container">
        <div class="review">
          <div class="columns">
            <div class="columns__col--6 columns__col-tab--6 columns__col-mob--12">
              <div class="review__content">
                <h3 class="title review__title">Спасибо доктор!</h3>
                <div class="review__text">
                  <p>Напишите свой отзыв и помогите другим пациентам найти своего врача, а нам стать лучше для вас!</p>
                </div>
                <a href="reviews.html" class="button review__btn">Оставить отзыв</a>
              </div>
            </div>
            <div class="columns__col--6 columns__col-tab--6 columns__col-mob--12">
              <picture class="review__picture">
                <img src="assets/images/review-pic.png" alt="">
              </picture>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section mb-95 mbm-85">
      <div class="container">
        <h3 class="title address__title">Филиалы и адреса</h3>
        <div class="address">
          <div class="columns">
            <div class="columns__col--5 columns__col-tab--5 columns__col-mob--12 align-self-center">
              <ul class="address__list">
                <li class="address__item">
                  <div class="address__item-title">Медэксперт на Сельме</div>
                  <a class="address__item-text" target="_blank" href="https://yandex.ru/maps/-/CCUg5-snDD">ул. Франца
                    Лефорта, 12, Калининград, Калининградская обл., 236029</a>
                  <a class="address__item-tel" href="tel:+740122519000">+7 (4012) 251-90-00 </a>
                </li>
                <li class="address__item">
                  <div class="address__item-title">Медэксперт на Пражской</div>
                  <a class="address__item-text" target="_blank" href="https://yandex.ru/maps/-/CCUg5-snDD">ул. Франца
                    Лефорта, 12, Калининград, Калининградская обл., 236029</a>
                  <a class="address__item-tel" href="tel:+740122519000">+7 (4012) 251-90-00 </a>
                </li>
                <li class="address__item">
                  <div class="address__item-title">Медэксперт на Леонова</div>
                  <a class="address__item-text" target="_blank" href="https://yandex.ru/maps/-/CCUg5-snDD">ул. Франца
                    Лефорта, 12, Калининград, Калининградская обл., 236029</a>
                  <a class="address__item-tel" href="tel:+740122519000">+7 (4012) 251-90-00 </a>
                </li>
                <li class="address__item">
                  <div class="address__item-title">Медэксперт на Сельме</div>
                  <a class="address__item-text" target="_blank" href="https://yandex.ru/maps/-/CCUg5-snDD">ул. Франца
                    Лефорта, 12, Калининград, Калининградская обл., 236029</a>
                  <a class="address__item-tel" href="tel:+740122519000">+7 (4012) 251-90-00 </a>
                </li>
                <li class="address__item">
                  <div class="address__item-title">Медэксперт на Сельме</div>
                  <a class="address__item-text" target="_blank" href="https://yandex.ru/maps/-/CCUg5-snDD">ул. Франца
                    Лефорта, 12, Калининград, Калининградская обл., 236029</a>
                  <a class="address__item-tel" href="tel:+740122519000">+7 (4012) 251-90-00 </a>
                </li>
                <li class="address__item">
                  <div class="address__item-title">Медэксперт на Сельме</div>
                  <a class="address__item-text" target="_blank" href="https://yandex.ru/maps/-/CCUg5-snDD">ул. Франца
                    Лефорта, 12, Калининград, Калининградская обл., 236029</a>
                  <a class="address__item-tel" href="tel:+740122519000">+7 (4012) 251-90-00 </a>
                </li>
                <li class="address__item">
                  <div class="address__item-title">Медэксперт на Сельме</div>
                  <a class="address__item-text" target="_blank" href="https://yandex.ru/maps/-/CCUg5-snDD">ул. Франца
                    Лефорта, 12, Калининград, Калининградская обл., 236029</a>
                  <a class="address__item-tel" href="tel:+740122519000">+7 (4012) 251-90-00 </a>
                </li>
                <li class="address__item">
                  <div class="address__item-title">Медэксперт на Сельме</div>
                  <a class="address__item-text" target="_blank" href="https://yandex.ru/maps/-/CCUg5-snDD">ул. Франца
                    Лефорта, 12, Калининград, Калининградская обл., 236029</a>
                  <a class="address__item-tel" href="tel:+740122519000">+7 (4012) 251-90-00 </a>
                </li>
                <li class="address__item">
                  <div class="address__item-title">Медэксперт на Сельме</div>
                  <a class="address__item-text" target="_blank" href="https://yandex.ru/maps/-/CCUg5-snDD">ул. Франца
                    Лефорта, 12, Калининград, Калининградская обл., 236029</a>
                  <a class="address__item-tel" href="tel:+740122519000">+7 (4012) 251-90-00 </a>
                </li>
                <li class="address__item">
                  <div class="address__item-title">Медэксперт на Сельме</div>
                  <a class="address__item-text" target="_blank" href="https://yandex.ru/maps/-/CCUg5-snDD">ул. Франца
                    Лефорта, 12, Калининград, Калининградская обл., 236029</a>
                  <a class="address__item-tel" href="tel:+740122519000">+7 (4012) 251-90-00 </a>
                </li>
                <li class="address__item">
                  <div class="address__item-title">Медэксперт на Сельме</div>
                  <a class="address__item-text" target="_blank" href="https://yandex.ru/maps/-/CCUg5-snDD">ул. Франца
                    Лефорта, 12, Калининград, Калининградская обл., 236029</a>
                  <a class="address__item-tel" href="tel:+740122519000">+7 (4012) 251-90-00 </a>
                </li>
              </ul>
            </div>
            <div class="columns__col--7 columns__col-tab--7 columns__col-mob--12">
              <div class="address__map">
                <iframe
                  src="https://yandex.ru/map-widget/v1/?um=constructor%3Ac4ae7f32a1fb4c6ae5da3d7395135fa2eb50aa76c3cc2cd527a2675303351f23&amp;source=constructor"
                  width="100%" height="100%" frameborder="0"></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <%= htmlWebpackPlugin.options.sectionFooter %>
  <%= htmlWebpackPlugin.options.temp %>
</div>
</body>

</html>