.intro-slider {
  position: relative;
  border-radius: rem(10);
  overflow: hidden;
  width: 100%;
  height: rem(400);
@include r(767) {
  height: 100vh;
  max-height: rem(615);
  border-radius: 0;
}
  &__slide {
    height:rem(400);
    @include r(767) {
      height: 100vh;
      max-height: rem(615);
    }
  }

  &__picture {
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-position: center;
      object-fit: cover;
    }
  }

}