.card-search {
  border-radius: 10px;
  margin-bottom: rem(30);

  &:hover {
    background-color: #F2F4F6;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: rem(40) rem(60);
    border-bottom: 2px solid #DBE2EA;
  }

  &__content {
    padding: rem(40) rem(60) rem(65);
  }

  &__btn {
    padding: rem(13.5) rem(70) !important;
  }

  p + p {
    margin-top: rem(15);
  }

  mark {
    color: #EF7F1A;
    font-weight: 600;
  }
}